.header-home{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  @media (min-width: $screen-md-min) {
  border-bottom: 1px solid $brand-success;
  }
  background-color: $body-bg;
  z-index: 2;
  .menu{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
    margin-top: 0px;
    ul{
      list-style:none;
      position:relative;
      left:50%;
      li{
        text-transform: uppercase;
        a{
          color: $text-color;
          padding: 14px;
          padding-top: 36px;
          font-size: 11px;
          @media (min-width: $screen-md-min) {
              font-size: 14px;
              padding: 25px;
          }
          &:hover{
            color: $brand-success;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.banner-home{
  // margin-top: 70px;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  @media (min-width: $screen-md-min) {
    height: 600px;
    // margin-top: 190px;
  }
  img{
    width: 200px;
    @media (min-width: $screen-md-min) {
        // width: auto;
        width: 46%;
        margin-right: 50px;
    }
  }
  .content-quemsomos{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    text-align: right;
    z-index: 3;
    margin-top: 234px;
    padding-right: 131px;
    margin-left: 60px;
    @media (min-width: $screen-md-min) {
        margin-top: 235px;
        margin-left: 0px;
        left: -14%;
    }
    .btn{
      color: $body-bg;
      width: 135px;
      margin-top: 20px;
      margin-right: 62px;
      margin-left: 80px;
      @media (min-width: $screen-md-min) {
          width: 230px;
          margin-left: 0;
      }
    }
  }
  .col-1{
    background-color: $text-color;
    // @include transform(skewX(-25deg));
    width: 67%;
    position: absolute;
    top: 0;
    left: -17%;
    text-align: center;
    padding: 30px;
    color: $body-bg;
    z-index: 2;
    height: 100%;
    border-right: 1px solid $body-bg;
    overflow: hidden;
    @media (min-width: $screen-md-min) {
        width: 44%;
        border-right: 1px solid white;
        // left: -10%;
    }
    .bg{
      background-image: url('../img/banner-quemsomos.jpg');
      // @include transform(skewX(25deg));
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 230px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .mask{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: $text-color;
      @include opacity(.8);
    }
  }
  .col-2{
    // background-color: $brand-success;
    // @include transform(skewX(-25deg));
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    @media (min-width: $screen-md-min) {
        width: 92%;
        right: -19%;
        // right: -11%;
    }
    h1{
      @include transform(skewX(25deg));
    }
    .linha-1, .linha-2{
      height: 50%;
      height: 50%;
      position: relative;
    }
    .linha-1{
      background-color: $body-bg;
      .bg{
        background-image: url('../img/banner-proama.jpg');
        @include transform(skewX(25deg));
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: -126px;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: $text-color;
        @include opacity(.7);
      }
      .content{
        position: absolute;
        top: 26px;
        left: 93px;
        z-index: 3;
        color: $body-bg;
        .barra-vermelha{
          background-color: $brand-danger;
          display: block;
          width: 103px;
          height: 50px;
          margin-bottom: 11px;
        }
        h3{
          margin: 0;
          a{
            @include transform(skewX(25deg));
            color: $body-bg;
            text-indent: 8px;
            display: block;
            span{
              font-weight: 200;
            }
          }
        }
        p{
          line-height: 19px;
          padding-left: 9px;
          span{
          }
        }
        .btn{
          @include transform(skewX(5deg));
          color: $body-bg;
          width: 75%;
          margin-left: 13px;
          @media (min-width: $screen-sm-min) {
              width: 100%;
          }
        }
      }
    }
    .linha-2{
      .mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,0.2);
        @include background-image(linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0.2)));
      }
      .content{
        position: absolute;
        top: 61px;
        left: 103px;
        z-index: 2;
        h3{
          a{
            @include transform(skewX(25deg));
            color: $body-bg;
            text-indent: 8px;
            display: block;
          }
        }
        .btn{
          @include transform(skewX(5deg));
          color: $body-bg;
          width: 100%;
          margin-left: 13px;
        }
      }
    }
  }
}

// canvas network effect
canvas {
  width: 100%;
  height: 100%;
}

ul.navbar-social{
  padding-top: .5em;
      margin-bottom: 0;
      display: none;
   @media (min-width: $screen-md-min) {
    display: block;
   }
  li{
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    a{
      color: lighten($text-color, 30%);
      height: 20px;
      display: block;
      background-repeat: no-repeat;
      font-size: 10px;

      &:before{
        @include fa-icon();
        width: 22px;
        height: 30px;
        font-size: 16px;
        @include border-radius(15px);
        color: lighten($text-color, 30%);
        padding-top: 7px;
        text-align: center;
        // background-color: lighten($gray-base, 60%);
        @include transition-property(background-color);
        @include transition-duration(0.6s);
      }
      &:hover{
        text-decoration: underline;
      }
    }
    &.facebook a{
      &:before{
        content: '\f09a';
      }
      &:hover:before{
        // background-color: #3B5998;
      }
    }
    &.twitter a{
      &:before{
        content: '\f099';
      }
      &:hover:before{
        // background-color: #55ACEE;
      }
    }
    &.youtube a{
      &:before{
        content: '\f16a';
      }
      &:hover:before{
        // background-color: #E62817;
      }
    }
    &.instagram a{
      &:before{
        content: '\f16d';
      }
      &:hover:before{
        // background-color: #E62817;
      }
    }
    &.flickr a{
      &:before{
        content: '\f16e';
      }
      &:hover:before{
        // background-color: #FF0084;
      }
    }
    &.linkedin a{
      &:before{
        content: '\f0e1';
      }
      &:hover:before{
        // background-color: #007AB9;
      }
    }
    &.googleplus a{
      &:before{
        content: '\f0d5';
      }
      &:hover:before{
        // background-color: #DC4E41;
      }
    }
    &.contato a{
      &:before{
        content: '\f003';
      }
      &:hover:before{
        // background-color: #DC4E41;
      }
    }
  }
}

// box-buscar
  .box-buscar{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparentize($text-color, .5);
    top: 0;
    left: 0;
    display: block;
    z-index: 99999;
    border: 0 solid $text-color;
    visibility: hidden;
    opacity: 0;
    @include transition-property(visibility, border, opacity, background-color);
    @include transition-duration(1s);
    .form{
      width: 50%;
      height: 100%;
      text-align: center;
      float: right;
      margin: 0 auto;
      display: block;
      margin-right: 25%;
      margin-top: 44%;
      @include transition-property(margin-right, width);
      @include transition-duration(1s);
      @media (min-width: $screen-sm-min) {
        margin-top: 15%;
      }
      .form-control{
        background: transparent;
        @include border-radius(0);
        @include box-shadow(none);
        border: 0;
        border-bottom: 3px solid $body-bg;
        text-align: center;
        font-size: 30px;
        height: 60px;
        color: $body-bg;

        @media (min-width: $screen-sm-min){
            font-size: 40px;
        }
      }
      .help{
        color: darken($body-bg, 30%);
      }
    }
    // quando o box-buscar for ativo
    &.active{
      visibility: visible;
      opacity: 1;
      background-color: transparentize($text-color, .05);
      border: 30px solid $text-color;
      @media (min-width: $screen-sm-min) {
        border: 70px solid $text-color;
      }
      .form{
        width: 80%;
        margin-right: 10%;
        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
           width: 70%;
           margin-right: 15%;
         }
      }
    }
    .btn{
      border-color: $body-bg;
      font-size: 17px;
      color: $body-bg;
      &:hover{
        border-color: $brand-success;
      }
      &:focus, &:active{
        color: $body-bg;
      }
    }
    .btnFechar{
      width: 50px;
      height: 50px;
      display: block;
      position: fixed;
      top: 46px;
      right: 46px;
      cursor: pointer;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         width: 70px;
         height: 70px;
         top: 80px;
         right: 80px;
       }
      &:after{
        content: '';
        width: 100%;
        height: 4px;
        background-color: $body-bg;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        transform: rotate(45deg);
      }
      &:before{
        content: '';
        width: 100%;
        height: 4px;
        background-color: $body-bg;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        transform: rotate(-45deg);
      }
    }
  }
// / box-buscar

.social2{
  margin-right: 90px;
  text-transform: uppercase;
}
.buscar2{
  font-size: 24px;
  padding: 21px;
  padding-right: 0;
  padding-top: 47px;
  color: white;
  position: absolute;
  right: 50px;
  @media (min-width: $screen-md-min) {
      color: $brand-success;
      position:inherit;
  }
}
.newslettler{
  color: #7b9daf;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  font-size: 10px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
  .fa{
    padding-right: 7px;
  }
}

.banner-widht {
  .post{
    height: 500px;
    width: 100%;
    @media(min-width: $screen-md-min){
      width: 80%;
      height: 600px;
    }
  }
}
