.scroll-pointer{
  position: fixed;
  width: 1px;
  height: 1px;
  // background-color: black;
  top: 50%;
  left: 0;
  z-index: 99999999;
  opacity: 0;
  
}

.scroll-ani{
  visibility: hidden;
  &.aniok{
    visibility: visible;
  }
}
