@import "_variables";

.navbar-brand{
  img{
    width: auto;
    max-width: 170px;
  } 
}
.botao-banner{
    left: 50%;  
    position: absolute;
    margin-left: -125px;
    font-size: 20px !important;
    bottom: 7em;
    @media (max-width: 767.98px){
      bottom: 5em;
    }      
}
//titulo home  
.titulo{ 
  border: 1px solid $second-color;
  width: 30%;
} 

.div1{ 
  margin-top: 21px;
  @media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation:landscape) {
    margin-top: 73px;
  }
  @media screen and (max-width: 767.98px) and (orientation:portrait) {
    margin-top: 21px;
  }  
  .myCarousel-principal{
    margin-top: 73px;
    margin-bottom: 50px; 
    position: relative; 
    .carousel-inner .item{
      height: 550px;
      @media (max-width: 768.98px) and (orientation: portrait){
        height: 500px;
      }
      @media (max-width: 700px) and (orientation: landscape){
        height: 500px;
      }
      background-image: unset;  
      img{
        width: 100%;  
      }
    }
    .carousel-indicators{
      z-index: 5;
      bottom: 20px;
      @media (max-width: 399.98px){
        bottom: 0px;
      }
      @media (max-width: 700px) and (orientation: landscape){
        bottom: 0;
      }
      @media (min-width: 768px){
        bottom: 20px;
      }
    } 
    .carousel-indicators li{
      width: 20px;
      height: 20px;
      margin: 0 4px;
      border: none;
      background-color: white;
    }
    .carousel-indicators .active{
      width: 20px;
      height: 20px;
      background-color: #F3A83A;
    }
    .item{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      h1{
        color: white;  
        @media (max-width: 350px){
          margin-top: 0;
          font-size: 32px;
        }      
      }
      p{
        color: white;   
        font-size: 22px;
        line-height: 24px;
        @media (max-width: 350px){
          font-size: 18px;
        }    
      }
      .carousel-caption{
        top: 20%;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        left: 17%;
        z-index: 1;
        @media (max-width: 399.98px){
          top: 1%;
          width: 90%;
          left: 5%;
        }
        @media (min-width: 400px) and (max-width: 575.98px){
          top: 5%;
          width: 90%;
          left: 5%;
        }
        @media (min-width: 576px) and (max-width: 767.98px){
          width: 80%;
          top: 10%;
          left: 11%;
        }
        @media (min-width: 768px) and (max-width: 1199.98px){
          width: 80%;
          top: 15%;
          left: 10%;
        }          
      }
      &:nth-child(3){
        .carousel-caption{
          width: 65%;
          top: 15%;
          margin-left: auto;
          margin-right: auto;
          left: 17%;
          @media (max-width: 399.98px){
            width: 90%;
            left: 5%;
          }
          @media (max-width: 767.98px){
            width: 90%;
            top: 0%;
            left: 5%;
          } 
          @media (min-width: 768px) and (max-width: 1199.98px){
            width: 80%;
            top: 8%;
            left: 10%;
          }                                                                     
        }
        .col{
          width: 33%;
          padding: 0 25px;
          float: left;
          line-height: 22px;
          font-size: 20px;
          img{
            width: 25%;
            @media (max-width: 767.98px){
              width: 50%;
            }            
          }
          @media (max-width: 399.98px){
            line-height: 16px;
            font-size: 12px;
            padding: 0 2px;
          }
          @media (min-width: 400px) and (max-width: 767.98px){
            font-size: 14px;
            padding: 0 5px;
          }
          @media (max-width: 900px) and (orientation: landscape){
            bottom: 20%;
            top: 560px;
          }
          @media (min-width: 768px) and (max-width: 1999.98px){
            font-size: 16px;
            padding: 0 10px;
          }                 
        }
      }
    }
    .botao-banner{
      bottom: 20%;
      color: white;
      text-shadow: none;
      @media (max-width: 349.98px){
        font-size: 18px!important;
        margin-left: -117px;
        bottom: 10% !important;
      }    
      @media (max-width: 1999.98px){
        bottom: 15%;
      }      
    }
  }
}

#grano-carousel .item, #grano-carousel .owl-item, #grano-carousel .owl-wrapper, #grano-carousel .owl-wrapper-outer, #grano-carousel-conteudo .item, #grano-carousel-conteudo .owl-item, #grano-carousel-conteudo .owl-wrapper, #grano-carousel-conteudo .owl-wrapper-outer{
  height: 100vh;
  margin-bottom: 5em;
  @media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation:landscape) {
    height: 140vh !important;
    margin-bottom: 5em;
  }
}

//paragrafo dentro da div2
.paragrafo-div{
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  padding: 15px;
  @media(max-width: 575.98px){
    padding-left: 30px;
    padding-right: 30px;
  }
}
//botão da home
.div2{
  padding-top: 50px;
  .container{
    margin-bottom: 10em;
  }
  .botao{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
  }
  img{
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all .5s cubic-bezier(.86,-.365,.07,1.345);
    transition-timing-function: cubic-bezier(.86,-.365,.07,1.345);
  }
  img:hover{
    transform: scale(1.2);
  }  
}

//efeito fade
.div-fade{
  @media (min-width: 992px) { 
    opacity: 0;
  }
}
  
.solucoes-div {
  animation: fadeTop .7s ease-in;
}
   
@Keyframes fadeTop {
  from {
    opacity: 0;
    top: -60px; 
    left: 0;
  }
  to { 
    opacity: 1;
    top: 0px;
  }
}

.fade-left {
  animation: fadeLeft .7s ease-in;
}
   
@Keyframes fadeLeft {
  from {
    opacity: 0;
    top: 0px; 
    left: -60px;
  }
  to { 
    opacity: 1;
    top: 0px;
    left: 0px;
  }
}

.fade-right {
  animation: fadeRight 1.7s ease-in;
}
   
@Keyframes fadeRight {
  from {
    opacity: 0;
    top: 0px; 
    right: -60px;
  }
  to { 
    opacity: 1;
    top: 0px;
    rigth: 0px; 
  }
}  

.div3{
  background-image: url('../img/home-noticia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:100px;
  @media(max-width: 414px){
    padding:50px;
  }
  @media(min-width: 415px) and (max-width: 767px){
    padding: 80px;
  }
  .col-noticias-left{ 
    padding-top: 40px;
    animation: pound 5.0s infinite;
    animation-delay: 1s;
    @media(max-width: 575.98px){
      top: 0;
      margin-top: 0;
      margin-bottom: 50px;
      padding-top: 30px;
    }
    @media(min-width: 415px) and (max-width: 768px){
        margin-top: -90px;
    }
    ul{
      padding-left: 0;
    }
    .categoria-post{
      font-size: 20px;
      color: $second-color;
      margin-bottom: 0;
      font-weight: 700;
      list-style: none;
    }
    .titulo-post{
      color: white;
      font-size: 38px;
      font-weight: 700;
      line-height: 42px;
      @media (max-width: 575.98px){
        font-size: 28px;
      }
    }
    .excerpt-post{
      color: white;
      font-size: 26px; 
      line-height: 30px;
      margin-bottom: 50px;
      @media (max-width: 575.98px){
        font-size: 20px;
      }
    }
  }
  .col-noticias-right{
    margin-top:30px;
    background-color: $primary-color;
    padding: 43px;
    animation: pound 5.0s infinite;
    animation-delay: 4s;
    @media (max-width: 575.98px){
      top: 0;
      margin-top: 0;
      margin-bottom: 0px;
      padding-top: 40px;
    }
    p{
      &:nth-child(1){
        font-size: 38px;
        line-height: 40px;
        font-weight: 700;
        color: $second-color;
        @media (max-width: 575.98px){
          font-size: 28px;
        }
      }
      &:nth-child(2){
        color: #fff;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 50px;
        @media (max-width: 575.98px){
          font-size: 20px;
        }
      }
    }

  }
}

@media (min-width: 575.98px){
  @keyframes pound {
    from { transform: none;}
    50% { transform: scale(1.05); }
    to { transform: none; }
  }
} 


.div4{
  padding-top: 3em;
  .container{
    margin-bottom: 0;
  }
  .botao{
    display: inherit;
    margin-top: 70px;
  }
  h2{
    margin-bottom: 0px;
    font-size: 32px;
    @media (max-width: 575.98px){
      font-size: 28px;
    }
    @media (min-width: 768px) and (max-width: 1199.98px){
      font-size: 30px; 
    }    
  }
  .hide-bullets {
    list-style: none;
    margin-left: -5px;
    margin-top: 20px;
    .col-sm-3{
      padding: 0px 5px 0px 5px;
      position: relative;
      width: 25%;
      display: inline-grid;
      a{
        min-height: 70px;
        border: 1px solid $second-color;
        border-radius: 0px;
        cursor: pointer;
        background: #fff;
      }
      @media (max-width: 575.98px){
        padding: 0 3px;
        position: relative;
        width: 22%;
      }
    }
  }
  .carousel-inner{
    width: 370px;
    height: 360px;
    float: left;
    border: 1px solid $second-color;
    background:#fff;
    @media(max-width: 991px){
      width: 100%;
      height: 360px; 
      margin-bottom: 35px;
    }
  }
  .carousel-inner .item-div4{
    background: none;
    width: 370px;
    height: 360px;   
    position: relative; 
    img{
      position: absolute; 
      max-width: 300px; 
      max-height: 300px;
      left: 50%;
      top: 50%;
      margin-left: -150px;
      @media(max-width: 380.98px){
        margin-left: -160px;
        max-width: 230px; 
      }
      @media (min-width: 381px) and (max-width: 399.98px){
        margin-left: -145px;
        max-width: 230px; 
      }
      @media(min-width: 400px) and (max-width: 499.98px){
        margin-left: -160px;
        max-width: 285px;
      }
      @media(min-width: 500px) and (max-width: 600px){
        margin-left: -25%;
      }
      @media(min-width: 601px) and (max-width: 700px){
        margin-left: -20%;
      }
      @media(min-width: 701px) and (max-width: 767px){
        margin-left: -10%;
      }
      @media(min-width: 768px) and (max-width: 1200px){
        margin-left: -155px;
      }
    }
    &:nth-child(1){
      img{
        margin-top: -92px;
      }
    }
    &:nth-child(2){
      img{
        margin-top: -45px;
      }
    }
    &:nth-child(3){
      img{
        margin-top: -30px;
      }
    }
  }

  #carousel-text{
    p{
      line-height: 25px;
      font-size: 22px;
      color: $primary-color;
      margin-top: 10px;
    }
  }
  .thumbnail>img{
    max-width: 70px;
    max-height: 50px;
    margin-left: -34px;
    position: absolute;
    top: 50%;
    left: 50%;
    @media(max-width: 575.98px){
      max-width: 38px;
      max-height: 50px;
      margin-left: -18px;
    }
    @media (min-width: 992px) and (max-width: 1199.98px){
      max-width: 58px;
      max-height: 50px;
      margin-left: -29px;
    }   
  }
  #carousel-selector-0 img{
    margin-top: -35px;
  }
  #carousel-selector-1 img{
    margin-top: -23px;
  }
  #carousel-selector-2 img{
    margin-top: -19px;
  }
  #carousel-selector-3 img{
    margin-top: -40px;
  }
  #slider-thumbs{
    .col-sm-6{
      position: relative;
      button{
        position: absolute;
        font-size: 20px;
        top: 0;
        left: 50%;
        margin-left: -30%;
        margin-top: -45px;
        @media(min-width: 768px) and (max-width: 992){
          margin-left: -20%;
          margin-top: 15px;
        }
        @media(max-width: 992px){
          left: 0;
          margin-left: 25px;
          margin-top: 0;
        }
      }   
      .test{
        position: absolute;
        font-size: 20px;
        top: 0;
        left: 50%;
        margin-left: -30%;
        margin-top: -45px; 
        @media(max-width: 767.98px){
          position: relative;
          margin-left: auto;
          margin-right: auto;
          font-size: 17px;
          left: 0;
          margin-top: 0;
        }
        @media(min-width: 768px) and (max-width: 991.98px){
          margin-left: 15px;
          margin-top: 0px;
          left: 0;
        }
        @media(min-width: 992px) and (max-width: 1199.98px){
          font-size: 18px;
          top: 0;
          left: 52%;
          margin-left: -31%;
          margin-top: -20px;
        }
      }
    }
  }
  .slide-content{
    padding: 0px 25px;
  }
  #carousel-bounding-box{
    margin-right: 0px;
    @media(max-width: 992px){
      margin-right: 0px;
    }
  }
}

.item-onebase{
  img{
    width: 425px;
    height: auto !important;
    margin-top: -140px;
  }
}

.div5{
.container{
  margin-bottom: 80px;
}
  .categorias-blog{
    margin-left: 0;
    margin-bottom: 30px;
    button{
      display: inline;
      margin-right: 15px;
      @media(max-width: 575.98px){
        margin-right: 5px;
      }
      &:nth-child(2){
        background: none;
        color: $primary-color;
        font-weight: unset;
        transition: none;
      }
      &:nth-child(3){
        background: none;
        color: $primary-color;
        font-weight: unset;
        transition: none;
      }
    }
  }
  .botao{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 17px;
  }
  .titulo{
    width: 32%;
  }
  h3{
    a{
      color: $primary-color;
    }
  }
  a{
    color: $second-color;
  }
}
//categorias dos posts
.lista-categoria{
  list-style: none;
  padding-left: 0px;
  color: $second-color;
  margin-bottom: 0px;
}
//conteúdo dentro do post na home
.excerpt{
  padding: 15px;
  p{
    a{
      color: $second-color;
    }
  }
}
.posts{
  margin-bottom: 50px;
  .thumb{
    img{
      width: 100%;
      height: 300px;
    }
  }
}
//div6 contato
.div6{
.container{
  margin-bottom: 10em;
}
  h3{
    font-weight: 700;
    color: $second-color;
    margin: 0;
  }
  .titulo{
    width: 18%;
  }
  .contato{
    @media(min-width: $screen-sm-min){
      margin-left: 30px;
      padding-right: 100px;
    }
    input, textarea{
      border-radius: 25px;
      height: auto !important;
      width: 100%;
      border: 1px solid gray;
      margin-bottom: 3px;
      padding: 5px 12px;
    }
    .wpcf7-form-control{
      -webkit-transition: -webkit-transform .8s ease;
      transition: transform .8s ease;
    } 
    .wpcf7-submit{
      font-weight: 700 !important;
      font-size: 18px !important;
      border: none;
      outline: none;
      &:focus{
        background-color: #F3A83A;
      }
    }
    .botao{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      border: none;
    }
    .mc-field-group{
      width: 100%;
      border: none;
    }  
  }
  .padding{
    padding: 15px;
    @media(min-width: $screen-sm-min){
      padding: 0px;
    }
    p{
      font-size: 16px;
      &:nth-child(2){
        margin-bottom: 0;
      }    
    }

  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'PT Sans', sans-serif;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'PT Sans', sans-serif;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'PT Sans', sans-serif;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'PT Sans', sans-serif;
  }
}

// Banner Div 1
.item{
  width: 100%;
  background-image: url('../img/home-banner-1.jpg');
  h1{
    font-size: 36px;
    @media (min-width: 768px) {
      font-size: 55px;
    }
  }
  &.item-3{
    padding-top: 12em !important;
    @media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation:landscape) {
      padding-top: 2em !important;
    }
    @media screen and (max-width: 767.98px) and (orientation:portrait){
      padding-top: 5em !important;
    }
    @media (min-width: 1800px){
      padding-top: 22em !important;
    }
  }
  .conteudo{
    // padding: 250px;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 40px;
    color: white;
    line-height: 24px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px; 
    a{
      color: white !important;
    }
    .col{
      display: inline-block;
      width: 32%;
      text-align: center;
      vertical-align: top;
      padding-top: 0;
      font-size: 14px;
      line-height: 17px;
      padding-right: 5px;
      padding-left: 5px;
      @media (max-width: 575.98px){
        width: 30%;
      }
      @media (min-width: $screen-sm-min) {
        padding-right: 50px;
        padding-left: 50px;
        font-size: 20px;
        line-height: 22px;
      }
      img{
        margin: 0 auto;
        margin-top: 10px;
        // celular
        width: 50px;
        margin-bottom: 13px;
        @media (min-width: $screen-sm-min) {margin-bottom: 10px; width: 70px;}
      }
      &:first-child{
        padding-left: 0;
        padding-right: 5px;
        /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-sm-min) {padding-right: 70px; }
      }
      &:last-child{
        padding-right: 0;

        padding-left: 5px;
        @media (min-width: $screen-sm-min) {padding-left: 70px;}
      }
    }
    @media (min-width: $screen-sm-min) {
      width: 750px;
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: $screen-md-min) {
      width: 930px;
      padding-left: 0;
      padding-right: 0;
      font-size: 22px;
    }
    /* Large devices (large desktops, 1200px and up) */
    // @media (min-width: $screen-lg-min) { width: 1170px }
  }

}
#grano-carousel-conteudo .title a, #grano-carousel-conteudo .conteudo a{
  color: white !important;
  h1{
    font-size: 50px !important;
  }
}


#grano-carousel-conteudo{
  margin-bottom: 10em;
  .item{
    @media(max-width: 575.98px){
      padding-top: 12em;
    }
  }
}

