@import "bootstrap";

// icons font awesome teste3
@import "iconsawesome/font-awesome";
@import "home";

// Módulos   
@import "modules/banner";
@import "modules/bannerconteudo";
@import "modules/contato";
@import "modules/page_sobre";
@import "modules/page_parcerias";
@import "modules/page_materiais_webinars";
@import "modules/trabalhe_conosco"; 
@import "modules/page_blog";
@import "modules/page_solucoes"; 
  
// scroll animation grano       
@import "scrollanimationgrano";     

// preloader ===================================================================
#loading-bar .bar {      
  background: $brand-primary;  
}  
// / preloader =================================================================
   
// Fonte site
body{     
  font-family: 'PT Sans', sans-serif; 
  background-color: #FAFAFA; 
}

// Padrão para os títulos   
h1{
  text-align: center;
  color: $primary-color;
  font-weight: 700; 
  font-size: 36px;
  @media (max-width: 575.98px){ 
    font-size: 28px;
  }
}  
h2{
  font-size: 30px;
  @media (max-width: 575.98px){
    font-size: 26px;
  }   
}
h2, h3{
  color: $primary-color;
  font-weight: 700;
}

// Padrão de cor do parágrafo
p{
  color: $text-paragrafo;
}

// Padrão Botão
.botao{
  background-color: $second-color;
  text-align: center;
  border-radius: 20px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  transition: all .5s cubic-bezier(.86,-.365,.07,1.345);
  transition-timing-function: cubic-bezier(.86,-.365,.07,1.345);
}

.botao:hover{
  background-color: $second-color;
  color: white;
  transform: scale(1.1);
}

// whitelabel

.container{
  margin-bottom: $container-margim-bottom;
}
a{
  @include transition-property(color);
  @include transition-duration(0.4s);
  &:hover{
    text-decoration: none;
  }
}

.modal{
    background-color: #fff;
}

// nav bar =====================================================================


.navbar-nav{
  @media (min-width: 768px) and (max-width: 991.98px){
    display: none;
  }  
}


#toggle-menu {
  @media (min-width: 768px) and (max-width: 991.98px){
    width: 28px;
    height: 30px;
    margin: 10px auto;
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 10;
  }
}
 
#toggle-menu div {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: $primary-color;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle-menu.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle-menu.on .two {
  opacity: 0;
}

#toggle-menu.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}
.navbar-brand{
  padding: 11.5px 0px;
  @media (min-width: 992px) and (max-width: 1199.98px){
    padding: 11.5px 0px;
  }  
}  
.navbar-brand img{
  width: auto;
  max-width: 230px;
  margin-top: 15px;
  @media (max-width: 575.98px){
    margin-top: 22px;
    max-width: 185px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    max-width: 185px;
    margin-top: 20px;
  }  
  @media(max-width: 767.98px){       
    margin-top: 30px;
  }
}

.link-sistran{
  font-size: 12px;
  color: #fff;
  background-color: #F3A83A;
  padding: 2px 10px;
  border-radius: 5px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: $second-color;
}

.navbar{  
  background-color: $body-bg;
  z-index: 10;
  margin-top: 0px;
  height: 100px;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.8);
  .container{
    margin-bottom: 0;
  }
  #bs-example-navbar-collapse-1{
    padding-top: 1em;
    padding-left: 2em; 
    background-color: #fafafa; 
    @media(max-witdh: 414px){
      padding-top: 0;
    }
    @media(min-width: 768px) and (max-width: 799.98px){
      width: 100%;
      padding-left: 3em;
    }
    @media(min-width: 800px) and (max-width: 869.98px){
      width: 100%;
      padding-left: 4em;
    }
    @media(min-width: 870px) and (max-width: 991.98px){
      width: 100%;
      padding-left: 6em;
    }
    @media(min-width: 768px) and (max-width: 991.98px){
      width: 100%;
    }
    @media(min-width: 992px) and (max-width: 1100px){
      padding-left: 1em;
    }
  }
  a.navbar-brand{
    height: auto;
  }
  .dropdown-menu{
    border: none;
    background-color: rgba(255,255,255,.7);
    @include box-shadow(0);
  }
  ul.navbar-social{
    padding-top: 3em;
    display: none;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      display: block;
     }
    li{
      display: inline-block;
      list-style: none;
      margin-left: 5px;
      a{
        color: $text-color;
        width: 30px;
        height: 30px;
        display: block;
        background-repeat: no-repeat;
        font-size: 0;
        &:before{
          @include fa-icon();
          width: 30px;
          height: 30px;
          font-size: 16px;
          color: white;
          padding-top: 7px;
          text-align: center;
          background-color: lighten($gray-base, 60%);
          @include transition-property(background-color);
          @include transition-duration(0.6s);
        } 
      }
      &.facebook a{
        &:before{
          content: '\f09a';
        }
        &:hover:before{
          background-color: #3B5998;
        }
      }
      &.twitter a{
        &:before{
          content: '\f099';
        }
        &:hover:before{
          background-color: #55ACEE;
        }
      }
      &.youtube a{
        &:before{
          content: '\f16a';
        }
        &:hover:before{
          background-color: #E62817;
        }
      }
      &.flickr a{
        &:before{
          content: '\f16e';
        }
        &:hover:before{
          background-color: #FF0084;
        }
      }
      &.linkedin a{
        &:before{
          content: '\f0e1';
        }
        &:hover:before{
          background-color: #007AB9;
        }
      }
      &.googleplus a{
        &:before{
          content: '\f0d5';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
      &.contato a{
        &:before{
          content: '\f003';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
    }
  }
}

.bandeiras{
  float: right;
  position: absolute;
  top: 0;
  right: 1%;
  @media(max-width: 767.98px){
    left: 2%;
    right: 0;
  }
  img{
      height: 17px;
  }
}
.redes-sociais{
  position: absolute;
  right: 8%;
  top: 22%;
  @media (min-width: 768px) and (max-width: 991.98px){
    right: 12%;
    top: 35%;
  }
  @media (max-width: 767.98px){
    right: 1%;
    top: 42%;
  }
  @media (min-width: 992px) and (max-width: 1299.98px){
    right: 1%;
  }
  img{
    max-width: 50px;
    @media (max-width: 767.98px){
      max-width: 40px;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
      max-width: 45px;
    }
  }
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: $second-color;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a{
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  @media (max-width: 575.98px){
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
  }  
  @media (min-width: 768px) and (max-width: 899.98px){
      font-size: 17px;
      padding: 0px 10px 20px 0px;
  }
  @media (min-width: 900px) and (max-width: 991.98px){
      font-size: 17px;
      padding: 0px 25px 20px 0px;
  }
  @media (min-width: 992px) and (max-width: 1200px){
      font-size: 14px;      
    }
}
.nav>li{
  @media(max-width: 767.98px){
    display: -webkit-box;
  }
  @media(min-width: 768px) and (max-width: 849.98px){
    max-width: 75px;
  }
  @media(min-width: 850px) and (max-width: 991.98px){
    max-width: 90px;
  }
  @media(min-width: 992px) and (max-width: 1049.98px){
    max-width: 65px;
  }
}
#menu-item-30, #menu-item-33, #menu-item-35{
  max-width: 100px;
  @media(max-width: 767.98px){ 
    max-width: unset;
  }
  @media(min-width: 768px) and (max-width: 930px){
    max-width: 85px;
  } 
  @media(min-width: 931px) and (max-width: 991.98px){
    max-width: 85px;
  }
  @media(min-width: 992px) and (max-width: 1099.98px){
    max-width: 80px;
  }
  @media(min-width: 1100px) and (max-width: 1149.98px){
    max-width: 90px;
  }
}
#menu-item-34{
  max-width: 180px;
  @media(max-width: 767.98px){
    max-width: unset;
  }
  @media(min-width: 992px) and (max-width: 1199.98px){
    max-width: 153px;
  }
}
#menu-item-3, #menu-item-31, #menu-item-32, #menu-item-36, #menu-item-31{
  @media (min-width: 768px){
    padding-top: 10px;
  }
}
.navbar-header{
  margin-left: 20px;
  @media(max-width: 991.98px){
    margin-left: 0;
  }
  @media(min-width: 930px) and (max-width: 1200px){
    margin-left: 10px;
  }
}
// / nav bar ===================================================================

// Back to top =================================================================
.back-to-top {
    background-color: $primary-color;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border: none;
    z-index: 10;
}

.btn-primary:hover{
  background-color: $primary-color !important;
}

// / Back to top ===============================================================

// widget
li.widget{
  @extend .well;
  list-style: none !important;
  h2{
    font-size: $font-size-h4; 
    margin-bottom: 10px;
  }
  ul,li{
    list-style: none;
  }
}
.widget_search{
  label{
    span{
      display: none;
    }
  }
  form{
    @extend .input-group;
  }
  .search-submit{
    @extend .btn;
    @extend .btn-default;
    float: left;
    span{
      @extend .fa;
      @extend .fa-search;
      // @extend .glyphicon;
      // @extend .glyphicon-search;
      font-size: 0;
      &:before{
        font-size: $font-size-base+2;
      }
    }
  }
  input{
    @extend .form-control;
  }
}

// Portfolio ===================================================================
.container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> slide
#owl-single-porfolio{
  .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    padding-top: 14em;
  }
}
// / Portfolio =================================================================

// Blog ========================================================================
.container.blog-home, .container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> post thumb
.single-post-thumb{  
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thumb-single{
  width: 100%;
  height: auto;
}
.thumb-post{
  height: 500px;
  position: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; 
  margin-top: 70px;
}
.title_single{
  color: #fff;
  position: absolute;
  top: 30%;
  font-size: 30px;
  text-transform: uppercase;
  @media (min-width: $screen-sm-min){
    top: 35%;
    font-size: 38px;
  }
}
.posts{
    height: 450px;    
    margin-bottom: 40px;
    @media (min-width: 576px) and (max-width: 767.98px){
      height: auto;
      margin-bottom: 20px;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
      height: 410px;
    }
    img{
      width: 100%;
      height: auto;
      @media (max-width: 767.98px){
        height: auto;
      }
      @media (min-width: 992px) and (max-width: 1199.98px){
        max-height: 175px;
      }
      @media (min-width: 1200px){
        height: 215px;
      } 
    }
    .excerpt{
      background-color: #F5F5F5;
      padding: 8px 30px 20px 30px;
      height: 230px;
      @media (max-width: 767.98px){
        padding: 15px 25px;
      }
      @media (min-width: 768px) and (max-width: 992px){
        padding: 10px 10px;
      }

      @media (min-width: 992px) and (max-width: 1199.98px){
        height: 275px;
      }
      
      .hashtags{
        font-size: 15px;
      }
      p{
        line-height: 20px;
        font-size: 16px;
        @media (min-width: 768px) and (max-width: 991.98px){
          font-size: 13px; 
        }
      }
      h3{
        font-size: 22px;
        margin-top: 0;
      }
    }
    .mask-post{
      position: absolute;
      bottom: 100%;
      left: 15px;
      top: 0;
      right: 0;
      background-color: rgba(21, 66, 125, 0.95);
      overflow: hidden;
      width: 93%;
      height: 0;
      transition: .5s ease;
      opacity: 0;
      h3{
        color: white;
        padding: 0px 40px 40px;
      }
      .hashtags{
        color: white;
      }
      .text{
        width: 100%;
        height: 100%;
        top: 75%;
        left: 50%;
        text-align: center;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;        
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        @media (min-width: 768px) and (max-width: 991.98px){
          top: 65%;
        }
      }
      .botao{
        width: 40%;
        @media (max-width: 767.98px){
          width: 50%;
        }
        @media(min-width: 767.98px) and (max-width: 991.98px){
          width: 60%;
        }
        @media(min-width: 992px) and (max-width: 1199.98px){
          width: 60%;
        }
      }
      @media(max-width: 414px){
       width: 93%;
      }
      @media(min-width: 415px) and (max-width: 700px){
        width: 95%;
      }
      @media(min-width: 701px) and (max-width: 767px){
        width: 96%;
      }
      @media(min-width: 768px) and (max-width: 991px){
        width: 88%;
      }
      @media(min-width: 992px) and (max-width: 1199px){
        width: 91%;
      }
    }
    &:hover{
      .mask-post{
        bottom: 0;
        height: 100%;
        opacity: 1;
        @media(max-width: 575.98px){
          height: auto;
        }
      }
    }
}

.coluna-single{   
  @media(min-width: 767px){ 
    min-height: 600px;
  }
}

/*=========== Posts ===========*/
// / Blog ======================================================================

.owl-wrapper-outer{
  overflow: hidden;
}

#grano-carousel-conteudo .item{ 
  padding-top: 17em;  
  @media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation:landscape) {
    padding-top: 7em;
  }
  @media screen and (max-width: 767.98px) and (orientation:portrait) {
    padding-top: 8em;
  }
  @media (min-width: 1800px){
    padding-top: 25em; 
  }
}

#grano-carousel-conteudo{
  margin-bottom: 10em;
}

.single{
  background-color: #FAFAFA;
  position: relative;
  top: 550px;
  height: 100%;
  bottom: 0;
  h1{
    text-align: left; 
  }
}

.blog-single{
  padding-top: 70px;
  .img-responsive{
    width: 100%;
    height: auto;
  }   
  p, li{
    font-size: 16px;
  }
}

.mask{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 500px;
  margin-top: 0px;
  position: absolute;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100%!important;
}

.alert-danger, .wpcf7-form-control-wrap .wpcf7-not-valid-tip, .wpcf7-validation-errors{
  background: none !important;
  border: none;
  color: $primary-color;
  margin-bottom: 0px;
}
div.wpcf7-validation-errors{
  border: none;
}

.navbar-header{
 @media (min-width: 768px) and (max-width: 991.98px){
    float: unset;
  } 
}

@media (min-width: 992px){
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse{
    padding-left: 0;
    padding-right: 0;  
  }  
}

.seta-baixo{
  width: 43px;
  height: 43px;
  background-color: $primary-color;
  position: fixed;
  bottom: 80px; 
  right: 20px;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
  z-index: 9;
  span{
    transform: rotate(180deg);
    color: white; 
  }
}

.link-download{
  font-size: 16px;
  text-decoration: underline;
}

.ui-loader{
  display: none !important;
}

.ui-loader-default{
  display: none !important;
}

.alignleft{
    float: left;
    margin: 10px 25px 10px 0px;
}
