.navbar-brand img {
  width: auto;
  max-width: 170px;
}

.botao-banner {
  left: 50%;
  position: absolute;
  margin-left: -125px;
  font-size: 20px !important;
  bottom: 7em;
}
@media (max-width: 767.98px) {
  .botao-banner {
    bottom: 5em;
  }
}

.titulo {
  border: 1px solid #F3A83A;
  width: 30%;
}

.div1 {
  margin-top: 21px;
}
@media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation: landscape) {
  .div1 {
    margin-top: 73px;
  }
}
@media screen and (max-width: 767.98px) and (orientation: portrait) {
  .div1 {
    margin-top: 21px;
  }
}
.div1 .myCarousel-principal {
  margin-top: 73px;
  margin-bottom: 50px;
  position: relative;
}
.div1 .myCarousel-principal .carousel-inner .item {
  height: 550px;
  background-image: unset;
}
@media (max-width: 768.98px) and (orientation: portrait) {
  .div1 .myCarousel-principal .carousel-inner .item {
    height: 500px;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  .div1 .myCarousel-principal .carousel-inner .item {
    height: 500px;
  }
}
.div1 .myCarousel-principal .carousel-inner .item img {
  width: 100%;
}
.div1 .myCarousel-principal .carousel-indicators {
  z-index: 5;
  bottom: 20px;
}
@media (max-width: 399.98px) {
  .div1 .myCarousel-principal .carousel-indicators {
    bottom: 0px;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  .div1 .myCarousel-principal .carousel-indicators {
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .div1 .myCarousel-principal .carousel-indicators {
    bottom: 20px;
  }
}
.div1 .myCarousel-principal .carousel-indicators li {
  width: 20px;
  height: 20px;
  margin: 0 4px;
  border: none;
  background-color: white;
}
.div1 .myCarousel-principal .carousel-indicators .active {
  width: 20px;
  height: 20px;
  background-color: #F3A83A;
}
.div1 .myCarousel-principal .item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.div1 .myCarousel-principal .item h1 {
  color: white;
}
@media (max-width: 350px) {
  .div1 .myCarousel-principal .item h1 {
    margin-top: 0;
    font-size: 32px;
  }
}
.div1 .myCarousel-principal .item p {
  color: white;
  font-size: 22px;
  line-height: 24px;
}
@media (max-width: 350px) {
  .div1 .myCarousel-principal .item p {
    font-size: 18px;
  }
}
.div1 .myCarousel-principal .item .carousel-caption {
  top: 20%;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  left: 17%;
  z-index: 1;
}
@media (max-width: 399.98px) {
  .div1 .myCarousel-principal .item .carousel-caption {
    top: 1%;
    width: 90%;
    left: 5%;
  }
}
@media (min-width: 400px) and (max-width: 575.98px) {
  .div1 .myCarousel-principal .item .carousel-caption {
    top: 5%;
    width: 90%;
    left: 5%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .div1 .myCarousel-principal .item .carousel-caption {
    width: 80%;
    top: 10%;
    left: 11%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .div1 .myCarousel-principal .item .carousel-caption {
    width: 80%;
    top: 15%;
    left: 10%;
  }
}
.div1 .myCarousel-principal .item:nth-child(3) .carousel-caption {
  width: 65%;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 17%;
}
@media (max-width: 399.98px) {
  .div1 .myCarousel-principal .item:nth-child(3) .carousel-caption {
    width: 90%;
    left: 5%;
  }
}
@media (max-width: 767.98px) {
  .div1 .myCarousel-principal .item:nth-child(3) .carousel-caption {
    width: 90%;
    top: 0%;
    left: 5%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .div1 .myCarousel-principal .item:nth-child(3) .carousel-caption {
    width: 80%;
    top: 8%;
    left: 10%;
  }
}
.div1 .myCarousel-principal .item:nth-child(3) .col {
  width: 33%;
  padding: 0 25px;
  float: left;
  line-height: 22px;
  font-size: 20px;
}
.div1 .myCarousel-principal .item:nth-child(3) .col img {
  width: 25%;
}
@media (max-width: 767.98px) {
  .div1 .myCarousel-principal .item:nth-child(3) .col img {
    width: 50%;
  }
}
@media (max-width: 399.98px) {
  .div1 .myCarousel-principal .item:nth-child(3) .col {
    line-height: 16px;
    font-size: 12px;
    padding: 0 2px;
  }
}
@media (min-width: 400px) and (max-width: 767.98px) {
  .div1 .myCarousel-principal .item:nth-child(3) .col {
    font-size: 14px;
    padding: 0 5px;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .div1 .myCarousel-principal .item:nth-child(3) .col {
    bottom: 20%;
    top: 560px;
  }
}
@media (min-width: 768px) and (max-width: 1999.98px) {
  .div1 .myCarousel-principal .item:nth-child(3) .col {
    font-size: 16px;
    padding: 0 10px;
  }
}
.div1 .myCarousel-principal .botao-banner {
  bottom: 20%;
  color: white;
  text-shadow: none;
}
@media (max-width: 349.98px) {
  .div1 .myCarousel-principal .botao-banner {
    font-size: 18px !important;
    margin-left: -117px;
    bottom: 10% !important;
  }
}
@media (max-width: 1999.98px) {
  .div1 .myCarousel-principal .botao-banner {
    bottom: 15%;
  }
}

#grano-carousel .item, #grano-carousel .owl-item, #grano-carousel .owl-wrapper, #grano-carousel .owl-wrapper-outer, #grano-carousel-conteudo .item, #grano-carousel-conteudo .owl-item, #grano-carousel-conteudo .owl-wrapper, #grano-carousel-conteudo .owl-wrapper-outer {
  height: 100vh;
  margin-bottom: 5em;
}
@media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation: landscape) {
  #grano-carousel .item, #grano-carousel .owl-item, #grano-carousel .owl-wrapper, #grano-carousel .owl-wrapper-outer, #grano-carousel-conteudo .item, #grano-carousel-conteudo .owl-item, #grano-carousel-conteudo .owl-wrapper, #grano-carousel-conteudo .owl-wrapper-outer {
    height: 140vh !important;
    margin-bottom: 5em;
  }
}

.paragrafo-div {
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  padding: 15px;
}
@media (max-width: 575.98px) {
  .paragrafo-div {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.div2 {
  padding-top: 50px;
}
.div2 .container {
  margin-bottom: 10em;
}
.div2 .botao {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 20px;
}
.div2 img {
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.5s cubic-bezier(0.86, -0.365, 0.07, 1.345);
  transition-timing-function: cubic-bezier(0.86, -0.365, 0.07, 1.345);
}
.div2 img:hover {
  transform: scale(1.2);
}

@media (min-width: 992px) {
  .div-fade {
    opacity: 0;
  }
}

.solucoes-div {
  animation: fadeTop .7s ease-in;
}

@Keyframes fadeTop {
  from {
    opacity: 0;
    top: -60px;
    left: 0;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.fade-left {
  animation: fadeLeft .7s ease-in;
}

@Keyframes fadeLeft {
  from {
    opacity: 0;
    top: 0px;
    left: -60px;
  }
  to {
    opacity: 1;
    top: 0px;
    left: 0px;
  }
}
.fade-right {
  animation: fadeRight 1.7s ease-in;
}

@Keyframes fadeRight {
  from {
    opacity: 0;
    top: 0px;
    right: -60px;
  }
  to {
    opacity: 1;
    top: 0px;
    rigth: 0px;
  }
}
.div3 {
  background-image: url("../img/home-noticia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
}
@media (max-width: 414px) {
  .div3 {
    padding: 50px;
  }
}
@media (min-width: 415px) and (max-width: 767px) {
  .div3 {
    padding: 80px;
  }
}
.div3 .col-noticias-left {
  padding-top: 40px;
  animation: pound 5.0s infinite;
  animation-delay: 1s;
}
@media (max-width: 575.98px) {
  .div3 .col-noticias-left {
    top: 0;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 30px;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  .div3 .col-noticias-left {
    margin-top: -90px;
  }
}
.div3 .col-noticias-left ul {
  padding-left: 0;
}
.div3 .col-noticias-left .categoria-post {
  font-size: 20px;
  color: #F3A83A;
  margin-bottom: 0;
  font-weight: 700;
  list-style: none;
}
.div3 .col-noticias-left .titulo-post {
  color: white;
  font-size: 38px;
  font-weight: 700;
  line-height: 42px;
}
@media (max-width: 575.98px) {
  .div3 .col-noticias-left .titulo-post {
    font-size: 28px;
  }
}
.div3 .col-noticias-left .excerpt-post {
  color: white;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 50px;
}
@media (max-width: 575.98px) {
  .div3 .col-noticias-left .excerpt-post {
    font-size: 20px;
  }
}
.div3 .col-noticias-right {
  margin-top: 30px;
  background-color: #15427D;
  padding: 43px;
  animation: pound 5.0s infinite;
  animation-delay: 4s;
}
@media (max-width: 575.98px) {
  .div3 .col-noticias-right {
    top: 0;
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 40px;
  }
}
.div3 .col-noticias-right p:nth-child(1) {
  font-size: 38px;
  line-height: 40px;
  font-weight: 700;
  color: #F3A83A;
}
@media (max-width: 575.98px) {
  .div3 .col-noticias-right p:nth-child(1) {
    font-size: 28px;
  }
}
.div3 .col-noticias-right p:nth-child(2) {
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 50px;
}
@media (max-width: 575.98px) {
  .div3 .col-noticias-right p:nth-child(2) {
    font-size: 20px;
  }
}

@media (min-width: 575.98px) {
  @keyframes pound {
    from {
      transform: none;
    }
    50% {
      transform: scale(1.05);
    }
    to {
      transform: none;
    }
  }
}
.div4 {
  padding-top: 3em;
}
.div4 .container {
  margin-bottom: 0;
}
.div4 .botao {
  display: inherit;
  margin-top: 70px;
}
.div4 h2 {
  margin-bottom: 0px;
  font-size: 32px;
}
@media (max-width: 575.98px) {
  .div4 h2 {
    font-size: 28px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .div4 h2 {
    font-size: 30px;
  }
}
.div4 .hide-bullets {
  list-style: none;
  margin-left: -5px;
  margin-top: 20px;
}
.div4 .hide-bullets .col-sm-3 {
  padding: 0px 5px 0px 5px;
  position: relative;
  width: 25%;
  display: inline-grid;
}
.div4 .hide-bullets .col-sm-3 a {
  min-height: 70px;
  border: 1px solid #F3A83A;
  border-radius: 0px;
  cursor: pointer;
  background: #fff;
}
@media (max-width: 575.98px) {
  .div4 .hide-bullets .col-sm-3 {
    padding: 0 3px;
    position: relative;
    width: 22%;
  }
}
.div4 .carousel-inner {
  width: 370px;
  height: 360px;
  float: left;
  border: 1px solid #F3A83A;
  background: #fff;
}
@media (max-width: 991px) {
  .div4 .carousel-inner {
    width: 100%;
    height: 360px;
    margin-bottom: 35px;
  }
}
.div4 .carousel-inner .item-div4 {
  background: none;
  width: 370px;
  height: 360px;
  position: relative;
}
.div4 .carousel-inner .item-div4 img {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
}
@media (max-width: 380.98px) {
  .div4 .carousel-inner .item-div4 img {
    margin-left: -160px;
    max-width: 230px;
  }
}
@media (min-width: 381px) and (max-width: 399.98px) {
  .div4 .carousel-inner .item-div4 img {
    margin-left: -145px;
    max-width: 230px;
  }
}
@media (min-width: 400px) and (max-width: 499.98px) {
  .div4 .carousel-inner .item-div4 img {
    margin-left: -160px;
    max-width: 285px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .div4 .carousel-inner .item-div4 img {
    margin-left: -25%;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .div4 .carousel-inner .item-div4 img {
    margin-left: -20%;
  }
}
@media (min-width: 701px) and (max-width: 767px) {
  .div4 .carousel-inner .item-div4 img {
    margin-left: -10%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .div4 .carousel-inner .item-div4 img {
    margin-left: -155px;
  }
}
.div4 .carousel-inner .item-div4:nth-child(1) img {
  margin-top: -92px;
}
.div4 .carousel-inner .item-div4:nth-child(2) img {
  margin-top: -45px;
}
.div4 .carousel-inner .item-div4:nth-child(3) img {
  margin-top: -30px;
}
.div4 #carousel-text p {
  line-height: 25px;
  font-size: 22px;
  color: #15427D;
  margin-top: 10px;
}
.div4 .thumbnail > img {
  max-width: 70px;
  max-height: 50px;
  margin-left: -34px;
  position: absolute;
  top: 50%;
  left: 50%;
}
@media (max-width: 575.98px) {
  .div4 .thumbnail > img {
    max-width: 38px;
    max-height: 50px;
    margin-left: -18px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .div4 .thumbnail > img {
    max-width: 58px;
    max-height: 50px;
    margin-left: -29px;
  }
}
.div4 #carousel-selector-0 img {
  margin-top: -35px;
}
.div4 #carousel-selector-1 img {
  margin-top: -23px;
}
.div4 #carousel-selector-2 img {
  margin-top: -19px;
}
.div4 #carousel-selector-3 img {
  margin-top: -40px;
}
.div4 #slider-thumbs .col-sm-6 {
  position: relative;
}
.div4 #slider-thumbs .col-sm-6 button {
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 50%;
  margin-left: -30%;
  margin-top: -45px;
}
@media (min-width: 768px) and (max-width: 992) {
  .div4 #slider-thumbs .col-sm-6 button {
    margin-left: -20%;
    margin-top: 15px;
  }
}
@media (max-width: 992px) {
  .div4 #slider-thumbs .col-sm-6 button {
    left: 0;
    margin-left: 25px;
    margin-top: 0;
  }
}
.div4 #slider-thumbs .col-sm-6 .test {
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 50%;
  margin-left: -30%;
  margin-top: -45px;
}
@media (max-width: 767.98px) {
  .div4 #slider-thumbs .col-sm-6 .test {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    left: 0;
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div4 #slider-thumbs .col-sm-6 .test {
    margin-left: 15px;
    margin-top: 0px;
    left: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .div4 #slider-thumbs .col-sm-6 .test {
    font-size: 18px;
    top: 0;
    left: 52%;
    margin-left: -31%;
    margin-top: -20px;
  }
}
.div4 .slide-content {
  padding: 0px 25px;
}
.div4 #carousel-bounding-box {
  margin-right: 0px;
}
@media (max-width: 992px) {
  .div4 #carousel-bounding-box {
    margin-right: 0px;
  }
}

.item-onebase img {
  width: 425px;
  height: auto !important;
  margin-top: -140px;
}

.div5 .container {
  margin-bottom: 80px;
}
.div5 .categorias-blog {
  margin-left: 0;
  margin-bottom: 30px;
}
.div5 .categorias-blog button {
  display: inline;
  margin-right: 15px;
}
@media (max-width: 575.98px) {
  .div5 .categorias-blog button {
    margin-right: 5px;
  }
}
.div5 .categorias-blog button:nth-child(2) {
  background: none;
  color: #15427D;
  font-weight: unset;
  transition: none;
}
.div5 .categorias-blog button:nth-child(3) {
  background: none;
  color: #15427D;
  font-weight: unset;
  transition: none;
}
.div5 .botao {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 17px;
}
.div5 .titulo {
  width: 32%;
}
.div5 h3 a {
  color: #15427D;
}
.div5 a {
  color: #F3A83A;
}

.lista-categoria {
  list-style: none;
  padding-left: 0px;
  color: #F3A83A;
  margin-bottom: 0px;
}

.excerpt {
  padding: 15px;
}
.excerpt p a {
  color: #F3A83A;
}

.posts {
  margin-bottom: 50px;
}
.posts .thumb img {
  width: 100%;
  height: 300px;
}

.div6 .container {
  margin-bottom: 10em;
}
.div6 h3 {
  font-weight: 700;
  color: #F3A83A;
  margin: 0;
}
.div6 .titulo {
  width: 18%;
}
@media (min-width: 768px) {
  .div6 .contato {
    margin-left: 30px;
    padding-right: 100px;
  }
}
.div6 .contato input, .div6 .contato textarea {
  border-radius: 25px;
  height: auto !important;
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 3px;
  padding: 5px 12px;
}
.div6 .contato .wpcf7-form-control {
  -webkit-transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
}
.div6 .contato .wpcf7-submit {
  font-weight: 700 !important;
  font-size: 18px !important;
  border: none;
  outline: none;
}
.div6 .contato .wpcf7-submit:focus {
  background-color: #F3A83A;
}
.div6 .contato .botao {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  border: none;
}
.div6 .contato .mc-field-group {
  width: 100%;
  border: none;
}
.div6 .padding {
  padding: 15px;
}
@media (min-width: 768px) {
  .div6 .padding {
    padding: 0px;
  }
}
.div6 .padding p {
  font-size: 16px;
}
.div6 .padding p:nth-child(2) {
  margin-bottom: 0;
}
.div6 ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'PT Sans', sans-serif;
}
.div6 ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'PT Sans', sans-serif;
}
.div6 :-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'PT Sans', sans-serif;
}
.div6 :-moz-placeholder {
  /* Firefox 18- */
  font-family: 'PT Sans', sans-serif;
}

.item {
  width: 100%;
  background-image: url("../img/home-banner-1.jpg");
}
.item h1 {
  font-size: 36px;
}
@media (min-width: 768px) {
  .item h1 {
    font-size: 55px;
  }
}
.item.item-3 {
  padding-top: 12em !important;
}
@media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation: landscape) {
  .item.item-3 {
    padding-top: 2em !important;
  }
}
@media screen and (max-width: 767.98px) and (orientation: portrait) {
  .item.item-3 {
    padding-top: 5em !important;
  }
}
@media (min-width: 1800px) {
  .item.item-3 {
    padding-top: 22em !important;
  }
}
.item .conteudo {
  text-align: center;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 40px;
  color: white;
  line-height: 24px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  /* Large devices (large desktops, 1200px and up) */
}
.item .conteudo a {
  color: white !important;
}
.item .conteudo .col {
  display: inline-block;
  width: 32%;
  text-align: center;
  vertical-align: top;
  padding-top: 0;
  font-size: 14px;
  line-height: 17px;
  padding-right: 5px;
  padding-left: 5px;
}
@media (max-width: 575.98px) {
  .item .conteudo .col {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .item .conteudo .col {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    line-height: 22px;
  }
}
.item .conteudo .col img {
  margin: 0 auto;
  margin-top: 10px;
  width: 50px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .item .conteudo .col img {
    margin-bottom: 10px;
    width: 70px;
  }
}
.item .conteudo .col:first-child {
  padding-left: 0;
  padding-right: 5px;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .item .conteudo .col:first-child {
    padding-right: 70px;
  }
}
.item .conteudo .col:last-child {
  padding-right: 0;
  padding-left: 5px;
}
@media (min-width: 768px) {
  .item .conteudo .col:last-child {
    padding-left: 70px;
  }
}
@media (min-width: 768px) {
  .item .conteudo {
    width: 750px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .item .conteudo {
    width: 930px;
    padding-left: 0;
    padding-right: 0;
    font-size: 22px;
  }
}

#grano-carousel-conteudo .title a, #grano-carousel-conteudo .conteudo a {
  color: white !important;
}
#grano-carousel-conteudo .title a h1, #grano-carousel-conteudo .conteudo a h1 {
  font-size: 50px !important;
}

#grano-carousel-conteudo {
  margin-bottom: 10em;
}
@media (max-width: 575.98px) {
  #grano-carousel-conteudo .item {
    padding-top: 12em;
  }
}
