#grano-carousel-conteudo{
  margin-bottom: $container-margim-bottom;
  .item{
    padding-top: 17em;
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } 
  .owl-wrapper-outer,
  .owl-wrapper,
  .owl-item,
  .item{
    height: 100vh;
  }

  .title,.conteudo{
    // max-width: $container-lg;
    margin: 0 auto;
    a{
      color: $text-color;
      &:hover{
        color: $brand-success;
      }
    }
  }
  .owl-buttons{
    display: none;
  }
  .owl-controls{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 3em;
    @media (max-width: 767.98px){
    	padding-bottom: 2em;
    }    
    .owl-page {
      cursor: pointer;
      &.active{
        span{
          background-color: $second-color;
        }
      }
      span {
        background-color: $body-bg;
      }
    }
  }
}


.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
	padding-left: 0;
}
.owl-alt-controls.owl-theme .owl-controls{
	position:absolute;
	z-index: 9999999999;
	bottom: 149px;
	right: 0;
	width:100%;
	padding-left:0;
	display: block;
	margin-top: 100px;
	width: 100%;
}
.blocked-area .owl-theme .owl-controls{
	padding-left:0;
}
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #999;
	display: inline-block;
	zoom: 1;
	display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: none;
	position:absolute;
	/* top:50%; */
	margin-top:-10px;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	color:#666;
	text-decoration: none;
}
.owl-alt-controls.owl-theme .owl-controls .owl-buttons div, .owl-alt-controls1.owl-theme .owl-controls .owl-buttons div{
	/* top:-82px; */
	background:#666;
	margin-top:4px;
	color: #fff;
	opacity: 1;
}
.owl-alt-controls.owl-theme .owl-controls .owl-buttons div:hover, .owl-alt-controls1.owl-theme .owl-controls .owl-buttons div:hover{
	opacity:.8;
	color:#fff;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev{
	left: -45px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next{
	/* right:-45px; */
}
.owl-alt-controls.owl-theme .owl-controls .owl-buttons div.owl-prev{
	/* right: 41px; */
	/* left: 100%; */
}
.owl-alt-controls.owl-theme .owl-controls .owl-buttons div.owl-next{
	right: -45px;
}
.owl-alt-controls1.single-carousel .owl-controls .owl-buttons div.owl-prev{
	left:8px;
	right:auto;
	top:50%;
	margin-top:-5px;
	z-index:999;
	opacity:.8;
}
.owl-alt-controls1.owl-theme .owl-controls .owl-buttons div.owl-next{
	left:41px;
	right:auto;
	top:50%;
	margin-top:-5px;
	z-index:999;
	opacity:.8;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
  width: 20px;
  height: 20px;
	margin: 5px 7px;
	// filter: Alpha(Opacity=50);/*IE7 fix*/
	// opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #bbbbbb;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	// filter: Alpha(Opacity=100);/*IE7 fix*/
	// opacity: 1;
}
.owl-alt-controls.owl-theme .owl-controls .owl-page span{
	background:#000000;
}
.owl-alt-controls.owl-theme .owl-pagination{
	width:100%;
	overflow:hidden;
	bottom:15px;
	position:absolute;
	left:0;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.owl-alt-controls.owl-theme .owl-controls .owl-page span.owl-numbers{
}
