.div1-sobre{
  background-image: url('../img/sobre-img-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 73px;
  margin-bottom: 50px;
  height: 90vh;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;  
  @media(max-width: 575.98px){
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    margin-top: 160px;
  }
  @media (max-width: 991px){
     height: auto;
  }
  @media (min-width: 1600px) and (max-width: 1999.98px) {
    height: 80vh;
  }
  @media (min-width: 2000px) {
    height: 70vh; 
  }
  h1{
    text-align: left;
    font-size: 56px;
    color: white;
    line-height: 60px;
    @media (max-width: 575.98px){
      font-size: 40px;
      line-height: 45px;
    }
  }
  p{
    font-size: 21px;
    color: white;
    line-height: 26px;
  }
  button{
    height: 50px;
    font-size: 21px;
    margin-bottom: 0;
    width: 100%;
    border-radius: 20px;
    @media(max-width: 575.98px){
      font-size: 16px;
    }
    @media(max-width: 992px){
      margin-bottom: 15px;
    }
    @media(min-width: 768px) and (max-width: 1200px){
      font-size: 18px;
      line-height: 18px;
      height: 50px;
    }
    @media(min-width: 1201px) and (max-width: 1310px){
      font-size: 20px;
      line-height: 18px;
      height: 50px;
    }
  }
  .banner-modal1, .banner-modal2, .banner-modal3{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .banner-modal1{
    background-image: url('../img/img-seguradoras-grande-porte.png');
  }
  .banner-modal2{
    background-image: url('../img/img-seguradoras-internacional.png');
  }
  .banner-modal3{
    background-image: url('../img/img-seguradoras-nicho.png');
  }
}

  .modal-lg{
    width: 100% !important;
    margin: auto !important;    
    .modal-content{
      margin-top: -1px;
      border-radius: 0;
      margin-right: -1px;
      box-shadow: unset;
      background: none;
      border: none;
      h1{
        color: $primary-color;
        text-align: center;
        width: 19%;
        margin-left: auto;
        line-height: 45px;
        margin-right: auto;
        font-size: 38px;
        margin-top: 70px;
        @media (max-width: 575.98px){
          width: 80%;
        }
        @media (min-width: 576px) and (max-width: 992px){
          width: 50%;
        }
        @media (max-width: 767.98px){
          margin-top: 50px;
        }
      }
      .titulo{
        width: 12%;
        margin-bottom: 50px;
        @media (max-width: 767.98px){
          width: 25%;
          margin-left: 37%;
        }
      }
      button{
        background-color: $second-color;
        border: none;
        float: right;
        border-radius: 50px;
        width: 80px;
        height: 80px;
        margin-top: 30px;
        margin-right: 40px;
        -webkit-transition: -webkit-transform .4s ease;
        transition: transform .4s ease;
        @media (max-width: 767.98px){
          width: 50px;
          height: 50px;
          margin-top: -45px;
          margin-right: 5px;
          padding-top: 5px;
          padding-left: 8px;
        }
        img{
          max-width: 55px;
          @media (max-width: 767.98px){
              max-width: 35px;
          }
        }
        &:hover{
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Safari 3-8 */
          transform: rotate(180deg);
        }
      }
    }
    .conteudo-modal{
      padding: 60px 250px 50px 250px;
      @media(max-width: 992px){
        padding: 10px 20px 0px;
      }
      h3{
        font-weight: unset;
        margin-bottom: 30px;
      }
      p{
        color: #555;
        display: grid;
        padding-left: 15px;
        font-size: 18px;
        line-height: 22px;
      }
      li{
        list-style: none;
        display: inline-flex;
      }
      li::before {
        content: "• ";
        color: $second-color;
      }
      ul{
        padding-left: 15px;
        font-size: 17px;
        li{
          display: flex;
        } 
        li::before {
          padding-right: 15px;
        }
      }
      .esc-modal{
        float: right;
        font-size: 20px;
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }

.modal.in .modal-dialog{
  height: auto;
}


.div-mapa{
  .margin-left{
    @media (min-width: 870px) and (max-width: 1231.98px){
      margin-left: 50px;
    }      
  }
  .col-sm-4{
    .row{
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 20px;
      &:nth-child(1){
        border: none;
        margin-bottom: 0;
      }
    }
    @media(max-width: 767.98px){
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .col-sm-5{
    margin-top: 150px;
    @media(max-width: 414px){
      margin-top: 0;
    }
  }
  h1{
    text-align: left;
  }
  .titulo{
    width: 99%;
    margin-top: 15px;
  }
  .imagem{
    float: left;
    min-width: 45px;
  }
  .titulo-span{
    font-size: 20px;
    font-weight: 700;
    color: $second-color;
  }
  .class-block{
    display: inline-block;
    @media (max-width: 1232px){
      display: block;
    }
  }
  p{
    color: $primary-color;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    @media(max-width: 414px){
      display: block;
    }
  }
  .span160{
    font-size: 50px;
    line-height: 60px;
    font-weight: normal;
    color: $primary-color;
  }
  .mapa-brasil{
    background-image: url('../img/Mapa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 500px;
    margin-top: 80px;
    margin-bottom: 100px;
    @media(max-width: 767px){
      background: none;
      height: auto;
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }
  .bullet{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $primary-color;
    cursor: pointer;
    &:nth-child(3){
      top: 82%;
      margin-left: 3px;
      left: 53%;
      @media (min-width: 1450px) and (max-width: 1499.98px){
        margin-left: 4px;
      }
      @media (min-width: 1500px) and (max-width: 1649.98px){
        margin-left: 1px;
      }
      @media (min-width: 1650px) and (max-width: 2049.98px){
        margin-left: 5px;
        left: 52%;
      }
      @media (min-width: 2050px) {
        margin-left: 0px;
        left: 52%;
      }
    }
    &:nth-child(4){
      top: 80%;
      margin-left: 0px;
      left: 57%;
      @media (min-width: 1450px) and (max-width: 1749.98px){
        left: 56%;
      }
      @media (min-width: 1750px) and (max-width: 1999.98px){
        left: 55%;
      }
      @media (min-width: 2000px) and (max-width: .98px){
        left: 54%;
      }
    }
    &:nth-child(5){
      top: 82%;
      margin-left: 0px;
      left: 58%;
      @media (min-width: 1450px) and (max-width: 1749.98px){
        left: 57%;
      }
      @media (min-width: 1750px) and (max-width: 1999.98px){
        left: 56%;
      }
      @media (min-width: 2000px) {
        left: 55%;
      }
    }
    &:nth-child(6){
      top: 42%;
      margin-left: -2px;
      left: 52%;
    }
    &:nth-child(7){
      top: 49%;
      left: 50%;
      margin-left: -1px;
    }
    &:nth-child(8){
      top: 54%;
      margin-left: 0;
      left: 51%;
    }
    &:nth-child(9){
      top: 79%;
      margin-left: 0;
      left: 60%;
      @media (min-width: 1600px) and (max-width: 1749.98px){
        left: 59%;
      }
      @media (min-width: 1750px) and (max-width: 1999.98px){
        left: 58%;
      }
      @media (min-width: 2000px) and (max-width: 2199.98px){
        left: 57%;
      }
      @media (min-width: 2200px) and (max-width: 2499.98px){
        left: 56%;
      }
      @media (min-width: 2500px) {
        left: 55.5%;
      }
    }
    &:nth-child(10){
      top: 39%;
      margin-left: 0;
      left: 49%;
    }
    &:nth-child(11){
      top: 32%;
      margin-left: 0;
      left: 45%;
      @media (min-width: 1750px) {
        left: 46%;
      }
      @media (min-width: 1950px) {
        top: 31%;
      }
    }
    &:nth-child(12){
      top: 33%;
      margin-left: 3px;
      left: 44%;
      @media (min-width: 1750px) {
        left: 45%;
      }
      @media (min-width: 1950px) {
        top: 32%;
      }
    }
    &:nth-child(13){
      top: 33%;
      margin-left: 3px;
      left: 43%;
      margin-top: -2px;
      @media (min-width: 1750px) and (max-width: 1899.98px){
        left: 44%;
      }
      @media (min-width: 1900px) {
        left: 44%;
        top: 32%;
      }
    }
    &:nth-child(14){
      top: 28%;
      margin-left: 0;
      left: 37%;
      @media (min-width: 1450px) and (max-width: 1499.98px){
        left: 38%;
      }
      @media (min-width: 1500px) and (max-width: 1599.98px){
        left: 39%;
      }
      @media (min-width: 1600px) and (max-width: 1899.98px){
        left: 40%;
      }
      @media (min-width: 1900px) and (max-width: 2049.98px){
        left: 41%;
      }
      @media (min-width: 2050px) and (max-width: 2249.98px){
        left: 42%;
      }
      @media (min-width: 2250px) {
        left: 43%;
      }            
    }
    &:nth-child(15){
      top: 15%;
      margin-left: -5px;
      left: 49%;
    }
    @media(max-width: 992px){
      display: none;
    }
  }
  .pulse {
  // display: block;
  position: absolute;
  top: 64%;
  left: 67%;
  width: 7px;
  height: 7px;
  margin-top: 2px;
  border-radius: 50%;
  background: #F3A83A;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(243,168,58,.4);
  animation: pulse 2s infinite;
  @media(min-width: 768px) and (max-width: 799.98px){
    left: 79%;
  }
  @media(min-width: 800px) and (max-width: 829.98px){
    left: 78%;
  }
  @media(min-width: 830px) and (max-width: 859.98px){
    left: 77%;
  }
  @media(min-width: 860px) and (max-width: 899.98px){
    left: 76%;
  }
  @media(min-width: 900px) and (max-width: 929.98px){
    left: 75%;
  }
  @media(min-width: 930px) and (max-width: 959.98px){
    left: 74%;
  }
  @media(min-width: 960px) and (max-width: 999.98px){
    left: 73%;
  }
  @media(min-width: 1000px) and (max-width: 1029.98px){
    left: 72%;
  }
  @media(min-width: 1030px) and (max-width: 1079.98px){
    left: 71%;
  }
  @media(min-width: 1080px) and (max-width: 1139.98px){
    left: 70%;
  }
  @media(min-width: 1140px) and (max-width: 1199.98px){
    left: 69%;
  }
  @media(min-width: 1200px) and (max-width: 1259.98px){
    left: 71%;
  }
  @media(min-width: 1260px) and (max-width: 1299.98px){
    left: 70%;
  }
  @media(min-width: 1300px) and (max-width: 1399.98px){
    left: 69%;
  }
  @media(min-width: 1400px) and (max-width: 1499.98px){
    left: 68%;
  }
  @media (min-width: 1600px) and (max-width: 1699.98px){
    left: 66%;
  }
  @media (min-width: 1700px) and (max-width: 1749.98px){
    left: 66%;
  }
  @media (min-width: 1750px) and (max-width: 1799.98px){
    left: 65%;
  }
  @media (min-width: 1800px) and (max-width: 1899.98px){
    left: 64%;
  }
  @media (min-width: 1900px) and (max-width: 2049.98px){
    left: 63%;
  }
  @media (min-width: 2050px) and (max-width: 2199.98px){
    left: 62%;
  }
  @media (min-width: 2200px) and (max-width: 2399.98px){
    left: 61%;
  }
  @media (min-width: 2400px) {
    left: 60%;
  }         
    &:nth-child(2){
      top: 66%;
      left: 65%;
      margin-left: -2px;
      @media(min-width: 768px) and (max-width: 799.98px){
        left: 76%;
        margin-left: 0px;
      }
      @media(min-width: 800px) and (max-width: 829.98px){
        left: 75%;
        margin-left: 0px;
      }
      @media(min-width: 830px) and (max-width: 859.98px){
        left: 74%;
        margin-left: 0px;
      }
      @media(min-width: 860px) and (max-width: 899.98px){
        left: 73%;
        margin-left: 0px;
      }
      @media(min-width: 900px) and (max-width: 929.98px){
        left: 72%;
        margin-left: 0px;
      }
      @media(min-width: 930px) and (max-width: 959.98px){
        left: 71%;
        margin-left: 0px;
      }
      @media(min-width: 960px) and (max-width: 1029.98px){
        left: 70%;
        margin-left: 0px;
      }
      @media(min-width: 1030px) and (max-width: 1079.98px){
        left: 69%;
        margin-left: -2px;
      }
      @media(min-width: 1080px) and (max-width: 1139.98px){
        left: 68%;
        margin-left: -2px;
      }
      @media(min-width: 1140px) and (max-width: 1199.98px){
        left: 67%;
        margin-left: -2px;
      }
      @media(min-width: 1200px) and (max-width: 1259.98px){
        left: 69%;
        margin-left: -2px;
      }
      @media(min-width: 1260px) and (max-width: 1299.98px){
        left: 68%;
        margin-left: -2px;
      }
      @media(min-width: 1300px) and (max-width: 1399.98px){
        left: 67%;
        margin-left: -2px;
      }
      @media(min-width: 1400px) and (max-width: 1499.98px){
        left: 66%;
        margin-left: -2px;
      }
      @media (min-width: 1600px) and (max-width: 1699.98px){
        left: 63%;
      }  
      @media (min-width: 1700px) and (max-width: 1799.98px){
        left: 63%;
      }
      @media (min-width: 1800px) and (max-width: 1949.98px){
        left: 62%;
      }
      @media (min-width: 1950px) and (max-width: 2099.98px){
        left: 61%;
      }
      @media (min-width: 2100px) and (max-width: 2299.98px){
        left: 60%;
      }
      @media (min-width: 2300px) {
        left: 59%;
      }                        
    }
    @media(max-width: 767.98px){
      display: none;
    }
  }
  .tooltip-mapa{
    font-size: 0;
    height: 0px;
    width: 0px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    color: white;
  }
  .pulse:hover {
    animation: none;
    .tooltip-mapa{
      padding: 5px; 
      border: 1px solid white;
      display: block;
      height: 100px;
      width: 120px;
      background: $primary-color;
      margin-top: -110px; 
      margin-left: -52px;
      border-radius: 10px;
      font-size: 12px;
      color: white;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(243, 168, 58, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(243, 168, 58, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(243, 168, 58, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(243, 168, 58, 0.4);
      box-shadow: 0 0 0 0 rgba(243, 168, 58, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(243, 168, 58, 0);
        box-shadow: 0 0 0 15px rgba(243, 168, 58, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(243, 168, 58, 0);
        box-shadow: 0 0 0 0 rgba(243, 168, 58, 0);
    }
  }
  .grafico{
    display: inline-flex;
    width: 115px;
    position: relative;
    p{
      font-size: 10px;
      line-height: 11px;
      color: $primary-color;
      margin-top: 10px;
      font-style: italic;
    }
    img{
      min-width: 55px;
      height: 55px;
    }
    .span1{
      position: absolute;
      top: 19%;
      margin-left: 3px;
      left: 10%;
      font-size: 15px;
      color: $primary-color;
      font-weight: unset;
      padding-top: 5px;
    }
    .span2{
      position: absolute;
      top: 10%;
      margin-left: 3px;
      left: 10%;
      font-size: 15px;
      color: $primary-color;
      font-weight: unset;
      padding-top: 5px;
    }
    @media(max-width: 575.98px){
      margin-left: 40px;
      margin-bottom: 20px;
    }    
  }
  .continuar{
    font-size: 11px;
    line-height: 14px;
    margin-top: 15px;
    a{
      color: $second-color;
      text-decoration: underline;
    }
  }
}

.div2-sobre{
  .container{
    margin-bottom: 10em;
    @media (max-width: 767.98px){
      margin-bottom: 5em;
    }    
  }
  .col-sm-6{
      margin-right: 90px;
      @media(max-width: 767.98px){
        margin-right: 0;
      }
  }
  h4{
    font-weight: 700;
    color: $second-color;
    font-size: 20px;
    margin-top: 5px;
  }
  p{
    font-size: 18px;
    line-height: 25px;
  }
  .atividades{
    height: auto;
    padding: 35px;
    border-radius: 5px;
    background-color: $primary-color;
    @media(min-width: 768px) and (max-width: 992px){
      padding: 25px;
    }
    p{
      color: white;
    }
    .col-sm-3{
      margin-right: -15px;
      float: left;
      @media(max-width: 575.98px){
        margin-right: 0;
      }
      @media(min-width: 576px) and (max-width: 767.98px){
        margin-right: 0px;
      }
      @media(min-width: 768px) and (max-width: 992px){
        margin-right: -5px;
      }
    }
    img{
      width: 100%;
      max-width: 40px;
      max-height: 27px;
    }
    .col-sm-9{
      padding: 0;
      display: grid;
    }
    .row{
      margin-bottom: 10px;
      &:first-child{
        margin-bottom: 10px;
        margin-top: 25px;
      }
    }
  }
  .atividade-row{
    margin-bottom: 50px;
  }
}

.div3-sobre{
.container{
  margin-bottom: 10em;
}
  .col-sm-2{
    .paragrafo-div{
      font-size: 18px;
      padding: 5px;
      @media(max-width: 575.98px){
        margin-left: 50px;
        margin-right: 50px;
        padding: 0;
      }
    }
  }
  .diferenciais{
    img{
      margin-left: auto;
      max-height: 60px;
      margin-right: auto;
      display: block;
      margin-bottom: 30px;
        transition: all .5s cubic-bezier(.86,-.365,.07,1.345);
        transition-timing-function: cubic-bezier(.86,-.365,.07,1.345);
      }
    img:hover{
        transform: scale(1.2);
      }
  }
  .row{
    &:nth-child(2){
      margin-top: 35px;
    }
    &:nth-child(3){
      margin-top: 50px;
    }
  }
  .col-sm-12{
    img{
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 65px;
    }
  }
}

.div4-sobre{
  height: 100vh;
  background-image: url('../img/sobre-img-2.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  @media(max-width: 1024px){
    height: auto;
    padding-bottom: 1px;
  }
  @media (min-width: 1600px) and (max-width: 1999.98px) {
    height: 80vh;
  }
  @media (min-width: 2000px) {
    height: 70vh; 
  } 
  .col-sm-8{
    margin-bottom: 100px;
    margin-top: 100px; 
  }
  h1{
    color: $second-color;
  }
  img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 90px;
    max-height: 70px;
    margin-bottom: 30px;
    transition: all .5s cubic-bezier(.86,-.365,.07,1.345);
    transition-timing-function: cubic-bezier(.86,-.365,.07,1.345);
  }
  img:hover{
    transform: scale(1.2);
  }
  .paragrafo-div{
    font-size: 18px;
    color: white;
    padding-top: 20px;
    padding: 0;
  }
}


.teste-banner{
  /* Main carousel style */
  .carousel {
      width: 100%; 
  }
  .carousel-inner .item {
    height: 110vh;
    width: 100%;
    max-width: unset;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:nth-child(1){
      background-image: url('../img/img-banner-solucoes-negocios-1.jpg');
    }
    &:nth-child(2){
      background-image: url('../img/sistran-banner-2.jpg');
      h1{
        color: white;
      }
    }
    &:nth-child(3){
      background-image: url('../img/ramoselementares.jpg');
      h1{
        color: white;
      }
    }
    &:nth-child(4){
      background-image: url('../img/auto2.jpg');
    }
    &:nth-child(5){
      background-image: url('../img/img-banner-solucoes-negocios-5.jpg');
    }
    .titulo-banner{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      h1{
        font-size: 45px;
        margin-top: 0;
        padding-top: 35px;
        @media (max-width: 575.98px){
          font-size: 30px;
        }
        @media (min-width: 576px) and (max-width: 767.98px){
          font-size: 35px;
        }
      }
      hr{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        border: 2px solid $second-color;
        @media (max-width: 575.98px){
          width: 40%;
        }
        @media (min-width: 576px) and (max-width: 767.98px){
          width: 25%;
        }
      }
    }
    @media (max-width: 767.98px){
      height: 50vh;
    }
    @media (min-width: 1600px) and (max-width: 1999.98px) {
      height: 80vh;
    }
    @media (min-width: 2000px) {
      height: 70vh; 
    } 
  }

  /* Indicators list style */
  .article-slide .carousel-indicators {
      bottom: 0;
      width: 100%;
      margin-left: 0;
      left: 0;
      z-index: 0;
      .active{
        background-color: $second-color;
      }
  }
  /* Indicators list style */
  .article-slide .carousel-indicators li {
      border: 2px solid #fff;
      background-color: rgba(55,78,90,.4);
      padding: 0px 15px;
      border-radius: 25px;
      font-size: 20px;
      height: auto;
      margin-bottom: 5px;
      margin-left: 0;
      margin-top: 0;
      width: auto;
      text-indent: 0;
      p{
        margin-bottom: 0;
        color: white;
      }
      @media (max-width: 575.98px){
        font-size: 12px;
        padding: 0px 5px;
      }
      @media (min-width: 576px) and (max-width: 767.98px){
        font-size: 15px;
        padding: 0px 10px;
      }
      @media (min-width: 768px) and (max-width: 1199.98px){
        margin-bottom: 30px;
      }
  }
  /* Indicators images style */
  .article-slide .carousel-indicators img {
      border: 2px solid #FFFFFF;
      float: left;
      height: 54px;
      left: 0;
      width: 100px;
  }
  /* Indicators active image style */
  .article-slide .carousel-indicators .active img {
      border: 2px solid #428BCA;
      opacity: 0.7;
  }
}


.div5-sobre{
  .container{
    margin-bottom: 10em;
  }
  button{
    font-size: 20px;
  }
  h2{
    text-align: center;
  }
  .n-premiacao{
    transition: all .5s cubic-bezier(.86,-.365,.07,1.345);
    transition-timing-function: cubic-bezier(.86,-.365,.07,1.345);
    &:hover{
      transform: scale(1.2);
    }    
    p{
      color: $primary-color;
      font-size: 120px;
      text-align: center;
      @media (max-width: 767.98px){
        font-size: 80px;   
      }      
    }
    @media(max-width: 767px){
      width: 25%;
      text-align: center;
      float: left;
      font-size: 100px;
    }    
  }
  .premiacao{
    color: $second-color;
    padding-left: 0;
    margin-left: 0px;
    font-size: 22px;
    margin-top: 88px;
    line-height: 22px;
    font-weight: 700;
    @media(max-width: 767px){
      width: 33%;
      margin: 50px 0 0;
      float: right;
      font-size: 19px;
      margin-right: 40px;
    }
  }
  .img-premio1{
    max-width: 85px;
    float: left;
    margin-top: 55px;
    @media (min-width: 576px) and (max-width: 767.98px){
      margin-left: 120px;
    }    
    @media (max-width: 767.98px){
      max-width: 60px;
      margin-top: 38px;
      float: left;
    }    
  }
  .img-premio2{
    max-width: 80px;
    float: left;
    margin-top: 35px;
    @media (min-width: 576px) and (max-width: 767.98px){
      margin-left: 120px;
      margin-right: 5px;
      max-width: 95px;
      margin-top: 45px;
    }
    @media (max-width: 767.98px){
      float: left;
      max-width: 60px;
      margin-top: 20px;
      margin-right: 0px;
    }
    @media (min-width: 768px) and (max-width: 1199.98px){
      margin-right: 0;
    }            
  }
  .img-premio3{
    margin-top: 70px;
    max-width: 90px;
    margin-right: 40px;
    float: right;
    @media (min-width: 576px) and (max-width: 767.98px){
      margin-left: 115px;
    }
    @media (max-width: 767.98px){
      margin-top: 40px;
      max-width: 65px;
      float: left;
      margin-right: 0;
    }    
    @media (min-width: 768px) and (max-width: 1199.98px){
      max-width: 75px;
      margin-top: 75px;
      margin-right: 35px;
    }    
  }
  .img-premio4{
    max-width: 95px;
    float: right;
    margin-top: 50px;
    margin-right: 55px;
    @media (min-width: 576px) and (max-width: 767.98px){
      margin-left: 115px;
    }
    @media (max-width: 767.98px){
      float: left;
      max-width: 64px;
      margin-top: 25px;
      margin-right: 0px;
    }  
    @media (min-width: 768px) and (max-width: 1199.98px){
      max-width: 65px;
      margin-top: 67px;
      margin-right: 40px;
    }    
  }
  .paragrafo{
    font-size: 19px;
    text-align: center;
    color: #F3A83A;
    line-height: 26px;
    margin-bottom: 35px;
    font-weight: 700;
  }
  .titulo1{
    font-size: 20px;
    font-weight: 700;
    color: $second-color;
    margin-bottom: 0px;
    @media (max-width: 767.98px){
      font-size: 18px;
    }
  }
  .hr-titulo1{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  img{
    width: 100%;
    max-width: 60px;
    margin-right: auto;
    margin-left: auto;
    display: block;  
  }
  .paragrafo-div{
    padding: 0; 
    padding-top: 15px;
    font-size: 18px;
    @media(min-width: 768px) and (max-width: 992px){
      font-size: 14px;
      line-height: 13px;
    }
    @media(min-width: 993px) and (max-width: 1200px){
      font-size: 14px;
      line-height: 20px;
    }
  }  
}

.modal-estilo{
  .modal-lg{
    width: 100% !important;
    margin: auto !important;
    .modal-content{
      margin-top: -1px;
      border-radius: 0;
      margin-right: -1px;
      h1{
        color: $primary-color;
        text-align: center;
        width: 19%;
        margin-left: auto;
        line-height: 45px;
        margin-right: auto;
        font-size: 38px;
        margin-top: 70px;
        @media (max-width: 575.98px){
          width: 80%;
        }
        @media (min-width: 576px) and (max-width: 992px){
          width: 50%;
        }
        @media (max-width: 767.98px){
          margin-top: 25px;
        }        
      }
      .titulo{
        width: 12%;
        margin-bottom: 50px;
        @media (max-width: 767.98px){
          width: 25%;
          margin-left: 40%;
        }
      }
      button{
        background-color: $second-color;
        border: none;
        float: right;
        border-radius: 50px;
        width: 80px;
        height: 80px;
        margin-top: 40px;
        margin-right: 40px;
        -webkit-transition: -webkit-transform .4s ease;
        transition: transform .4s ease;
        @media (max-width: 767.98px){
          width: 50px;
          height: 50px;
          margin-top: -45px;
          margin-right: 5px;
          padding-top: 5px;
          padding-left: 8px;
        }
        img{
          max-width: 55px;
          @media (max-width: 767.98px){
              max-width: 35px;
          }
        }
        &:hover{
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Safari 3-8 */
          transform: rotate(180deg);
        }
      }
    }
    .conteudo-modal{
      padding: 60px 250px 50px 250px;
      @media(max-width: 992px){
        padding: 10px 20px 0px;
      }
      h3{
        font-weight: unset;
        margin-bottom: 30px;
      }
      p{
        color: #555;
        display: grid;
        padding-left: 15px;
        font-size: 17px;
        line-height: 22px;
      }
      li{
        list-style: none;
        display: inline-flex;
      }
      li::before {
        content: "• ";
        color: $second-color;
      }
      ul{
        padding-left: 15px;
        font-size: 17px;
        li{
          display: flex;
        }
        li::before {
          padding-right: 15px;
        }
      }
    }
  }
}
.div6-sobre{
  margin-bottom: 8em !important;
  .hr-titulo1{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .titulo1{
    font-size: 20px;
    font-weight: 700;
    color: $second-color;
    margin-bottom: 0px;
    @media (max-width: 767.98px){
      font-size: 18px;
    }
  }
  .paragrafo-div{
    padding: 0; 
    padding-top: 15px;
    font-size: 18px;
    @media(min-width: 768px) and (max-width: 992px){
      font-size: 14px;
      line-height: 13px;
    }
    @media(min-width: 993px) and (max-width: 1200px){
      font-size: 14px;
      line-height: 20px;
    }
  }
  img{
    width: 100%;
    max-width: 60px;
    margin-right: auto;
    margin-left: auto;
    display: block;  
  }
  .col-left{
    padding-right: 65px;
    @media(max-width: 922px){
      padding-right: 15px;
    }
    .hr-titulo1{
      &:nth-child(2){
        margin-bottom: 0px;
      }
      &:nth-child(3){
        margin-bottom: 45px;
      }
    }
    h1{
      text-align: left;
      margin-top: 0px;
      font-size: 40px;
      @media (max-width: 575.98px){
        font-size: 30px;
      }
    }
  }
  .col-right{
    padding-left: 45px;
    padding-right: 45px;
    @media(max-width: 767.98px){
      padding-left: 0px;
      padding-right: 0px;
    }
    @media(max-width: 992px){
      padding-left: 15px;
      padding-right: 15px;
    }
    .titulo1{
      font-size: 20px;
      font-weight: 700;
      color: $second-color;
      margin-bottom: 0px;
      margin-top: 9px;
      @media (max-width: 767.98px){
        font-size: 18px;
      }
    }
    img{
      width: 100%;
      max-height: 50px;
    }
    .col-sm-9{
      @media(max-width: 767.98px){
        text-align: center;  
      } 
      p{
        font-size: 18px;
        color: $primary-color;
        display: inline-block;
        line-height: 25px;
        text-align: left;
        @media(max-width: 767.98px){
          text-align: center;  
        }      
      }
    }    
    .row{
      margin-bottom: 20px;
      &:nth-child(1){
        margin-bottom: 0px;
        margin-left: 0px;
      }
    }
    @media (min-width: 576px) and (max-width: 767.98px){
      width: auto;
    }
    @media (min-width: 768px) and (max-width: 992px){
      width: 50%;
    }
  }
  .icon-pilar1 img{
    max-height: 100%;
    max-width: 22px;
  }
  .icon-pilar4 img{
    max-height: 100%;
    max-width: 28px;
    @media (min-width: 768px){
      margin-top: 13px;
    }
  }
  .icon-pilar5 img{
    max-height: 100%;
    max-width: 50px;    
    @media (min-width: 768px){
      margin-top: 10px;
    }    
  }
}