.banner-parcerias{
  background-image: url('../img/parcerias-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
  margin-bottom: 100px;
  margin-top: 73px;
  @media(max-width: 767px){
    height: auto;
  }
  h1{
    color: $second-color;
    padding-top: 160px;
    @media(max-width: 575.98px){
      padding-top: 90px;
    }
    @media(max-width: 576px) and (max-width: 767.98px){
      padding-top: 45px;
    }
  }
  p{
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 30px;
  }
}

.col-img{
  width: 200px;
  border: 1px solid $second-color;
  height: 200px;
  float: left;
  margin-left: -25px;
  margin-right: 40px;
  line-height: 200px;
  @media(max-width: 575.98px){
    margin-left: 15px;
    margin-right: 15px;
    float: unset;
    width: auto;
    height: auto;
  }
  @media(min-width: 576px) and (max-width: 991.98px){
    margin-left: 15px;
    margin-right: 15px;
  }
  img{
    max-width: 140px;
    max-height: 140px;
    height: auto;
    margin-left: 29px;
    vertical-align: middle;
    @media (max-width: 767.98px){
      max-width: 100%;
      max-height: 100%;
      width: 75%;
      height: auto;
    }
  }
}

.parceiros{
  margin-bottom: 0 !important;
  button{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .row{
    margin-bottom: 50px;
  }
  .col-right{
    @media (max-width: 575.98px){
      margin-left: 15px;
      margin-right: 15px; 
      width: auto;
      height: auto;
    }
    @media (min-width: 576px) and (max-width: 767.98px){
      margin-left: 0px;
      margin-right: 0px;
      width: 57%;
      float: right;
      height: auto;
      h2{
        margin-top: 0;
      }
    } 
    @media (min-width: 768px) and (max-width: 991.98px){
      width: 60%;
      float: right;
      h2{
        margin-top: 0;
      }
    }
    @media (min-width: 992px) and (max-width: 1199.98px){
      h2{
        margin-top: 0;
      }
    }  
    p{
      font-size: 21px;
      line-height: 25px;
      color: $primary-color;
      margin-left: 215px;
      @media (max-width: 991.98px){
        margin-left: 0px;
      }
    }
  }
  

}

.col-onebase{
  margin-top: 35px;
  img{
      margin-top: -20px;
      @media (max-width: 767.98px){
        margin-top: -40px;
      }
  }
  @media (max-width: 767.98px){
    margin-top: 0;
  }
}

.col-onebase-right{
  h2{
    margin-top: 0;
    @media (max-width: 575.98px){
      margin-top: 25px;
    }
  }
}