/*=========== Banner ===========*/
.banner{
.col-sm-12{
  @media (max-width: 1199px){
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    height: auto;
  }
  @media (min-width: 1200px){
    padding-right: 15px;
    padding-left: 0;
  }
}
  .posts{
    @media (max-width: 575.98px){
      height: 300px;
    }
    @media (max-width: 576px) and (max-width: 767.98px){
      height: 260px;
      margin-bottom: 0;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
      height: 230px;
      margin-bottom: 0px;
    }
  }
}
.img-banner img{
  width: 100%;
  height: 445px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 575.98px){ 
    height: auto;
    min-height: 200px;
    width: 100%;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 100%;
    height: auto;
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    height: auto;
    margin-left: -50px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    height: 605px;
    margin-left: -70px; 
  }  
  @media (min-width: 1200px){
    margin-left: -70px;  
    height: auto;
  }
}

.carousel-inner{
  .item{
    height: 445px;
    width: 100%;
    @media (max-width: 575.98px){
      height: 500px;
    }
    @media (min-width: 576px) and (max-width: 767.98px){
      height: 600px;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
      height: 410px;
      margin-bottom: 30px;
    }
    @media (min-width: 992px) and (max-width: 1199.98px){
      height: 605px;
      margin-bottom: 30px;
    }
    &:hover{
      .mask-post{
        bottom: 0;
        height: 100%;
        opacity: 1;
        @media(max-width: 575.98px){
          height: auto;
        }
      }
    }
  }
}
.descricao-banner{
  width: 40%;
  background-color: #F5F5F5;
  height: 500px;
  right: 0;
  padding: 50px 45px;
  position: absolute;
  h2{
    color: $primary-color;
    margin-top: 0;
    line-height: 32px;
    @media (min-width: 768px) and (max-width: 991.98px){
      font-size: 23px;
    }
  }
  p{
    font-size: 16px;
    line-height: 20px;
    @media (min-width: 768px) and (max-width: 991.98px){
      font-size: 14px;
    } 
  }
  .botao{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    p{
      margin-bottom: 0;
    }
  } 
  .hashtags{
    font-size: 21px;
    font-weight: 700;
  }
  .mask-post{
    left: 0 !important;
    width: 100% !important;
    @media(max-width: 767.98px){
      width: 0 !important;
    }
    .botao{
      width: 50% !important; 
      @media (min-width: 768px) and (max-width: 991.98px){
        width: 70% !important;
      }
    } 
    h3{
      @media (min-width: 768px) and (max-width: 991.98px){
        padding: 0px 10px 10px;
      }
    }
    .text{
      @media (min-width: 768px) and (max-width: 991.98px){
        top: 65% !important;
      }
    }
  }
  @media (max-width: 399.98px){
    height: 300px !important;
  }
  @media (min-width: 400px) and (max-width: 449.98px){
    height: 290px !important;
  }
  @media (min-width: 450px) and (max-width: 499.98px){
    height: 260px !important;
  }
  @media (min-width: 500px) and (max-width: 549.98px){
    height: 230px !important;
  }
  @media (min-width: 550px) and (max-width: 575.98px){
    height: 200px !important;
  }
  @media (min-width: 576px) and (max-width: 767.98px){
    height: 300px !important;
  }  
  @media (max-width: 767.98px) {
    width: 100%;
    padding: 25px;
    padding-top: 5px;
    bottom: 0;
    margin-bottom: 0 !important;
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    height: 445px !important;
    padding: 40px 30px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    height: 605px !important;
    padding: 125px 30px;
    width: 32%;
  }  
}



.descricao-banner h2{
	font-size: 30px;
  @media (max-width: 991.98px) {
    font-size: 23px;
  }
}

.button-banner{
  width: 100px;
  height: 50px;
  padding-left: 16px;
  padding-top: 13px;
  margin-top: 40px;
  background-color: #D92725;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
  font-size: 15px;
  -webkit-transition: all ease .6s;
  -moz-transition: all ease .6s;
  transition: all ease .6s;
}
.button-banner p:hover{
  text-decoration: none;
}
.descricao-banner a:hover{
  text-decoration: none;
}
.button-banner:hover{
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
@media (max-width: 992px) {
  .button-banner{
    margin-top: -2px;
  }
}
.previous a{
  margin-top: 20px;
  color: #D92725;
}
.next a{
  margin-top: 20px;
  color: #D92725;
}
/*=========== Banner ===========*/

/*=========== Posts ===========*/

.posts-blog{
  .posts{
    @media (max-width: 767.98px){
      height: auto;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
      margin-bottom: 30px;
    }
    img{
      @media (max-width: 767.98px){
        width: 100%;
        height: auto;    
      }
      @media (min-width: 768px) and (max-width: 991.98px){
        height: auto;
        max-height: 130px;
      }
    }
  }
}


