.quem-somos2{
  .titulo1{
    width: 100%;
    height: 210px;
    background-color: #33BB9C;
    margin-top: 67px;
    h1{
      font-size: 45px;
      text-align: center;
      color: white;
      vertical-align: middle;
      padding-top: 60px;
      margin-bottom: 0.5px;
    }
    .texto{
      font-size: 25px;
      text-align: center;
      color: white;
    }

  }

  .col-sm-7{
    padding-right: 30px;

    p{
      text-align: justify;
    }

    text-align: justify;

  }


  .roberto{
    margin-top: 80px;
    // border-left: 1px solid #33BB9C;

    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       border-left: 1px solid #33BB9C;
       padding-left: 35px;
     }
    .tituloR{
      font-size: 24px;
      color: #33BB9C;
    }
    .textoroberto{
      width: 92%;
    }
  }

  .bot{
    display: inline-block;
  }
  .botao1, .botao2{
    display: inline-block;
    // width: 305px;
    width: 100%;
    border: 1px solid #33BB9C;
    min-height: 68px;
    p{
      padding-left: 9px;
      margin-top: 8px;
      line-height: 15px;
    }
  }

  .botao1{
    padding-left: 9px;
    margin-top: 15px;
    position: relative;

    /* Small devices (desktops, 992px and up) */
     @media (min-width: $screen-md-min) {
       margin-top: 0;
     }
  }


  .cronograma-link{
    text-align: center;
    img,h3{
      // float: left;

    }
    img{
      width: 55px;
      margin-bottom: 20px;
      margin-top: 40px;
    }
    .leia-mais{
      margin-top: 0;
      margin-left: 0;
    }
  }

  .botao2{
    margin-top: 20px;
    position: relative;
    /* Small devices (desktops, 992px and up) */
     @media (min-width: $screen-md-min) {
       margin-top: 0;
     }
  }

  .rowF{
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .textoR2{
    display: inline-block;
    float: left;
    width: 100%;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-md-min) {
       width: 44%;
     }
  }

  .fotoroberto{
    width: 50%;
    display: inline-block;
    float: right;
    transform: skewX(-12deg);
    overflow: hidden;
    margin-top: 11px;
    .foto{
      float: right;
      background-image: url('../img/roberto.png');
      transform: skewX(14deg);
      margin-right: 24%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
  }
  .gordilho{
    width: 100%;
  }
}
