
.wpcf7-form{
  label{
    width: 100%;
    input,textarea{
      width: 100%;
    }
  }
}
.wpcf7-form-control-wrap{
  @extend .form-group;
  .wpcf7-form-control{
    @extend .form-control;
  }
  .wpcf7-not-valid-tip{
    @extend .alert;
    @extend .alert-danger;
  }
}
.wpcf7-submit{
  @extend .btn;
  @extend .btn-default;
}
.wpcf7-validation-errors{
  @extend .alert;
  @extend .alert-danger;
  background-color: $state-danger-bg !important;
  border-color: $state-danger-border !important;
  border-width: 1px !important;
}
