.fale-conosco{
  margin-top: 88px;
  h1{
    font-size: 55px;
    margin-top: 80px;
  }
  .col-sm-8{
      font-size: 25px;
      text-align: center;
      line-height: 30px;
      margin-bottom: 50px;
  }
  button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
  }
  input{
    border-radius: 25px !important;
  }
}
