.nucleo-de-estudos{
  .tituloI{
    margin-bottom: 0;
  }
  .textoT{
    text-align: center;
    color: white;
  }
  .nucleo-foto{
    width: 100%;
    height: 400px;
    background-image:url('../img/nucleo-foto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }
  .container-left, .container-right{
    position: relative;
    width: 90%;
    padding: 50px;
    padding-right: 200px;
    overflow: hidden;
    margin-bottom: 50px;
    z-index: 2;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $text-color;
      @include transform(skewX(-24deg));
      height: 100%;
      width: 110%;
      margin-left: -20%;
      z-index: 1;
    }
  }

  .container-right{
    width: 100%;
    padding-right: 50px;
    padding-left: 200px;
    color: $body-bg;
    z-index: 2;
    &:before{
      top: 0;
      left: auto;
      right: 0;
      background-color: $text-color;
      margin-left: 0;
      margin-right: -20%;
      z-index: -1;
    }
  }
  .lista{
    margin-bottom: 62px;
    margin-top: 90px;
    .linha{
      height: 70px;
      h3{
        // padding-top: 29px;
        padding-right: 48px;
        padding-left: 48px;
      }
    }
    .linha1{
      width: 50%;
      text-align: right;
      margin-right: 50%;
      img{
        float: right;
        width: 60px;
        margin-right: -30px;
      }
    }
    .linha2{
      width: 50%;
      text-align: left;
      margin-left: 50%;
      img{
        float: left;
        width: 60px;
        margin-left: -30px;
      }
    }
  }
}
