.titulo-materiais{
  height: 50vh;
  @media(max-width: 767px){
    height: auto;
  }
  h1{
    padding-top: 25vh;
  }
  .titulo{
    width: 13%;
  }
  p{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }
}

.posts-ebooks{
  margin-bottom: 0em !important;
  .line{
    margin-top: 50px;
    margin-bottom: 0px;
    h3{
      float: left;
    }
    hr{
      width: 45%;
      border: 0.05em solid #F3A83A;
      display: inline-block;
      margin: 40px;
      margin-left: 25px;
      margin-right: 25px;
      @media(max-width: 767px){
        display: none;
      }
      @media(min-width: 768px) and (max-width: 992px){
        width: 32%;
      }
      @media(min-width: 993px) and (max-width:1200px){
        width: 41%;
      }
    }    
  }
  .box-search{
    float: right;
    width: 31%;
    margin-top: 20px;
    @media (max-width: 575.98px){
      width: 100%;
    }
    input{
      border-radius: 25px;
      border-right: none;
    }
    span{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      background: transparent;
      i{
        color: $second-color;
      }
    }
  }
}

.line{
  h3{
    float: left;
  }
  .hr-webinars{
    width: 89%;
    border: 0.05em solid #F3A83A;
    display: inline-block;
    margin: 40px;
    margin-left: 25px;
    margin-right: 0px;
    @media(max-width: 414px){
      width: 55%;
    }
    @media(min-width: 415px) and (max-width: 500px){
      width: 67%;
    }
    @media(min-width: 501px) and (max-width: 600px){
      width: 73%;
    }
    @media(min-width: 601px) and (max-width: 700px){
      width: 78%;
    }
    @media(min-width: 701px) and (max-width: 900px){
      width: 80%;
    }    
    @media(min-width: 901px) and (max-width: 1000px){
      width: 83%;
    } 
    @media(min-width:1001px) and (max-width: 1200px){
      width: 87%;
    }    
  }
}

.videos{
  .posts-videos{
    padding: 30px;
    padding-top: 0;
    @media(max-width: 414px){
      padding: 15px;
    }
  }
}
.visite-blog{
  button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 60px;
  }
}
