.solucoes{
	background-image: url('../img/solucoes-sketch-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 70px;
	padding-top: 40px;
    padding-bottom: 80px;
    @media (min-width: 768px) and (max-width: 991.98px){
        margin-top: 140px;
    }
	.container{
		margin-bottom: 8em;
        @media (max-width: 767.98px){
            margin-bottom: 6em;
        }
	}
	h1{ 
		color: white;
	}
	p{
		color: white;
        padding: 0 15px;
	}
    .conteudo-modal{
        hr{
            border: 1px solid lightgray;
            width: 96%;
            margin-top: 25px;
            margin-bottom: 0px;
            @media (max-width: 767.98px){
                width: 96%;
                margin-top: 40px;
                margin-bottom: 0px;
            }            
        }
    }
    .modal-lg .modal-content{
        h1{
            width: auto !important;
            font-size: 34px !important;
        }
        .pos-titulo{
            color: $second-color;
            font-size: 20px;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 30px;
            @media (max-width: 767.98px){
                margin-bottom: 45px;
            }            
        }
        .titulo{
            margin-bottom: 25px !important;
            @media (max-width: 767.98px){
                margin-left: 37%;
            }
        }
        button{
            margin-top: 5px;
        }
        .row{
            position: relative;
            a{
                position: absolute;
                left: 50%;
                margin-left: -128px;
                margin-bottom: 50px;
                @media (max-width: 575.98px){
                    margin-left: -75px;
                    margin-top: 25px;
                }        
                @media (min-width: 576px) and (max-width: 767.98px){
                    margin-left: -115px;
                    margin-top: 25px;
                }
                @media (min-width: 768px) and (max-width: 1199.98px){
                    margin-top: 25px;
                }                                                
                button{
                    width: auto;
                    font-size: 20px;
                    border-radius: 20px;
                    transform: none;
                    height: 55px;
                    padding: 0 55px;
                    margin-top: 0;
                    @media (max-width: 575.98px){
                        font-size: 14px;
                        line-height: 20px;
                        padding: 0 20px;
                    }
                    @media (min-width: 576px) and (max-width: 767.98px){
                        font-size: 16px;
                    }                                                            
                }
            }
        }
    }
    .btn-servicos{
        cursor: pointer;
        background-color: $primary-color;
        color: white;
    }
}
.paragrafos-ini{ 
	text-align: center;
	font-size: 20px;
	margin-bottom: 40px;
}
.div1-solucoes{
	margin-top: 15px;
	.col-sm-3{
		text-align: center;
		font-size: 20px;
        @media (min-width: 768px){
            border-right: 1px solid white;
        }		
		&:nth-child(5){
			border-right: none;
		}
		p{
			line-height: 22px;
			&:first-child{
				margin-bottom: 40px;
			}
		}
		img{
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-bottom: 20px;
		}
		.titulo-solucoes{
			color: white;
            background-color: $second-color;
            cursor: pointer;
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto;
            width: 85%;
            font-size: 17px;
            padding: 5px;
		}
	}
}

.descricao{
    margin-top: 150px;
    margin-bottom: 50px!important;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    padding: 0 60px;
    p{
        &:nth-child(1){
            margin-bottom: 30px;
        }
    }
    @media (max-width: 767.98px){
        padding: 0 15px;
        margin-top: 0;
    }   
    @media (min-width: 768px) and (max-width: 991.98px){
        margin-top: 100px;
        padding: 0 30px;
    }
    @media (min-width: 992px) and (max-width: 1199.98px){
        padding: 0 45px;
    }                         
}

.graficos-solucoes{
    margin-bottom: 0em !important;
    margin-top: 6em;
    .col-md-8{
        img{
            &:nth-child(1){
                margin-left: 30px;
                @media (max-width: 767.98px){
                    max-width: 240px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
                @media (min-width: 576px) and (max-width: 767.98px){
                    max-width: 340px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }                
                @media (min-width: 768px) and (max-width: 991.98px){
                    margin-left: 0;
                }
                @media (min-width: 992px) and (max-width: 1199.98px){
                    max-width: 360px;
                }                
            }
            &:nth-child(2){
                margin-top: -65px;
                margin-left: -85px;
                @media (max-width: 767.98px){
                    margin-top: 45px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    max-width: 230px;
                }            
            }
        }
    }
    .coluna-grafico-3{
        padding-top: 55px;
        font-size: 17px;
        line-height: 18px;
        margin-left: -40px;
        @media (max-width: 575.98px){
            margin-left: 0;
            margin-top: 60px;
            font-size: 15px;
        }
        @media (min-width: 576px) and (max-width: 767.98px){
           margin-left: 0;
           margin-top: 60px;    
        }
        @media (min-width: 768px) and (max-width: 991.98px){
           margin-left: 0;
           padding-top: 60px;
        }
        @media (min-width: 992px) and (max-width: 1199.98px){
            padding-top: 20px;
            font-size: 15px;
        }        
        p{
         &:nth-child(1){
            margin-bottom: 85px;
            margin-top: 10px;
            @media (min-width: 576px) and (max-width: 767.98px){
                margin-bottom: 115px;
            }
            @media (min-width: 768px) and (max-width: 991.98px){
                margin-bottom: 145px;
                margin-top: 35px;
            }
            @media (min-width: 992px) and (max-width: 1199.98px){
                margin-bottom: 60px;
                margin-top: 0px;
            }                                                                                    
         }
        }
        .col-sm-5{
            @media (max-width: 767.98px){
                padding: 0;
            }            
        }
        .col-sm-7{
            @media (max-width: 575.98px){
                position: absolute;
                top: 19%;
                width: 60%;
                left: 42%;
            }
            @media (min-width: 576px) and (max-width: 767.98px){
                position: absolute;
                top: 28%;
                width: 60%;
                left: 35%;
            }                       
        }
    }
}

.cerebro{
	background-image: url('../img/cerebro-sem-fundo2.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	position: relative;
	.bullet-cerebro{
		width: 25px;
	    height: 25px;
	    border-radius: 25px;
	    background-color: white;
	    position: absolute;
	    opacity: .2;
	    -webkit-transition-duration: .7s;
	    transition-duration: .7s;
    	transition-timing-function: linear;
        cursor: pointer;
		    &:nth-child(1){
				left: 55.3%;
    			top: 95%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
    			@media (min-width: 768px) and (max-width: 849.98px) {
    				left: 59%;
    			}
                @media (min-width: 850px) and (max-width: 939.98px) {
                    left: 58%;
                }
                @media (min-width: 940px) and (max-width: 991.98px) {
                    left: 57.3%;
                }
    			@media (min-width: 992px) and (max-width: 1079px) {
    				left: 57%;
    			}
                @media (min-width: 1080px) and (max-width: 1149.98px) {
                    left: 56.3%;
                }
                @media (min-width: 1150px) and (max-width: 1249.98px) {
                    left: 56%;
                }
                @media (min-width: 1250px) and (max-width: 1299.98px) {
                    left: 55.6%;
                }
                @media (min-width: 1500px) and (max-width: 1599.98px){
                    left: 55%;
                }
                @media (min-width: 1600px) and (max-width: 1799.98px){
                    left: 54.4%;
                }
                @media (min-width: 1800px) and (max-width: 2099.98px){
                    left: 53.7%;
                }
                @media (min-width: 2100px) {
                    left: 53.2%;
                }
			}
			&:nth-child(2){
				left: 44.9%;
                top: 71%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
    			@media (min-width: 768px) and (max-width: 839.98px) {
    				left: 41%;
    			}
                @media (min-width: 840px) and (max-width: 899.98px) {
                    left: 41.8%;
                }
                @media (min-width: 900px) and (max-width: 940.98px) {
                    left: 42.4%;
                }
    			@media (min-width: 941px) and (max-width: 991.98px) {
    				left: 42.6%;
    			}
    			@media (min-width: 992px) and (max-width: 1069.98px) {
    				left: 43.2%;
    			}
                @media (min-width: 1070px) and (max-width: 1139.98px) {
                    left: 43.6%;
                }
                @media (min-width: 1140px) and (max-width: 1199.98px) {
                    left: 44%;
                }
                @media (min-width: 1200px) and (max-width: 1279.98px) {
                    left: 44.3%;
                }
                @media (min-width: 1280px) and (max-width: 1349.98px) {
                    left: 44.6%;
                }
                @media (min-width: 1450px) and (max-width: 1799.98px){
                    left: 45.9%;
                }
                @media (min-width: 1800px) and (max-width: 2199.98px){
                    left: 46.9%;
                }
                @media (min-width: 2200px) {
                    left: 47.3%;
                }
			}
			&:nth-child(3){
				left: 33.5%;
                top: 56%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
   				@media (min-width: 768px) and (max-width: 789.98px) {
    				left: 20.7%;
    			}
    			@media (min-width: 790px) and (max-width: 809.98px) {
    				left: 21.5%;
    			}
    			@media (min-width: 810px) and (max-width: 829.98px) {
    				left: 22.2%;
    			}
                @media (min-width: 830px) and (max-width: 859.98px) {
                    left: 23%;
                }
                @media (min-width: 860px) and (max-width: 879.98px) {
                    left: 23.8%;
                }
                @media (min-width: 880px) and (max-width: 899.98px) {
                    left: 24.5%;
                }
                @media (min-width: 900px) and (max-width: 929.98px) {
                    left: 25.1%;
                }
                @media (min-width: 930px) and (max-width: 949.98px) {
                    left: 25.8%;
                }
                @media (min-width: 950px) and (max-width: 969.98px) {
                    left: 26.4%;
                }
                @media (min-width: 970px) and (max-width: 999.98px) {
                    left: 26.9%;
                }
                @media (min-width: 1000px) and (max-width: 1039.98px) {
                    left: 27.8%;
                }
                @media (min-width: 1040px) and (max-width: 1059.98px) {
                    left: 28.3%;
                }
                @media (min-width: 1060px) and (max-width: 1089.98px) {
                    left: 29%;
                }
                @media (min-width: 1090px) and (max-width: 1129.98px) {
                    left: 29.5%;
                }
                @media (min-width: 1130px) and (max-width: 1159.98px) {
                    left: 30.2%;
                }
                @media (min-width: 1160px) and (max-width: 1199.98px) {
                    left: 30.8%;
                }
                @media (min-width: 1200px) and (max-width: 1229.98px) {
                    left: 31.4%;
                }
                @media (min-width: 1230px) and (max-width: 1259.98px) {
                    left: 31.8%;
                }
                @media (min-width: 1260px) and (max-width: 1289.98px) {
                    left: 32.3%;
                }
                @media (min-width: 1290px) and (max-width: 1329.98px) {
                    left: 32.7%;
                }
                @media (min-width: 1330px) and (max-width: 1359.98px) {
                    left: 33.2%;
                }
                @media (min-width: 1400px) and (max-width: 1499.98px){
                    left: 35%;
                }
                @media (min-width: 1500px) and (max-width: 1599.98px){
                    left: 36%;
                }
                @media (min-width: 1600px) and (max-width: 1699.98px){
                    left: 37%;
                }
                @media (min-width: 1700px) and (max-width: 1799.98px){
                    left: 38%;
                }
                @media (min-width: 1800px) and (max-width: 1999.98px){
                    left: 39%;
                }
                @media (min-width: 2000px) and (max-width: 2149.98px){
                    left: 39.5%;
                }
                @media (min-width: 2150px) and (max-width: 2349.98px){
                    left: 40.5%;
                }
                @media (min-width: 2350px) and (max-width: 2499.98px){
                    left: 41%;
                }
                @media (min-width: 2500px) {
                    left: 41.5%;
                }
			}
			&:nth-child(4){
				left: 26.9%;
                top: 27%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
    			@media (min-width: 768px) and (max-width: 785.98px) {
    				left: 9%;
    			}
                @media (min-width: 786px) and (max-width: 799.98px) {
                    left: 9.6%;
                }
    			@media (min-width: 800px) and (max-width: 819.98px) {
    				left: 10.5%;
    			}
                @media (min-width: 820px) and (max-width: 829.98px){
                    left: 11.5%;
                }
                @media (min-width: 830px) and (max-width: 849.98px){
                    left: 12%;
                }
                @media (min-width: 850px) and (max-width: 869.98px){
                    left: 12.9%;
                }
                @media (min-width: 870px) and (max-width: 879.98px){
                    left: 13.7%;
                }
                @media (min-width: 880px) and (max-width: 899.98px){
                    left: 14.1%;
                }
                @media (min-width: 900px) and (max-width: 919.98px){
                    left: 15%;
                }
                @media (min-width: 920px) and (max-width: 939.98px){
                    left: 15.8%;
                }
                @media (min-width: 940px) and (max-width: 969.98px){
                    left: 16.6%;
                }
                @media (min-width: 970px) and (max-width: 989.98px){
                    left: 17.5%;
                }
                @media (min-width: 990px) and (max-width: 1019.98px){
                    left: 18.4%;
                }
                @media (min-width: 1020px) and (max-width: 1039.98px){
                    left: 19.2%;
                }
                @media (min-width: 1040px) and (max-width: 1069.98px){
                    left: 19.8%;
                }
                @media (min-width: 1070px) and (max-width: 1099.98px){
                    left: 20.6%;
                }
                @media (min-width: 1100px) and (max-width: 1129.98px){
                    left: 21.6%;
                }
                @media (min-width: 1130px) and (max-width: 1149.98px){
                    left: 22.2%;
                }
                @media (min-width: 1150px) and (max-width: 1179.98px){
                    left: 22.8%;
                }
                @media (min-width: 1180px) and (max-width: 1209.98px){
                    left: 23.4%;
                }
                @media (min-width: 1210px) and (max-width: 1239.98px){
                    left: 24.1%;
                }
                @media (min-width: 1240px) and (max-width: 1269.98px){
                    left: 24.8%;
                }
                @media (min-width: 1270px) and (max-width: 1299.98px){
                    left: 25.4%;
                }
                @media (min-width: 1300px) and (max-width: 1329.98px){
                    left: 26%;
                }   
                @media (min-width: 1330px) and (max-width: 1359.98px){
                    left: 26.5%;
                }       
                @media (min-width: 1400px) and (max-width: 1449.98px){
                    left: 27.9%;
                }    
                @media (min-width: 1450px) and (max-width: 1499.98px){
                    left: 29.2%;
                }
                @media (min-width: 1500px) and (max-width: 1599.98px){
                    left: 30.2%;
                }
                @media (min-width: 1600px) and (max-width: 1699.98px){
                    left: 31.4%;
                } 
                @media (min-width: 1700px) and (max-width: 1799.98px){
                    left: 32.4%;
                }
                @media (min-width: 1800px) and (max-width: 1899.98px){
                    left: 33.4%;
                }
                @media (min-width: 1900px) and (max-width: 1999.98px){
                    left: 34.4%;
                }
                @media (min-width: 2000px) and (max-width: 2099.98px){
                    left: 35.2%;
                }
                @media (min-width: 2100px) and (max-width: 2199.98px){
                    left: 36.2%;
                }
                @media (min-width: 2200px) and (max-width: 2299.98px){
                    left: 36.5%;
                }
                @media (min-width: 2300px) and (max-width: 2399.98px){
                    left: 37.2%;
                }
                @media (min-width: 2400px) and (max-width: 2499.98px){
                    left: 37.6%;
                }
                @media (min-width: 2500px) {
                    left: 38%;
                }
			}
			&:nth-child(5){
				left: 38.7%;
    			top: 4%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
    			@media (min-width: 768px) and (max-width: 799.98px) {
    				left: 30%;
    			}
                @media (min-width: 800px) and (max-width: 829.98px){
                    left: 30.7%;
                }
                @media (min-width: 830px) and (max-width: 859.98px){
                    left: 31.5%;
                }
                @media (min-width: 860px) and (max-width: 899.98px){
                    left: 32.2%;
                }
                @media (min-width: 900px) and (max-width: 939.98px){
                    left: 33%;
                }
                @media (min-width: 940px) and (max-width: 979.98px){
                    left: 33.6%;
                }
                @media (min-width: 980px) and (max-width: 1009.98px){
                    left: 34.2%;
                }
                @media (min-width: 1010px) and (max-width: 1059.98px){
                    left: 34.9%;
                }
                @media (min-width: 1060px) and (max-width: 1089.98px){
                    left: 35.5%;
                }
                @media (min-width: 1090px) and (max-width: 1139.98px){
                    left: 36%;
                }
                @media (min-width: 1140px) and (max-width: 1199.98px){
                    left: 36.7%;
                }
                @media (min-width: 1200px) and (max-width: 1249.98px){
                    left: 37.3%;
                }
                @media (min-width: 1250px) and (max-width: 1299.98px){
                    left: 37.8%;
                }
                @media (min-width: 1300px) and (max-width: 1359.98px){
                    left: 38.3%;
                }
                @media (min-width: 1400px) and (max-width: 1499.98px){
                    left: 39.7%;
                }
                @media (min-width: 1500px) and (max-width: 1599.98px){
                    left: 40.7%;
                }
                @media (min-width: 1600px) and (max-width: 1799.98px){
                    left: 41.2%;
                }
                @media (min-width: 1800px) and (max-width: 1999.98px){
                    left: 42%;
                }
                @media (min-width: 2000px) and (max-width: 2199.98px){
                    left: 43%;
                }
                @media (min-width: 2200px) and (max-width: 2449.98px){
                    left: 43.6%;
                }
                @media (min-width: 2450px) {
                    left: 44%;
                }
			}
			&:nth-child(6){
				left: 48%;
    			top: 0%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                display: none;
    			@media (min-width: 768px) and (max-width: 930px) {
    				left: 47%;
    			}
			}
			&:nth-child(7){
				left: 57.4%;
    			top: 3%;
                opacity: 1;
    			@media (min-width: 768px) and (max-width: 800px) {
    				left: 63%;
    			}
    			@media (min-width: 801px) and (max-width: 879.98px) {
    				left: 62%;
    			}
                @media (min-width: 880px) and (max-width: 929.98px){
                    left: 61.2%;
                }
                @media (min-width: 930px) and (max-width: 979.98px){
                    left: 60.6%;
                }
                @media (min-width: 980px) and (max-width: 1039.98px){
                    left: 60%;
                }
                @media (min-width: 1040px) and (max-width: 1099.98px){
                    left: 59.4%;
                }
                @media (min-width: 1100px) and (max-width: 1159.98px){
                    left: 59%;
                }
                @media (min-width: 1160px) and (max-width: 1219.98px){
                    left: 58.5%;
                }
                @media (min-width: 1220px) and (max-width: 1299.98px){
                    left: 58%;
                }
                @media (min-width: 1600px) and (max-width: 1849.98px){
                    left: 56.4%;
                }
                @media (min-width: 1850px) and (max-width: 2099.98px){
                    left: 55.6%;
                }                
                @media (min-width: 2100px) and (max-width: 2399.98px){
                    left: 54.8%;
                }                
                @media (min-width: 2400px) {
                    left: 54.2%;
                }
			}
			&:nth-child(8){
				left: 67%;
    			top: 18%;
                opacity: 1;
    			@media (min-width: 768px) and (max-width: 789.98px) {
    				left: 80%;
                }
                @media (min-width: 790px) and (max-width: 809.98px) {
                    left: 79%;
                }
                @media (min-width: 810px) and (max-width: 839.98px) {
                    left: 78%;
                }
                @media (min-width: 840px) and (max-width: 879.98px) {
                    left: 77%;
                }
                @media (min-width: 880px) and (max-width: 909.98px) {
                    left: 76%;
                }
                @media (min-width: 910px) and (max-width: 949.98px) {
                    left: 75%;
                }
                @media (min-width: 950px) and (max-width: 979.98px) {
                    left: 74%;
                }
                @media (min-width: 980px) and (max-width: 1019.98px) {
                    left: 73.2%;
                }
                @media (min-width: 1020px) and (max-width: 1059.98px) {
                    left: 72.2%;
                }
                @media (min-width: 1060px) and (max-width: 1089.98px) {
                    left: 71.4%;
                }
                @media (min-width: 1090px) and (max-width: 1129.98px) {
                    left: 70.8%;
                }
                @media (min-width: 1130px) and (max-width: 1169.98px) {
                    left: 70%;
                }
                @media (min-width: 1170px) and (max-width: 1209.98px) {
                    left: 69.3%;
                }
                @media (min-width: 1210px) and (max-width: 1249.98px) {
                    left: 68.7%;
                }
                @media (min-width: 1250px) and (max-width: 1299.98px) {
                    left: 68.1%;
                }
                @media (min-width: 1300px) and (max-width: 1349.98px) {
                    left: 67.4%;
                }
                @media (min-width: 1400px) and (max-width: 1499.98px){
                    left: 66%;
                }                
                @media (min-width: 1500px) and (max-width: 1599.98px){
                    left: 65%;
                }
                @media (min-width: 1600px) and (max-width: 1699.98px){
                    left: 64%;
                }
                @media (min-width: 1700px) and (max-width: 1849.98px){
                    left: 63%;
                }                
                @media (min-width: 1850px) and (max-width: 1999.98px){
                    left: 62%;
                }                
                @media (min-width: 2000px) and (max-width: 2199.98px){
                    left: 61%;
                }                
                @media (min-width: 2200px) and (max-width: 2449.98px){
                    left: 60%;
                }                
                @media (min-width: 2450px){
                    left: 59%;
                }
			}
			&:nth-child(9){
				left: 71.4%;
                top: 43%;
                opacity: 1;
    			@media (min-width: 768px) and (max-width: 789.98px) {
    				left: 88%;
    			}
    			@media (min-width: 790px) and (max-width: 799.98px) {
    				left: 87%;
    			}
                @media (min-width: 800px) and (max-width: 819.98px) {
                    left: 86.4%;
                }
                @media (min-width: 820px) and (max-width: 839.98px) {
                    left: 85.4%;
                }
    			@media (min-width: 840px) and (max-width: 859.98px) {
                    left: 84.7%;
                }
                @media (min-width: 860px) and (max-width: 889.98px) {
                    left: 83.7%;
                }
                @media (min-width: 890px) and (max-width: 899.98px) {
                    left: 82.7%;
                }
                @media (min-width: 900px) and (max-width: 929.98px) {
                    left: 82.3%;
                }
                @media (min-width: 930px) and (max-width: 959.98px) {
                    left: 81.2%;
                }
                @media (min-width: 960px) and (max-width: 989.98px) {
                    left: 80.2%;
                }
                @media (min-width: 990px) and (max-width: 1009.98px) {
                    left: 79.4%;
                }
                @media (min-width: 1010px) and (max-width: 1039.98px) {
                    left: 78.6%;
                }
                @media (min-width: 1040px) and (max-width: 1069.98px) {
                    left: 77.8%;
                }
                @media (min-width: 1070px) and (max-width: 1099.98px) {
                    left: 77%;
                }
                @media (min-width: 1100px) and (max-width: 1119.98px) {
                    left: 76.6%;
                }
                @media (min-width: 1120px) and (max-width: 1139.98px) {
                    left: 76%;
                }
                @media (min-width: 1140px) and (max-width: 1179.98px) {
                    left: 75.2%;
                }
                @media (min-width: 1180px) and (max-width: 1209.98px) {
                    left: 74.4%;
                }
                @media (min-width: 1210px) and (max-width: 1239.98px) {
                    left: 73.8%;
                }
                @media (min-width: 1240px) and (max-width: 1279.98px) {
                    left: 73.2%;
                }
                @media (min-width: 1280px) and (max-width: 1309.98px) {
                    left: 72.6%;
                }
                @media (min-width: 1310px) and (max-width: 1349.98px) {
                    left: 72%;
                }
                @media (min-width: 1400px) and (max-width: 1459.98px){
                    left: 70.4%;
                }                
                @media (min-width: 1460px) and (max-width: 1499.98px){
                    left: 69.8%;
                }
                @media (min-width: 1500px) and (max-width: 1569.98px){
                    left: 69%;
                }
                @media (min-width: 1570px) and (max-width: 1649.98px){
                    left: 68.2%;
                }                
                @media (min-width: 1650px) and (max-width: 1749.98px){
                    left: 67.2%;
                }                
                @media (min-width: 1750px) and (max-width: 1849.98px){
                    left: 66.2%;
                }
                @media (min-width: 1850px) and (max-width: 1949.98px){
                    left: 65.2%;
                }                
                @media (min-width: 1950px) and (max-width: 2049.98px){
                    left: 64.7%;
                }
                @media (min-width: 2050px) and (max-width: 2149.98px){
                    left: 63.9%;
                }
                @media (min-width: 2150px) and (max-width: 2299.98px){
                    left: 63.2%;
                }
                @media (min-width: 2300px) and (max-width: 2449.98px){
                    left: 62.4%;
                }
                @media (min-width: 2450px) and (max-width: 2549.98px){
                    left: 61.6%;
                }
                @media (min-width: 2550px) {
                    left: 61.2%;
                }
			}
			&:nth-child(10){
				left: 61.5%;
    			top: 71%;
                opacity: 1;
    			@media (min-width: 768px) and (max-width: 779.98px) {
    				left: 71%;
    			}
                @media (min-width: 780px) and (max-width: 819.98px) {
                    left: 70%;
                }
                @media (min-width: 820px) and (max-width: 859.98px) {
                    left: 69%;
                }
                @media (min-width: 860px) and (max-width: 899.98px) {
                    left: 68%;
                }
                @media (min-width: 900px) and (max-width: 959.98px) {
                    left: 67%;
                }
                @media (min-width: 960px) and (max-width: 1019.98px) {
                    left: 66%;
                }
                @media (min-width: 1020px) and (max-width: 1049.98px) {
                    left: 65.4%;
                }
                @media (min-width: 1050px) and (max-width: 1099.98px) {
                    left: 64.8%;
                }
                @media (min-width: 1100px) and (max-width: 1159.98px) {
                    left: 64%;
                }
                @media (min-width: 1160px) and (max-width: 1209.98px) {
                    left: 63.3%;
                }
                @media (min-width: 1210px) and (max-width: 1259.98px) {
                    left: 62.8%;
                }
                @media (min-width: 1260px) and (max-width: 1319.98px) {
                    left: 62.2%;
                }
                @media (min-width: 1320px) and (max-width: 1369.98px) {
                    left: 61.6%;
                }
                @media (min-width: 1500px) and (max-width: 1599.98px){
                    left: 60.5%;
                }
                @media (min-width: 1600px) and (max-width: 1799.98px){
                    left: 59.5%;
                }
                @media (min-width: 1800px) and (max-width: 1999.98px){
                    left: 58.5%;
                }
                @media (min-width: 2000px) and (max-width: 2149.98px){
                    left: 57.9%;
                }
                @media (min-width: 2150px) and (max-width: 2349.98px){
                    left: 57.2%;
                }               
                @media (min-width: 2350px) and (max-width: 2499.98px){
                    left: 56.6%;
                }
                @media (min-width: 2500px) {
                    left: 56.2%;
                }
			}
			&:nth-child(11){
				left: 54.5%;
                top: 83%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
    			@media (min-width: 768px) and (max-width: 829.98px) {
    				left: 58%;
    			}
                @media (min-width: 830px) and (max-width: 939.98px) {
                    left: 57%;
                }
                @media (min-width: 940px) and (max-width: 1019.98px) {
                    left: 56.5%;
                }
                @media (min-width: 1020px) and (max-width: 1089.98px) {
                    left: 56%;
                }
                @media (min-width: 1090px) and (max-width: 1189.98px) {
                    left: 55.5%;
                }
                @media (min-width: 1190px) and (max-width: 1289.98px) {
                    left: 55%;
                }
                @media (min-width: 1650px) and (max-width: 2099.98px){
                    left: 53.5%;
                }
                @media (min-width: 2100px) and (max-width: 2499.98px){
                    left: 53%;
                }
                @media (min-width: 2500px) {
                    left: 52.5%;
                }
			}
			&:nth-child(12){
				left: 53.3%;
                top: 59%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
    			@media (min-width: 768px) and (max-width: 820px) {
    				left: 56%;
    			}
    			@media (min-width: 821px) and (max-width: 989.98px) {
    				left: 55%;
    			}
    			@media (min-width: 990px) and (max-width: 1159.98px) {
    				left: 54.2%;
    			}
                @media (min-width: 1160px) and (max-width: 1339.98px) {
                    left: 53.6%;
                }
                @media (min-width: 1800px) and (max-width: 2299.98px){
                    left: 52.5%;
                }
                @media (min-width: 2300px) {
                    left: 52%;
                }
			}
			&:nth-child(13){
				left: 46%;
    			top: 45%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
    			@media (min-width: 768px) and (max-width: 829.98px) {
    				left: 43%;
    			}
                @media (min-width: 830px) and (max-width: 959.98px) {
                    left: 44%;
                }
                @media (min-width: 960px) and (max-width: 1039.98px) {
                    left: 44.5%;
                }
                @media (min-width: 1040px) and (max-width: 1139.98px) {
                    left: 45%;
                }
                @media (min-width: 1140px) and (max-width: 1279.98px) {
                    left: 45.5%;
                }
                @media (min-width: 1400px) and (max-width: 1699.98px){
                    left: 47%;
                }
                @media (min-width: 1700px) and (max-width: 2099.98px){
                    left: 47.5%;
                }
                @media (min-width: 2100px) {
                    left: 48%;
                }
			}
			&:nth-child(14){
				left: 38.8%;
                top: 35%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
    			@media (min-width: 768px) and (max-width: 789px) {
    				left: 30%;
    			}
                @media (min-width: 790px) and (max-width: 829.98px) {
                    left: 30.9%;
                }
                @media (min-width: 830px) and (max-width: 869.98px) {
                    left: 31.9%;
                }
                @media (min-width: 870px) and (max-width: 899.98px) {
                    left: 32.6%;
                }
                @media (min-width: 900px) and (max-width: 929.98px) {
                    left: 33.2%;
                }
                @media (min-width: 930px) and (max-width: 969.98px) {
                    left: 33.8%;
                }
                @media (min-width: 970px) and (max-width: 999.98px) {
                    left: 34.4%;
                }
                @media (min-width: 1000px) and (max-width: 1039.98px) {
                    left: 35%;
                }
                @media (min-width: 1040px) and (max-width: 1089.98px) {
                    left: 35.6%;
                }
                @media (min-width: 1090px) and (max-width: 1119.98px) {
                    left: 36%;
                }
                @media (min-width: 1120px) and (max-width: 1159.98px) {
                    left: 36.5%;
                }
                @media (min-width: 1160px) and (max-width: 1199.98px) {
                    left: 37%;
                }
                @media (min-width: 1200px) and (max-width: 1249.98px) {
                    left: 37.5%;
                }
                @media (min-width: 1250px) and (max-width: 1299.98px) {
                    left: 38%;
                }
                @media (min-width: 1300px) and (max-width: 1349.98px) {
                    left: 38.5%;
                }
                @media (min-width: 1350px) and (max-width: 1499.98px){
                    left: 39.8%;
                }
                @media (min-width: 1500px) and (max-width: 1699.98px){
                    left: 40.8%;
                }
                @media (min-width: 1700px) and (max-width: 1899.98px){
                    left: 41.5%;
                }
                @media (min-width: 1900px) and (max-width: 2149.98px){
                    left: 42.5%;
                }
                @media (min-width: 2150px) and (max-width: 2449.98px){
                    left: 43.5%;
                }
                @media (min-width: 2450px) {
                    left: 44.5%;
                }
			}
			&:nth-child(15){
				left: 48.3%;
                top: 14%;
                opacity: 1;
    			@media (min-width: 768px) and (max-width: 999.98px) {
    				left: 47.3%;
    			}
                @media (min-width: 1000px) and (max-width: 1299.98px) {
                    left: 48%;
                }
                @media (min-width: 1700px) {
                    left: 49.3%;
                }
			}
			&:nth-child(16){
				left: 59.5%;
                top: 29%;
                opacity: 1;
    			@media (min-width: 768px) and (max-width: 799.98px) {
    				left: 66.8%;
    			}
                @media (min-width: 800px) and (max-width: 839.98px) {
                    left: 66%;
                }
                @media (min-width: 840px) and (max-width: 869.98px) {
                    left: 65.5%;
                }
                @media (min-width: 870px) and (max-width: 889.98px) {
                    left: 65%;
                }
                @media (min-width: 890px) and (max-width: 919.98px) {
                    left: 64.5%;
                }
                @media (min-width: 920px) and (max-width: 959.98px) {
                    left: 64%;
                }
                @media (min-width: 960px) and (max-width: 989.98px) {
                    left: 63.5%;
                }
                @media (min-width: 990px) and (max-width: 1029.98px) {
                    left: 63%;
                }
                @media (min-width: 1030px) and (max-width: 1059.98px) {
                    left: 62.5%;
                }
                @media (min-width: 1060px) and (max-width: 1109.98px) {
                    left: 62%;
                }
                @media (min-width: 1110px) and (max-width: 1159.98px) {
                    left: 61.5%;
                }
                @media (min-width: 1160px) and (max-width: 1199.98px) {
                    left: 61%;
                }
                @media (min-width: 1200px) and (max-width: 1259.98px) {
                    left: 60.5%;
                }
                @media (min-width: 1260px) and (max-width: 1329.98px) {
                    left: 60%;
                }
                @media (min-width: 1500px) and (max-width: 1699.98px){
                    left: 58.5%;
                }
                @media (min-width: 1700px) and (max-width: 1899.98px){
                    left: 57.5%;
                }
                @media (min-width: 1900px) and (max-width: 2199.98px){
                    left: 56.5%;
                }
                @media (min-width: 2200px) {
                    left: 55.5%;
                }
			}
			&:nth-child(17){
				left: 62.5%;
                top: 51%;
                opacity: 1;
    			@media (min-width: 768px) and (max-width: 789px) {
    				left: 72.2%;
    			}
                @media (min-width: 790px) and (max-width: 819.98px) {
                    left: 71.4%;
                }
                @media (min-width: 820px) and (max-width: 839.98px) {
                    left: 71%;
                }
                @media (min-width: 840px) and (max-width: 869.98px) {
                    left: 70.2%;
                }
                @media (min-width: 870px) and (max-width: 899.98px) {
                    left: 69.5%;
                }
                @media (min-width: 900px) and (max-width: 929.98px) {
                    left: 69%;
                }
                @media (min-width: 930px) and (max-width: 969.98px) {
                    left: 68.2%;
                }
                @media (min-width: 970px) and (max-width: 1009.98px) {
                    left: 67.4%;
                }
                @media (min-width: 1010px) and (max-width: 1039.98px) {
                    left: 66.8%;
                }
                @media (min-width: 1040px) and (max-width: 1079.98px) {
                    left: 66.2%;
                }
                @media (min-width: 1080px) and (max-width: 1119.98px) {
                    left: 65.6%;
                }
                @media (min-width: 1120px) and (max-width: 1169.98px) {
                    left: 65%;
                }
                @media (min-width: 1170px) and (max-width: 1219.98px) {
                    left: 64.4%;
                }
                @media (min-width: 1220px) and (max-width: 1269.98px) {
                    left: 63.8%;
                }
                @media (min-width: 1270px) and (max-width: 1329.98px) {
                    left: 63.2%;
                }
                @media (min-width: 1330px) and (max-width: 1339.98px) {
                    left: 63%;
                }
                @media (min-width: 1450px) and (max-width: 1599.98px){
                    left: 61.5%;
                }
                @media (min-width: 1600px) and (max-width: 1749.98px){
                    left: 60.5%;
                }
                @media (min-width: 1750px) and (max-width: 1949.98px){
                    left: 59.5%;
                }
                @media (min-width: 1950px) and (max-width: 2149.98px){
                    left: 58.5%;
                }
                @media (min-width: 2150px) and (max-width: 2399.98px){
                    left: 57.5%;
                }
                @media (min-width: 2400px) {
                    left: 57%;
                }
			}
			p{
				font-size: 21px;
			    padding: 0;
			    margin: -6px 7px;
			    color: $second-color;		    
			}
	}
	.texto-bullet{
		color: white;
		font-size: 16px;
		opacity: .1;
		position: absolute;
		text-align: center;		
		line-height: 22px;
		-webkit-transition-duration: .7s;
	    transition-duration: .7s;
    	transition-timing-function: linear;
		&:nth-child(18){
			left: 51%;
    		top: 100%;
            margin-top: 10px;
            opacity: 1;
    		@media(min-width: 768px) and (max-width: 1200px){
    			left: 50%;	
    		}
		}
		&:nth-child(19){
			left: 42%;
		    top: 77%;
		    width: 100px;
            opacity: 1;
		    @media(min-width: 768px) and (max-width: 850px){
    			left: 37%;	
    		}
    		@media(min-width: 851px) and (max-width: 950px){
    			left: 38%;	
    		}
    		@media(min-width: 951px) and (max-width: 1000px){
    			left: 39%;	
    		}
    		@media(min-width: 1001px) and (max-width: 1100px){
    			left: 40%;	
    		}
    		@media(min-width: 1101px) and (max-width: 1200px){
    			left: 41%;	
    		}
    		@media(min-width: 1201px) and (max-width: 1300px){
    			left: 42%;	
    		}
            @media (min-width: 1500px) and (max-width: 1799.98px){
                left: 44%;
            }
            @media (min-width: 1800px) and (max-width: 2199.98px){
                left: 45%;
            }
            @media (min-width: 2200px) {
                left: 46%;
            }
		}
		&:nth-child(20){
			left: 32%;
   			top: 62%;
            opacity: 1;
   			@media(min-width: 768px) and (max-width: 820px){
    			left: 19%;	
    		}
    		@media(min-width: 821px) and (max-width: 850px){
    			left: 21%;	
    		}
    		@media (min-width: 851px) and (max-width: 900px) {
    			left: 22%;
    		}
    		@media (min-width: 901px) and (max-width: 950px) {
    			left: 24%;
    		}
    		@media (min-width: 951px) and (max-width: 991.98px) {
    			left: 25%;
    		}
    		@media (min-width: 992px) and (max-width: 1030px) {
    			left: 26%;
    		}
    		@media (min-width: 1031px) and (max-width: 1100px) {
    			left: 27%;
    		}
    		@media (min-width: 1101px) and (max-width: 1190px) {
    			left: 29%;
    		}
    		@media (min-width: 1191px) and (max-width: 1249.98px) {
    			left: 30%;
    		}
    		@media (min-width: 1250px) and (max-width: 1299.98px) {
    			left: 31%;
    		}
            @media (min-width: 1500px) and (max-width: 1699.98px) {
                left: 36%;
            }
            @media (min-width: 1700px) and (max-width: 1999.98px) {
                left: 38%;
            }
            @media (min-width: 2000px) and (max-width: 2149.98px) {
                left: 39%;
            }
            @media (min-width: 2150px) and (max-width: 2499.98px) {
                left: 40%;
            }
            @media (min-width: 2500px) {
                left: 41%;
            }
		}
		&:nth-child(21){
			left: 24%;
    		top: 33%;
            opacity: 1;
    		@media (min-width: 768px) and (max-width: 800px) {
    			left: 5%;
    		}
    		@media (min-width: 801px) and (max-width: 850px) {
    			left: 8%;
    		}
    		@media (min-width: 851px) and (max-width: 890px) {
    			left: 10%;
    		}
    		@media (min-width: 891px) and (max-width: 910px) {
    			left: 11%;
    		}
    		@media (min-width: 891px) and (max-width: 930px) {
    			left: 12%;
    		}
    		@media (min-width: 931px) and (max-width: 1000px) {
    			left: 14%;
    		}
    		@media (min-width: 1001px) and (max-width: 1050px) {
    			left: 16%;
    		}
    		@media (min-width: 1051px) and (max-width: 1100px) {
    			left: 17%;
    		}
    		@media (min-width: 1101px) and (max-width: 1140px) {
    			left: 19%;
    		}
    		@media (min-width: 1141px) and (max-width: 1180px) {
    			left: 20%;
    		}
    		@media (min-width: 1181px) and (max-width: 1230px) {
    			left: 21%;
    		}
    		@media (min-width: 1231px) and (max-width: 1280px) {
    			left: 22%;
    		}
    		@media (min-width: 1281px) and (max-width: 1330px) {
    			left: 23%;
    		}
            @media (min-width: 1400px) and (max-width: 1499.98px) {
                left: 25%;
            }
            @media (min-width: 1500px) and (max-width: 1649.98px) {
                left: 28%;
            }
            @media (min-width: 1650px) and (max-width: 1799.98px) {
                left: 30%;
            }
            @media (min-width: 1800px) and (max-width: 1999.98px) {
                left: 32%;
            }
            @media (min-width: 2000px) and (max-width: 2299.98px) {
                left: 34%;
            }
            @media (min-width: 2300px) {
                left: 36%;
            }
		}
		&:nth-child(22){
			left: 36%;
		    width: 100px;
		    top: 0%;
		    margin-top: -40px;
            opacity: 1;
			@media (min-width: 768px) and (max-width: 850px) {
    			left: 26%;
    		}
    		@media (min-width: 851px) and (max-width: 930px) {
    			left: 28%;
    		}
    		@media (min-width: 931px) and (max-width: 991.98px) {
    			left: 30%;
    		}
    		@media (min-width: 992px) and (max-width: 1050px) {
    			left: 31%;
    		}
    		@media (min-width: 1051px) and (max-width: 1130px) {
    			left: 32%;
    		}
    		@media (min-width: 1131px) and (max-width: 1200px) {
    			left: 33%;
    		}
    		@media (min-width: 1201px) and (max-width: 1300px) {
    			left: 35%;
    		}
            @media (min-width: 1500px) and (max-width: 1899.98px) {
                left: 38%;
            }
            @media (min-width: 1900px) and (max-width: 2199.98px) {
                left: 40%;
            }
            @media (min-width: 2200px) {
                left: 42%;
            }
		}
		&:nth-child(23){
		    left: 47%;
		    top: 0;
		    margin-top: -55px;
		    width: 50px;
            opacity: 1;
            display: none;
		    @media (min-width: 768px) and (max-width: 930px) {
    			left: 46%;
    		}
		}
		&:nth-child(24){
			left: 56%;
    		top: 0%;
    		margin-top: -20px;
            opacity: 1;
    		@media (min-width: 768px) and (max-width: 800px) {
    			left: 60%;
    		}
    		@media (min-width: 801px) and (max-width: 991.98px) {
    			left: 59%;
    		}
    		@media (min-width: 992px) and (max-width: 1150px) {
    			left: 58%;
    		}
    		@media (min-width: 1151px) and (max-width: 1250px) {
    			left: 57%;
    		}
            @media (min-width: 2000px) and (max-width: 1299.98px) {
                left: 54%;
            }
		}
		&:nth-child(25){
			left: 70%;
    		top: 17%;
            opacity: 1;
    		@media (min-width: 768px) and (max-width: 800px) {
    			left: 85%;
    		}
    		@media (min-width: 800px) and (max-width: 850px) {
    			left: 83%;
    		}
    		@media (min-width: 851px) and (max-width: 880px) {
    			left: 82%;
    		}
    		@media (min-width: 881px) and (max-width: 900px) {
    			left: 81%;
    		}
    		@media (min-width: 901px) and (max-width: 950px) {
    			left: 80%;
    		}
    		@media (min-width: 951px) and (max-width: 1000px) {
    			left: 78%;
    		}
    		@media (min-width: 1001px) and (max-width: 1050px) {
    			left: 77%;
    		}
    		@media (min-width: 1051px) and (max-width: 1100px) {
    			left: 75%;
    		}
    		@media (min-width: 1101px) and (max-width: 1150px) {
    			left: 75%;
    		}
    		@media (min-width: 1151px) and (max-width: 1200px) {
    			left: 74%;
    		}
    		@media (min-width: 1201px) and (max-width: 1250px) {
    			left: 73%;
    		}
    		@media (min-width: 1251px) and (max-width: 1300px) {
    			left: 71%;
    		}
            @media (min-width: 1500px) and (max-width: 1699.98px) {
                left: 68%;
            }
            @media (min-width: 1700px) and (max-width: 1999.98px) {
                left: 65%;
            }
            @media (min-width: 2000px) and (max-width: 2399.98px) {
                left: 63%;
            }
            @media (min-width: 2400px) and (max-width: 2449.98px) {
                left: 62%;
            }
            @media (min-width: 2450px) {
                left: 61%;
            }
		}
		&:nth-child(26){
			left: 67.8%;
			top: 49%;
			width: 100px;
            opacity: 1;
			@media (min-width: 768px) and (max-width: 800px) {
    			left: 83%;
    		}
    		@media (min-width: 801px) and (max-width: 830px) {
    			left: 82%;
    		}
    		@media (min-width: 831px) and (max-width: 860px) {
    			left: 80%;
    		}
    		@media (min-width: 831px) and (max-width: 890px) {
    			left: 79%;
    		}
    		@media (min-width: 891px) and (max-width: 920px) {
    			left: 78%;
    		}
    		@media (min-width: 921px) and (max-width: 950px) {
    			left: 78%;
    		}
    		@media (min-width: 951px) and (max-width: 1000px) {
    			left: 76%;
    		}
    		@media (min-width: 1001px) and (max-width: 1050px) {
    			left: 75%;
    		}
    		@media (min-width: 1051px) and (max-width: 1080px) {
    			left: 74%;
    		}
    		@media (min-width: 1081px) and (max-width: 1110px) {
    			left: 73%;
    		}
    		@media (min-width: 1111px) and (max-width: 1160px) {
    			left: 73%;
    		}
    		@media (min-width: 1161px) and (max-width: 1200px) {
    			left: 72%;
    		}
    		@media (min-width: 1201px) and (max-width: 1250px) {
    			left: 71%;
    		}
    		@media (min-width: 1251px) and (max-width: 1300px) {
    			left: 70%;
    		}
    		@media (min-width: 1301px) and (max-width: 1360px) {
    			left: 69%;
    		}
            @media (min-width: 1600px) and (max-width: 1899.98px) {
                left: 64.8%;
            }
            @media (min-width: 1900px) and (max-width: 2199.98px) {
                left: 62.8%;
            }
            @media (min-width: 2200px) and (max-width: 2499.98px) {
                left: 60.8%;
            }
            @media (min-width: 2500px) {
                left: 59.8%;
            }
		}		
		&:nth-child(27){
			left: 65%;
    		top: 71%;
            opacity: 1;
    		@media (min-width: 768px) and (max-width: 810px) {
    			left: 76%;
    		}
    		@media (min-width: 811px) and (max-width: 850px) {
    			left: 75%;
    		}
    		@media (min-width: 851px) and (max-width: 890px) {
    			left: 73%;
    		}
    		@media (min-width: 891px) and (max-width: 920px) {
    			left: 72%;
    		}
    		@media (min-width: 921px) and (max-width: 1009.98px) {
    			left: 70%;
    		}
            @media (min-width: 1010px) and (max-width: 1099.98px) {
                left: 69%;
            }
    		@media (min-width: 1100px) and (max-width: 1199.98px) {
    			left: 68%;
    		}
    		@media (min-width: 1200px) and (max-width: 1279.98px) {
    			left: 67%;
    		}
            @media (min-width: 1280px) and (max-width: 1299.98px) {
                left: 66%;
            }
            @media (min-width: 1500px) and (max-width: 1799.98px){
                left: 63%;
            }
            @media (min-width: 1800px) and (max-width: 1999.98px){
                left: 61%;
            }            
            @media (min-width: 2000px) and (max-width: 2199.98px){
                left: 60%;
            }
            @media (min-width: 2200px) and (max-width: 2499.98px){
                left: 59%;
            }
            @media (min-width: 2500px) {
                left: 58%;
            }
		}
		&:nth-child(28){
			left: 57%;
		    top: 81%;
		    width: 120px;
            opacity: 1;
		    @media (min-width: 768px) and (max-width: 850px) {
    			left: 62%;
    		}
    		@media (min-width: 851px) and (max-width: 900px) {
    			left: 61%;
    		}
    		@media (min-width: 901px) and (max-width: 1050px) {
    			left: 60%;
    		}
    		@media (min-width: 1051px) and (max-width: 1200px) {
    			left: 59%;
    		}
            @media (min-width: 1700px) and (max-width: 2099.98px){
                left: 56%;
            }
            @media (min-width: 2100px) and (max-width: 2499.98px){
                left: 55%;
            }
            @media (min-width: 2500px) {
                left: 54%;
            }
		}
		&:nth-child(29){
			left: 51%;
		    top: 64%;
		    width: 100px;
            opacity: 1;
		    @media (min-width: 768px) and (max-width: 900px) {
    			left: 52%;
    		}
            @media (min-width: 2400px) {
                left: 50.5%;
                top: 65%;
            }
		}
		&:nth-child(30){
			left: 44%;
		    top: 51%;
		    width: 88px;
            opacity: 1;
		    @media (min-width: 768px) and (max-width: 900px) {
    			left: 40%;
    		}
    		@media (min-width: 901px) and (max-width: 1050px) {
    			left: 42%;
    		}
    		@media (min-width: 1051px) and (max-width: 1300px) {
    			left: 43%;
    		}
            @media (min-width: 1600px) and (max-width: 1799.98px){
                left: 45%;
            }
            @media (min-width: 1800px) and (max-width: 2099.98px){
                left: 46%;
            }
            @media (min-width: 2100px) {
                left: 47%;
            }
		}
		&:nth-child(31){
			left: 35.5%;
            top: 41%;
            opacity: 1;
   			@media (min-width: 768px) and (max-width: 800px) {
    			left: 26%;
    		}
    		@media (min-width: 801px) and (max-width: 850px) {
    			left: 27%;
    		}
    		@media (min-width: 851px) and (max-width: 900px) {
    			left: 28%;
    		}
    		@media (min-width: 901px) and (max-width: 950px) {
    			left: 29%;
    		}
    		@media (min-width: 951px) and (max-width: 1000px) {
    			left: 30%;
    		}
    		@media (min-width: 1001px) and (max-width: 1080px) {
    			left: 32%;
    		}
    		@media (min-width: 1081px) and (max-width: 1160px) {
    			left: 33%;
    		}
    		@media (min-width: 1161px) and (max-width: 1260px) {
    			left: 34%;
    		}
            @media (min-width: 1400px) and (max-width: 1499.98px){
                left: 36.5%;
            }
            @media (min-width: 1500px) and (max-width: 1699.98px){
                left: 37.5%;
            }
            @media (min-width: 1700px) and (max-width: 1899.98px){
                left: 39%;
            }
            @media (min-width: 1900px) and (max-width: 1999.98px){
                left: 40%;
            }
            @media (min-width: 2000px) and (max-width: 2299.98px){
                left: 41%;
            }
            @media (min-width: 2300px) {
                left: 42%;
            }
		}
		&:nth-child(32){
		    left: 45.5%;
            top: 19%;
		    width: 100px;
            opacity: 1;
		    @media (min-width: 768px) and (max-width: 970px) {
    			left: 43%;
    		}
    		@media (min-width: 971px) and (max-width: 1100px) {
    			left: 44%;
    		}
            @media (min-width: 1700px) and (max-width: 2099.98px){
                left: 47%;
            }
            @media (min-width: 2100px) and (max-width: 2599.98px){
                left: 47.5%;
            }
            @media (min-width: 2600px) {
                left: 48%;
            }
		}
		&:nth-child(33){
		    left: 57%;
		    top: 34%;
		    width: 95px;
            opacity: 1;
		    @media (min-width: 768px) and (max-width: 800px) {
    			left: 63%;
    		}
    		@media (min-width: 801px) and (max-width: 890px) {
    			left: 62%;
    		}
    		@media (min-width: 891px) and (max-width: 930px) {
    			left: 61%;
    		}
    		@media (min-width: 931px) and (max-width: 1000px) {
    			left: 60%;
    		}
    		@media (min-width: 1001px) and (max-width: 1160px) {
    			left: 59%;
    		}
    		@media (min-width: 1161px) and (max-width: 1270px) {
    			left: 58%;
    		}
            @media (min-width: 1600px) and (max-width: 2199.98px){
                left: 56%;
            }
            @media (min-width: 2200px) and (max-width: 2399.98px){
                left: 55%;
            }
            @media (min-width: 2400px) {
                left: 54%;
            }
		}		
		&:nth-child(34){
			left: 60%;
			top: 56%;
			width: 100px;
            opacity: 1;
			@media (min-width: 768px) and (max-width: 820px) {
    			left: 68%;
    		}
    		@media (min-width: 821px) and (max-width: 870px) {
    			left: 67%;
    		}
    		@media (min-width: 871px) and (max-width: 900px) {
    			left: 66%;
    		}
    		@media (min-width: 901px) and (max-width: 950px) {
    			left: 65%;
    		}
    		@media (min-width: 951px) and (max-width: 1000px) {
    			left: 64%;
    		}
    		@media (min-width: 1001px) and (max-width: 1060px) {
    			left: 63%;
    		}
    		@media (min-width: 1061px) and (max-width: 1199px) {
    			left: 62%;
    		}
    		@media (min-width: 1200px) and (max-width: 1300px) {
    			left: 61%;
    		}
            @media (min-width: 1500px) and (max-width: 1599.98px){
                left: 59%;
            }
            @media (min-width: 1600px) and (max-width: 1899.98px){
                left: 58%;
            }
            @media (min-width: 1900px) and (max-width: 2099.98px){
                left: 57.5%;
            }
            @media (min-width: 2100px) and (max-width: 2199.98px){
                left: 57%;
            }
            @media (min-width: 2200px) {
                left: 56%;
            }
		}
	}	
	@media (max-width: 767.98px) {
		display: none;
	}
}

.front-back-office{ 
        font-size: 15px;
        text-align: center;
        margin-top: 190px;
        @media(min-width: 768px) and (max-width: 991.98px){
            margin-top: 330px;
        }
        .botao-office{  
            border: 1px solid white;
            margin-bottom: 5px;
            padding: 5px;
            cursor: pointer;
            -webkit-transition-duration: .7s;
            transition-duration: .7s;
            transition-timing-function: linear;
            &:active{
                background-color: "$second-color";
                border: 1px solid white;
                p{
                    color: white;
                }
            }
            p{
                margin-bottom: 0;
                @media(min-width: 768px) and (max-width: 991.98px){
                    font-size: 12px;
                }   
            }
        }
        .botao1-left{
            background-color: $second-color;
        }
        .apagar-botao1-left{
            opacity: .2;
        }
    }

.lista-cerebro{
    display: none;
    @media (max-width: 767.98px){
        display: block;
    }
    .front-back-office{
        margin-top: 0px;
        &:nth-child(2){
            margin-top: 50px;
        }
    }
    .container{
        margin-bottom: 5em;
    }
    ul{
        padding-left: 0px;
    }
    li{
        font-size: 16px;
        color: white;
        opacity: 1;
        cursor: pointer;
        @media (max-width: 767.98px){
            color: #fff;
            background-color: $second-color;
            border-radius: 20px;
            text-align: center;
            padding: 2px;
            opacity: 1;
            list-style: none;
            margin-bottom: 15px;
            cursor: pointer;
        }        
    }
}


.solucoes-div2{
	background-color: $second-color;
	padding: 40px 0px 40px;
    margin-bottom: 0px;
	p{
		color: white;
		font-size: 18px; 
		line-height: 22px;
	}
	h3{
		color:white;
		font-size: 28px;
	}
	.container{
		margin-bottom: 0;
	}
	a{
		color: white;
		text-decoration: underline;
	}
}

.solucoes-div3{
	padding-top: 40px;
    .titulo{
        width: 10%;
        @media(max-width: 767.98px){
            width: 25%;
        }
    }
	.col-sm-10{
		margin-top: 30px;
	}
	.col-sm-3{
	height: 300px;
	line-height: 300px;
	border: 1px solid lightgray;
	margin-right: 15px;
	margin-bottom: 25px;
	@media(max-width: 575.98px){
		margin-right: 0px;
	}
		img{
			width: 100%;
			vertical-align: middle;
            height: auto;
            @media (min-width: 576px) and (max-width: 767.98px){
                max-width: 75%;
                margin-left: 13%;
            }
		}
		&:nth-child(1){
			margin-left: -50px;
			@media(max-width: 575.98px){
				margin-left: 0;
			}
		}
		&:nth-child(4){
			margin-right: 0;
            img{
                margin-top: -35px;
            }
		}
	}
    .container{
        margin-bottom: 5em;
    }
    .botao{
        font-size: 20px;    
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
        @media (max-width: 767.98px){
            padding: 5px 15px;
            font-size: 18px;
        }        
    }
}

.solucoes-div4{
	text-align: center;
	.col-sm-4{
		height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
		p{
			font-size: 20px;
			padding: 0 90px;
			line-height: 24px;
			vertical-align: center;
            color: white;
            @media (max-width: 575.98px){
                padding: 0 40px;
            }            
            @media(min-width: 768px) and (max-width: 991.98px){
                padding: 0 40px;                    
            }
            @media(min-width: 992px) and (max-width: 1199.98px){
                padding: 0 55px;                    
            }
			&:nth-child(1){
				color: $second-color;
				font-size: 20px; 
				font-weight: 700;
				margin-bottom: 0;
                padding-top: 180px;
                @media(max-width: 575.98px){
                    padding-top: 150px;                    
                }
			}
		}
	}	
    hr{
        margin-bottom: 50px;
        width: 10%;
        @media (max-width: 767.98px){
            width: 20%;
        }        
    }
}

.botao-final{
        font-size: 20px !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
    }