.solucoes{
	background-image: url('../img/solucoes-sketch-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 70px;
	padding-top: 40px;
    padding-bottom: 80px;
    @media (min-width: 768px) and (max-width: 991.98px){
        margin-top: 140px;
    }
	.container{
		margin-bottom: 8em;
        @media (max-width: 767.98px){
            margin-bottom: 6em;
        }
	}
	h1{
		color: white;
	}
	p{
		color: white;
	}
}
.paragrafos-ini{
	text-align: center;
	font-size: 20px;
	margin-bottom: 40px;
}
.div1-solucoes{
	margin-top: 30px;
	.col-sm-3{
		text-align: center;
		font-size: 20px;
        @media (min-width: 768px){
            border-right: 1px solid white;
        }		
		&:nth-child(5){
			border-right: none;
		}
		p{
			line-height: 22px;
			&:first-child{
				margin-bottom: 40px;
			}
		}
		img{
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-bottom: 20px;
		}
		.titulo-solucoes{
			color: $second-color;
		}
	}
}

.cerebro{
	background-image: url('../img/cerebro.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	position: relative;
	.bullet-cerebro{
		width: 25px;
	    height: 25px;
	    border-radius: 25px;
	    background-color: white;
	    position: absolute;
	    opacity: .2;
	    -webkit-transition-duration: .7s;
	    transition-duration: .7s;
    	transition-timing-function: linear;
		    &:nth-child(1){
				left: 55%;
    			top: 96%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
    			@media (min-width: 768px) and (max-width: 900px) {
    				left: 59%;
    			}
    			@media (min-width: 901px) and (max-width: 991.98px) {
    				left: 58%;
    			}
    			@media (min-width: 992px) and (max-width: 1150px) {
    				left: 57%;
    			}
    			@media (min-width: 1151px) and (max-width: 1300px) {
    				left: 56%;
    			}
			}
			&:nth-child(2){
				left: 45%;
    			top: 73%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
    			@media (min-width: 768px) and (max-width: 940px) {
    				left: 42%;
    			}
    			@media (min-width: 941px) and (max-width: 991.98px) {
    				left: 43%;
    			}
    			@media (min-width: 992px) and (max-width: 1200px) {
    				left: 44%;
    			}
			}
			&:nth-child(3){
				left: 34%;
   				top: 58%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
   				@media (min-width: 768px) and (max-width: 820px) {
    				left: 22%;
    			}
    			@media (min-width: 821px) and (max-width: 850px) {
    				left: 23%;
    			}
    			@media (min-width: 851px) and (max-width: 900px) {
    				left: 25%;
    			}
    			@media (min-width: 901px) and (max-width: 950px) {
    				left: 26%;
    			}
    			@media (min-width: 951px) and (max-width: 991.98px) {
    				left: 27%;
    			}
    			@media (min-width: 992px) and (max-width: 1030px) {
    				left: 28%;
    			}
    			@media (min-width: 1031px) and (max-width: 1100px) {
    				left: 29%;
    			}
    			@media (min-width: 1101px) and (max-width: 1190px) {
    				left: 31%;
    			}
    			@media (min-width: 1191px) and (max-width: 1250px) {
    				left: 32%;
    			}
    			@media (min-width: 1191px) and (max-width: 1320px) {
    				left: 33%;
    			}
			}
			&:nth-child(4){
				left: 27%;
    			top: 27%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
    			@media (min-width: 768px) and (max-width: 800px) {
    				left: 10%;
    			}
    			@media (min-width: 801px) and (max-width: 850px) {
    				left: 12%;
    			}
    			@media (min-width: 851px) and (max-width: 890px) {
    				left: 14%;
    			}
    			@media (min-width: 891px) and (max-width: 910px) {
    				left: 15%;
    			}
    			@media (min-width: 891px) and (max-width: 930px) {
    				left: 16%;
    			}
    			@media (min-width: 931px) and (max-width: 1000px) {
    				left: 18%;
    			}
    			@media (min-width: 1001px) and (max-width: 1050px) {
    				left: 20%;
    			}
    			@media (min-width: 1051px) and (max-width: 1100px) {
    				left: 21%;
    			}
    			@media (min-width: 1101px) and (max-width: 1140px) {
    				left: 22%;
    			}
    			@media (min-width: 1141px) and (max-width: 1180px) {
    				left: 23%;
    			}
    			@media (min-width: 1181px) and (max-width: 1199.98px) {
    				left: 24%;
    			}
    			@media (min-width: 1200px) and (max-width: 1230px) {
    				left: 24%;
    			}
    			@media (min-width: 1231px) and (max-width: 1280px) {
    				left: 25%;
    			}
    			@media (min-width: 1281px) and (max-width: 1330px) {
    				left: 26%;
    			}
    			@media (min-width: 1331px) and (max-width: 1330px) {
    				left: 26%;
    			}
			}
			&:nth-child(5){
				left: 39%;
    			top: 5%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
    			@media (min-width: 768px) and (max-width: 850px) {
    				left: 31%;
    			}
    			@media (min-width: 851px) and (max-width: 930px) {
    				left: 33%;
    			}
    			@media (min-width: 931px) and (max-width: 991.98px) {
    				left: 34%;
    			}
    			@media (min-width: 992px) and (max-width: 1050px) {
    				left: 35%;
    			}
    			@media (min-width: 1051px) and (max-width: 1130px) {
    				left: 36%;
    			}
    			@media (min-width: 1131px) and (max-width: 1200px) {
    				left: 37%;
    			}
    			@media (min-width: 1201px) and (max-width: 1300px) {
    				left: 38%;
    			}
			}
			&:nth-child(6){
				left: 48%;
    			top: 0%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
    			@media (min-width: 768px) and (max-width: 930px) {
    				left: 47%;
    			}
			}
			&:nth-child(7){
				left: 58%;
    			top: 3%;
    			@media (min-width: 768px) and (max-width: 800px) {
    				left: 63%;
    			}
    			@media (min-width: 801px) and (max-width: 940px) {
    				left: 62%;
    			}
    			@media (min-width: 941px) and (max-width: 991.98px) {
    				left: 61%;
    			}
    			@media (min-width: 992px) and (max-width: 1150px) {
    				left: 60%;
    			}
    			@media (min-width: 1151px) and (max-width: 1250px) {
    				left: 59%;
    			}
			}
			&:nth-child(8){
				left: 67%;
    			top: 19%;
    			@media (min-width: 768px) and (max-width: 800px) {
    				left: 80%;
    			}
    			@media (min-width: 800px) and (max-width: 850px) {
    				left: 79%;
    			}
    			@media (min-width: 851px) and (max-width: 880px) {
    				left: 78%;
    			}
    			@media (min-width: 881px) and (max-width: 900px) {
    				left: 77%;
    			}
    			@media (min-width: 901px) and (max-width: 950px) {
    				left: 76%;
    			}
    			@media (min-width: 951px) and (max-width: 980px) {
    				left: 75%;
    			}
    			@media (min-width: 981px) and (max-width: 1000px) {
    				left: 74%;
    			}
    			@media (min-width: 1001px) and (max-width: 1050px) {
    				left: 73%;
    			}
    			@media (min-width: 1051px) and (max-width: 1100px) {
    				left: 72%;
    			}
    			@media (min-width: 1101px) and (max-width: 1150px) {
    				left: 71%;
    			}
    			@media (min-width: 1151px) and (max-width: 1200px) {
    				left: 70%;
    			}
    			@media (min-width: 1201px) and (max-width: 1250px) {
    				left: 69%;
    			}
    			@media (min-width: 1251px) and (max-width: 1300px) {
    				left: 68%;
    			}
			}
			&:nth-child(9){
				left: 71%;
    			top: 44%;
    			@media (min-width: 768px) and (max-width: 800px) {
    				left: 88%;
    			}
    			@media (min-width: 801px) and (max-width: 830px) {
    				left: 87%;
    			}
    			@media (min-width: 831px) and (max-width: 860px) {
    				left: 85%;
    			}
    			@media (min-width: 831px) and (max-width: 890px) {
    				left: 84%;
    			}
    			@media (min-width: 891px) and (max-width: 920px) {
    				left: 83%;
    			}
    			@media (min-width: 921px) and (max-width: 950px) {
    				left: 82%;
    			}
    			@media (min-width: 951px) and (max-width: 1000px) {
    				left: 80%;
    			}
    			@media (min-width: 1001px) and (max-width: 1050px) {
    				left: 79%;
    			}
    			@media (min-width: 1051px) and (max-width: 1080px) {
    				left: 78%;
    			}
    			@media (min-width: 1081px) and (max-width: 1110px) {
    				left: 77%;
    			}
    			@media (min-width: 1111px) and (max-width: 1160px) {
    				left: 76%;
    			}
    			@media (min-width: 1161px) and (max-width: 1200px) {
    				left: 75%;
    			}
    			@media (min-width: 1201px) and (max-width: 1250px) {
    				left: 74%;
    			}
    			@media (min-width: 1251px) and (max-width: 1300px) {
    				left: 73%;
    			}
    			@media (min-width: 1301px) and (max-width: 1360px) {
    				left: 72%;
    			}
			}
			&:nth-child(10){
				left: 62%;
    			top: 72%;
    			@media (min-width: 768px) and (max-width: 810px) {
    				left: 71%;
    			}
    			@media (min-width: 811px) and (max-width: 850px) {
    				left: 70%;
    			}
    			@media (min-width: 851px) and (max-width: 890px) {
    				left: 69%;
    			}
    			@media (min-width: 891px) and (max-width: 920px) {
    				left: 68%;
    			}
    			@media (min-width: 921px) and (max-width: 991.98px) {
    				left: 67%;
    			}
    			@media (min-width: 992px) and (max-width: 1040px) {
    				left: 66%;
    			}
    			@media (min-width: 1041px) and (max-width: 1100px) {
    				left: 65%;
    			}
    			@media (min-width: 1101px) and (max-width: 1200px) {
    				left: 64%;
    			}
    			@media (min-width: 1201px) and (max-width: 1300px) {
    				left: 63%;
    			}
			}
			&:nth-child(11){
				left: 55%;
    			top: 83%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
    			@media (min-width: 768px) and (max-width: 850px) {
    				left: 59%;
    			}
    			@media (min-width: 851px) and (max-width: 900px) {
    				left: 58%;
    			}
    			@media (min-width: 901px) and (max-width: 1050px) {
    				left: 57%;
    			}
    			@media (min-width: 1051px) and (max-width: 1200px) {
    				left: 56%;
    			}
			}
			&:nth-child(12){
				left: 54%;
    			top: 60%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
    			@media (min-width: 768px) and (max-width: 820px) {
    				left: 57%;
    			}
    			@media (min-width: 821px) and (max-width: 900px) {
    				left: 56%;
    			}
    			@media (min-width: 901px) and (max-width: 1100px) {
    				left: 55%;
    			}
			}
			&:nth-child(13){
				left: 47%;
    			top: 46%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
    			@media (min-width: 768px) and (max-width: 900px) {
    				left: 44%;
    			}
    			@media (min-width: 901px) and (max-width: 1050px) {
    				left: 45%;
    			}
    			@media (min-width: 1051px) and (max-width: 1300px) {
    				left: 46%;
    			}
			}
			&:nth-child(14){
				left: 39%;
    			top: 36%;
                opacity: 1;
                box-shadow: 0 0 35px rgba(255,255,255,.8);
                cursor: pointer;
    			@media (min-width: 768px) and (max-width: 800px) {
    				left: 31%;
    			}
    			@media (min-width: 801px) and (max-width: 850px) {
    				left: 32%;
    			}
    			@media (min-width: 851px) and (max-width: 900px) {
    				left: 33%;
    			}
    			@media (min-width: 901px) and (max-width: 950px) {
    				left: 34%;
    			}
    			@media (min-width: 951px) and (max-width: 1000px) {
    				left: 35%;
    			}
    			@media (min-width: 1001px) and (max-width: 1080px) {
    				left: 36%;
    			}
    			@media (min-width: 1081px) and (max-width: 1160px) {
    				left: 37%;
    			}
    			@media (min-width: 1161px) and (max-width: 1260px) {
    				left: 38%;
    			}
			}
			&:nth-child(15){
				left: 49%;
    			top: 14%;
    			@media (min-width: 768px) and (max-width: 1100px) {
    				left: 48%;
    			}
			}
			&:nth-child(16){
				left: 60%;
    			top: 31%;
    			@media (min-width: 768px) and (max-width: 800px) {
    				left: 68%;
    			}
    			@media (min-width: 801px) and (max-width: 840px) {
    				left: 67%;
    			}
    			@media (min-width: 841px) and (max-width: 890px) {
    				left: 66%;
    			}
    			@media (min-width: 891px) and (max-width: 930px) {
    				left: 65%;
    			}
    			@media (min-width: 931px) and (max-width: 1000px) {
    				left: 64%;
    			}
    			@media (min-width: 1001px) and (max-width: 1080px) {
    				left: 63%;
    			}
    			@media (min-width: 1081px) and (max-width: 1160px) {
    				left: 62%;
    			}
    			@media (min-width: 1161px) and (max-width: 1270px) {
    				left: 61%;
    			}
			}
			&:nth-child(17){
				left: 63%;
    			top: 51%;
    			@media (min-width: 768px) and (max-width: 820px) {
    				left: 73%;
    			}
    			@media (min-width: 821px) and (max-width: 870px) {
    				left: 71%;
    			}
    			@media (min-width: 871px) and (max-width: 900px) {
    				left: 70%;
    			}
    			@media (min-width: 901px) and (max-width: 950px) {
    				left: 69%;
    			}
    			@media (min-width: 951px) and (max-width: 1000px) {
    				left: 68%;
    			}
    			@media (min-width: 1001px) and (max-width: 1060px) {
    				left: 67%;
    			}
    			@media (min-width: 1061px) and (max-width: 1140px) {
    				left: 66%;
    			}
    			@media (min-width: 1141px) and (max-width: 1199px) {
    				left: 65%;
    			}
    			@media (min-width: 1200px) and (max-width: 1300px) {
    				left: 64%;
    			}
			}
			p{
				font-size: 21px;
			    padding: 0;
			    margin: -6px 7px;
			    color: $second-color;		    
			}
	}
	.texto-bullet{
		color: white;
		font-size: 16px;
		opacity: .1;
		position: absolute;
		text-align: center;		
		line-height: 22px;
		-webkit-transition-duration: .7s;
	    transition-duration: .7s;
    	transition-timing-function: linear;
		&:nth-child(18){
			left: 51%;
    		top: 100%;
            margin-top: 10px;
            opacity: 1;
    		@media(min-width: 768px) and (max-width: 1200px){
    			left: 52%;	
    		}
		}
		&:nth-child(19){
			left: 42%;
		    top: 78%;
		    width: 100px;
            opacity: 1;
		    @media(min-width: 768px) and (max-width: 850px){
    			left: 37%;	
    		}
    		@media(min-width: 851px) and (max-width: 950px){
    			left: 38%;	
    		}
    		@media(min-width: 951px) and (max-width: 1000px){
    			left: 39%;	
    		}
    		@media(min-width: 1001px) and (max-width: 1100px){
    			left: 40%;	
    		}
    		@media(min-width: 1101px) and (max-width: 1200px){
    			left: 41%;	
    		}
    		@media(min-width: 1201px) and (max-width: 1300px){
    			left: 42%;	
    		}
		}
		&:nth-child(20){
			left: 33%;
   			top: 63%;
            opacity: 1;
   			@media(min-width: 768px) and (max-width: 820px){
    			left: 20%;	
    		}
    		@media(min-width: 821px) and (max-width: 850px){
    			left: 21%;	
    		}
    		@media (min-width: 851px) and (max-width: 900px) {
    			left: 23%;
    		}
    		@media (min-width: 901px) and (max-width: 950px) {
    			left: 24%;
    		}
    		@media (min-width: 951px) and (max-width: 991.98px) {
    			left: 25%;
    		}
    		@media (min-width: 992px) and (max-width: 1030px) {
    			left: 26%;
    		}
    		@media (min-width: 1031px) and (max-width: 1100px) {
    			left: 27%;
    		}
    		@media (min-width: 1101px) and (max-width: 1190px) {
    			left: 30%;
    		}
    		@media (min-width: 1191px) and (max-width: 1250px) {
    			left: 31%;
    		}
    		@media (min-width: 1191px) and (max-width: 1320px) {
    			left: 32%;
    		}
		}
		&:nth-child(21){
			left: 24%;
    		top: 32%;
            opacity: 1;
    		@media (min-width: 768px) and (max-width: 800px) {
    			left: 5%;
    		}
    		@media (min-width: 801px) and (max-width: 850px) {
    			left: 8%;
    		}
    		@media (min-width: 851px) and (max-width: 890px) {
    			left: 10%;
    		}
    		@media (min-width: 891px) and (max-width: 910px) {
    			left: 11%;
    		}
    		@media (min-width: 891px) and (max-width: 930px) {
    			left: 12%;
    		}
    		@media (min-width: 931px) and (max-width: 1000px) {
    			left: 14%;
    		}
    		@media (min-width: 1001px) and (max-width: 1050px) {
    			left: 16%;
    		}
    		@media (min-width: 1051px) and (max-width: 1100px) {
    			left: 17%;
    		}
    		@media (min-width: 1101px) and (max-width: 1140px) {
    			left: 19%;
    		}
    		@media (min-width: 1141px) and (max-width: 1180px) {
    			left: 20%;
    		}
    		@media (min-width: 1181px) and (max-width: 1230px) {
    			left: 21%;
    		}
    		@media (min-width: 1231px) and (max-width: 1280px) {
    			left: 22%;
    		}
    		@media (min-width: 1281px) and (max-width: 1330px) {
    			left: 23%;
    		}
		}
		&:nth-child(22){
			left: 36%;
		    width: 100px;
		    top: 0%;
		    margin-top: -40px;
            opacity: 1;
			@media (min-width: 768px) and (max-width: 850px) {
    			left: 26%;
    		}
    		@media (min-width: 851px) and (max-width: 930px) {
    			left: 28%;
    		}
    		@media (min-width: 931px) and (max-width: 991.98px) {
    			left: 30%;
    		}
    		@media (min-width: 992px) and (max-width: 1050px) {
    			left: 31%;
    		}
    		@media (min-width: 1051px) and (max-width: 1130px) {
    			left: 32%;
    		}
    		@media (min-width: 1131px) and (max-width: 1200px) {
    			left: 33%;
    		}
    		@media (min-width: 1201px) and (max-width: 1300px) {
    			left: 35%;
    		}
		}
		&:nth-child(23){
		    left: 47%;
		    top: 0;
		    margin-top: -55px;
		    width: 50px;
            opacity: 1;
		    @media (min-width: 768px) and (max-width: 930px) {
    			left: 46%;
    		}
		}
		&:nth-child(24){
			left: 56%;
    		top: 0%;
    		margin-top: -20px;
    		@media (min-width: 768px) and (max-width: 800px) {
    			left: 60%;
    		}
    		@media (min-width: 801px) and (max-width: 991.98px) {
    			left: 59%;
    		}
    		@media (min-width: 992px) and (max-width: 1150px) {
    			left: 58%;
    		}
    		@media (min-width: 1151px) and (max-width: 1250px) {
    			left: 57%;
    		}
		}
		&:nth-child(25){
			left: 70%;
    		top: 19%;
    		@media (min-width: 768px) and (max-width: 800px) {
    			left: 85%;
    		}
    		@media (min-width: 800px) and (max-width: 850px) {
    			left: 84%;
    		}
    		@media (min-width: 851px) and (max-width: 880px) {
    			left: 82%;
    		}
    		@media (min-width: 881px) and (max-width: 900px) {
    			left: 81%;
    		}
    		@media (min-width: 901px) and (max-width: 950px) {
    			left: 80%;
    		}
    		@media (min-width: 951px) and (max-width: 980px) {
    			left: 79%;
    		}
    		@media (min-width: 981px) and (max-width: 1000px) {
    			left: 78%;
    		}
    		@media (min-width: 1001px) and (max-width: 1050px) {
    			left: 77%;
    		}
    		@media (min-width: 1051px) and (max-width: 1100px) {
    			left: 76%;
    		}
    		@media (min-width: 1101px) and (max-width: 1150px) {
    			left: 75%;
    		}
    		@media (min-width: 1151px) and (max-width: 1200px) {
    			left: 74%;
    		}
    		@media (min-width: 1201px) and (max-width: 1250px) {
    			left: 73%;
    		}
    		@media (min-width: 1251px) and (max-width: 1300px) {
    			left: 71%;
    		}
		}
		&:nth-child(26){
			left: 69%;
			top: 49%;
			width: 100px;
			@media (min-width: 768px) and (max-width: 800px) {
    			left: 83%;
    		}
    		@media (min-width: 801px) and (max-width: 830px) {
    			left: 82%;
    		}
    		@media (min-width: 831px) and (max-width: 860px) {
    			left: 80%;
    		}
    		@media (min-width: 831px) and (max-width: 890px) {
    			left: 79%;
    		}
    		@media (min-width: 891px) and (max-width: 920px) {
    			left: 78%;
    		}
    		@media (min-width: 921px) and (max-width: 950px) {
    			left: 78%;
    		}
    		@media (min-width: 951px) and (max-width: 1000px) {
    			left: 76%;
    		}
    		@media (min-width: 1001px) and (max-width: 1050px) {
    			left: 75%;
    		}
    		@media (min-width: 1051px) and (max-width: 1080px) {
    			left: 74%;
    		}
    		@media (min-width: 1081px) and (max-width: 1110px) {
    			left: 73%;
    		}
    		@media (min-width: 1111px) and (max-width: 1160px) {
    			left: 73%;
    		}
    		@media (min-width: 1161px) and (max-width: 1200px) {
    			left: 72%;
    		}
    		@media (min-width: 1201px) and (max-width: 1250px) {
    			left: 71%;
    		}
    		@media (min-width: 1251px) and (max-width: 1300px) {
    			left: 70%;
    		}
    		@media (min-width: 1301px) and (max-width: 1360px) {
    			left: 69%;
    		}
		}		
		&:nth-child(27){
			left: 60%;
    		top: 77%;
    		@media (min-width: 768px) and (max-width: 810px) {
    			left: 68%;
    		}
    		@media (min-width: 811px) and (max-width: 850px) {
    			left: 67%;
    		}
    		@media (min-width: 851px) and (max-width: 890px) {
    			left: 66%;
    		}
    		@media (min-width: 891px) and (max-width: 920px) {
    			left: 65%;
    		}
    		@media (min-width: 921px) and (max-width: 1040px) {
    			left: 64%;
    		}
    		@media (min-width: 1041px) and (max-width: 1100px) {
    			left: 63%;
    		}
    		@media (min-width: 1101px) and (max-width: 1200px) {
    			left: 62%;
    		}
    		@media (min-width: 1201px) and (max-width: 1300px) {
    			left: 61%;
    		}
		}
		&:nth-child(28){
			left: 55%;
		    top: 83%;
		    width: 120px;
            opacity: 1;
		    @media (min-width: 768px) and (max-width: 850px) {
    			left: 59%;
    		}
    		@media (min-width: 851px) and (max-width: 900px) {
    			left: 58%;
    		}
    		@media (min-width: 901px) and (max-width: 1050px) {
    			left: 57%;
    		}
    		@media (min-width: 1051px) and (max-width: 1200px) {
    			left: 56%;
    		}
		}
		&:nth-child(29){
			left: 51%;
		    top: 66%;
		    width: 100px;
            opacity: 1;
		    @media (min-width: 768px) and (max-width: 900px) {
    			left: 52%;
    		}
		}
		&:nth-child(30){
			left: 45%;
		    top: 53%;
		    width: 88px;
            opacity: 1;
		    @media (min-width: 768px) and (max-width: 900px) {
    			left: 40%;
    		}
    		@media (min-width: 901px) and (max-width: 1050px) {
    			left: 42%;
    		}
    		@media (min-width: 1051px) and (max-width: 1300px) {
    			left: 43%;
    		}
		}
		&:nth-child(31){
			left: 36%;
   			top: 43%;
            opacity: 1;
   			@media (min-width: 768px) and (max-width: 800px) {
    			left: 26%;
    		}
    		@media (min-width: 801px) and (max-width: 850px) {
    			left: 27%;
    		}
    		@media (min-width: 851px) and (max-width: 900px) {
    			left: 28%;
    		}
    		@media (min-width: 901px) and (max-width: 950px) {
    			left: 29%;
    		}
    		@media (min-width: 951px) and (max-width: 1000px) {
    			left: 30%;
    		}
    		@media (min-width: 1001px) and (max-width: 1080px) {
    			left: 32%;
    		}
    		@media (min-width: 1081px) and (max-width: 1160px) {
    			left: 33%;
    		}
    		@media (min-width: 1161px) and (max-width: 1260px) {
    			left: 34%;
    		}
		}
		&:nth-child(32){
		    left: 46%;
		    top: 21%;
		    width: 100px;
		    @media (min-width: 768px) and (max-width: 970px) {
    			left: 43%;
    		}
    		@media (min-width: 971px) and (max-width: 1100px) {
    			left: 44%;
    		}
		}
		&:nth-child(33){
		    left: 57%;
		    top: 38%;
		    width: 95px;
		    @media (min-width: 768px) and (max-width: 800px) {
    			left: 63%;
    		}
    		@media (min-width: 801px) and (max-width: 890px) {
    			left: 62%;
    		}
    		@media (min-width: 891px) and (max-width: 930px) {
    			left: 61%;
    		}
    		@media (min-width: 931px) and (max-width: 1000px) {
    			left: 60%;
    		}
    		@media (min-width: 1001px) and (max-width: 1160px) {
    			left: 59%;
    		}
    		@media (min-width: 1161px) and (max-width: 1270px) {
    			left: 58%;
    		}
		}		
		&:nth-child(34){
			left: 60%;
			top: 57%;
			width: 100px;
			@media (min-width: 768px) and (max-width: 820px) {
    			left: 68%;
    		}
    		@media (min-width: 821px) and (max-width: 870px) {
    			left: 67%;
    		}
    		@media (min-width: 871px) and (max-width: 900px) {
    			left: 66%;
    		}
    		@media (min-width: 901px) and (max-width: 950px) {
    			left: 65%;
    		}
    		@media (min-width: 951px) and (max-width: 1000px) {
    			left: 64%;
    		}
    		@media (min-width: 1001px) and (max-width: 1060px) {
    			left: 63%;
    		}
    		@media (min-width: 1061px) and (max-width: 1199px) {
    			left: 62%;
    		}
    		@media (min-width: 1200px) and (max-width: 1300px) {
    			left: 61%;
    		}
		}
	}	
	@media (max-width: 767.98px) {
		display: none;
	}
}

.front-back-office{ 
        font-size: 15px;
        text-align: center;
        margin-top: 190px;
        @media(min-width: 768px) and (max-width: 991.98px){
            margin-top: 330px;
        }
        .botao-office{  
            border: 1px solid white;
            margin-bottom: 5px;
            padding: 5px;
            cursor: pointer;
            -webkit-transition-duration: .7s;
            transition-duration: .7s;
            transition-timing-function: linear;
            &:active{
                background-color: "$second-color";
                border: 1px solid white;
                p{
                    color: white;
                }
            }
            p{
                margin-bottom: 0;
                @media(min-width: 768px) and (max-width: 991.98px){
                    font-size: 12px;
                }   
            }
        }
        .botao1-left{
            background-color: $second-color;
        }
        .apagar-botao1-left{
            opacity: .2;
        }
    }

.lista-cerebro{
    display: none;
    @media (max-width: 767.98px){
        display: block;
    }
    .front-back-office{
        margin-top: 0px;
        &:nth-child(2){
            margin-top: 50px;
        }
    }
    .container{
        margin-bottom: 5em;
    }
    li{
        font-size: 16px;
        color: white;
        opacity: .1;
        cursor: pointer;
        &:nth-child(1){
            opacity: 1;
            cursor: pointer;
        }
        &:nth-child(2){
            opacity: 1;
            cursor: pointer;
        }
        &:nth-child(7){
            opacity: 1;
            cursor: pointer;
        }
        &:nth-child(10){
            opacity: 1;
            cursor: pointer;
        }
        &:nth-child(12){
            opacity: 1;
            cursor: pointer;
        }
        &:nth-child(15){
            opacity: 1;
            cursor: pointer;
        }
        &:nth-child(16){
            opacity: 1;
            cursor: pointer;
        }
        &:nth-child(17){
            opacity: 1;
            cursor: pointer;
        }
    }
}


.solucoes-div2{
	background-color: $second-color;
	padding: 40px 0px 40px;
    margin-bottom: 0px;
	p{
		color: white;
		font-size: 18px; 
		line-height: 22px;
	}
	h3{
		color:white;
		font-size: 28px;
	}
	.container{
		margin-bottom: 0;
	}
	a{
		color: white;
		text-decoration: underline;
	}
}

.solucoes-div3{
	padding-top: 40px;
    .titulo{
        width: 10%;
        @media(max-width: 767.98px){
            width: 25%;
        }
    }
	.col-sm-10{
		margin-top: 30px;
	}
	.col-sm-4{
	height: 300px;
	line-height: 300px;
	border: 1px solid lightgray;
	margin-right: 25px;
	margin-bottom: 25px;
	@media(max-width: 575.98px){
		margin-right: 0px;
	}
		img{
			width: 100%;
			vertical-align: middle;
            @media (min-width: 576px) and (max-width: 767.98px){
                max-width: 75%;
                margin-left: 13%;
            }
		}
		&:nth-child(1){
			margin-left: -50px;
			@media(max-width: 575.98px){
				margin-left: 0;
			}
		}
		&:nth-child(3){
			margin-right: 0;
		}
	}
    .container{
        margin-bottom: 5em;
    }
    .botao{
        font-size: 20px;    
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
    }
}

.solucoes-div4{
	text-align: center;
	.col-sm-4{
		height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
		p{
			font-size: 20px;
			padding: 0 90px;
			line-height: 24px;
			vertical-align: center;
            color: white;
            @media(min-width: 768px) and (max-width: 991.98px){
                padding: 0 40px;                    
            }
            @media(min-width: 992px) and (max-width: 1199.98px){
                padding: 0 55px;                    
            }
			&:nth-child(1){
				color: $second-color;
				font-size: 20px; 
				font-weight: 700;
				margin-bottom: 0;
                padding-top: 180px;
                @media(max-width: 575.98px){
                    padding-top: 150px;                    
                }
			}
		}
        &:nth-child(3){
            background-image: url('../img/produto-1.png');                
        }
        &:nth-child(4){
            background-image: url('../img/produto-2.png');
        }
        &:nth-child(5){
            background-image: url('../img/produto-3.png');
        }
        &:nth-child(6){
            background-image: url('../img/produto-4.png');
        }
        &:nth-child(7){
            background-image: url('../img/produto-5.png');
        }
        &:nth-child(8){
            background-image: url('../img/produto-6.png');
        }
	}	
    hr{
        margin-bottom: 50px;
        width: 10%;
    }
}