.titulo{
  width: 100%;
  height: 210px;
  background-color: #374E5A;
  margin-top: 67px;
  h1{
    font-size: 45px;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding-top: 80px;
    margin-bottom: 0.5px;
  }

}

.row1{
  width: 100%;
  height: auto;
  display: inline-block;
}

.coluna1{
  display: inline-block;
  float: left;
  width: 50%;
  height: 700px;
  transform: skewX(-25deg);
  margin-left: -13%;
  overflow: hidden;
  .fundo{
    background-image: url('../img/fundo1.png');
    height: 700px;
    transform: skewX(25deg);
    margin-left: 24%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}

.coluna2{
  display: inline-block;
  float: left;
  width: 50%;
  height: 700px;
  .consultoria{
    width: 50%;
    margin-left: 37%;
    margin-top: 17%;
    img{
      position: absolute;
    }
    h2{
      margin-left: 105px;
    }
    p{
      font-size: 15px;
      padding-top: 15px;
      color: black;
    }
  }
  .governanca{
    width: 60%;
    margin-left: 22%;
    margin-top: 15%;

    img{
      position: absolute;
    }
    h2{
      margin-left: 100px;
    }
    p{
      font-size: 16px;
      padding-top: 15px;
      color: black;
    }
  }
}

.row2{
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: #7D95A1;
  margin-top: -7px;
  overflow: hidden;
}

.coluna3{
  width: 50%;
  display: inline-block;
  float: left;
  position: relative;
}

.gerenciamento{
  width: 60%;
  position: absolute;
  left: 52%;
  margin-top: 60px;
  img{
    position: absolute;
    margin-left: 82%;
    top: 10%;
    width: 17%;
  }
  h2{
    color: white;
    margin-right: 96px;
    text-align: right;
  }
  p{
    color: white;
    padding-top: 15px;
    font-size: 18px;
    text-align: right;
  }
}

.gerenciamentop{
  width: 60%;
  position: absolute;
  left: 32%;
  margin-top: 385px;
  img{
    position: absolute;
    margin-left: 82%;
    top: 13%;
    width: 17%;
  }
  h2{
    color: white;
    margin-right: 96px;
    text-align: right;
  }
  p{
    color: white;
    padding-top: 15px;
    font-size: 18px;
    text-align: right;
  }
}

.coluna4{
  width: 50%;
  display: inline-block;
  float: right;
  height: 700px;
  transform: skewX(-25deg);
  margin-right: -12%;
  overflow: hidden;
  .fundo{
    float: right;
    background-image: url('../img/fundo2.png');
    height: 700px;
    transform: skewX(25deg);
    margin-right: 24%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}

.row3{
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: -7px;
}

.coluna5{
    display: inline-block;
    float: left;
    width: 50%;
    height: 700px;
    transform: skewX(-25deg);
    margin-left: -18%;
    overflow: hidden;
    .fundo{
      background-image: url('../img/fundo3.png');
      height: 700px;
      transform: skewX(25deg);
      margin-left: 24%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
}

.coluna6{
  display: inline-block;
  float: left;
  width: 50%;
  height: 700px;
  .governanca{
    margin-left: 25%;
    margin-right: -5%;
    margin-top: 45%;
    h2{
      text-align: right;
    }
    p{
      text-align: right;
      font-size: 18px;
      color: black;
    }
  }
}

.row4{
  width: 100%;
  height: 500px;
  position: relative;
  background-color: #33BB9C;
  margin-top: -7px;
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.2);
    background-size: 100%;
    background-image: linear-gradient(to right,rgba(0,0,0,0),
    rgba(0,0,0,0),
    rgba(0,0,0,.2));
  }
  .proama{
    width: 40%;
    text-align: center;
    margin-left: 30%;
    position: absolute;
    margin-top: 9%;
    z-index: 9999;
    h2{
      color: white;
    }
    p{
      font-size: 17px;
      padding-top: 10px;
      color: white;
    }
  }
}
