.fale-conosco{
  margin-top: 73px;
  background-image: url('../img/bg-trabalheconosco.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .container{
    margin-bottom: 0;
  }
  h1{
    font-size: 55px;
    margin-top: 80px;
    color: white;
    @media (max-width: 575.98px){
      font-size: 45px;
    }
  }
  .col-sm-8{
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    @media(max-width: 575.98px){
      padding-left: 15px;
      padding-right: 15px;
    }
    .mc-field-group{
      width: 100%;
      border: none;
      input, textarea{
        width: 100%;
        border: none;
        margin-bottom: 18px;
        padding: 5px 12px;
        font-size: 16px;
        color: gray; 
      }
    }  
  }
  button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    font-size: 18px;
    margin-bottom: 50px;
  }
  input{
    border-radius: 25px !important;
    width: 100%;
  }
  @media (min-width: 1800px){
    height: 100vh;
  }
}
