@import "../variables";

.col-sm-7{
  margin-top: 80px;
  padding-right: 0px;
  @media(min-width: $screen-sm-min){
    padding-right: 35px;
  }
}

.roberto{
  margin-top: 200px;
  @media(min-width: $screen-sm-min){
    border-left: 1px solid #33BB9C;
    padding-left: 35px;
  }
  .tituloR{
    font-size: 24px;
    color: #33BB9C;
  }
  .textoroberto{
    width: 92%;
  }
}

.row{
  margin-bottom: 55px;
}
.botao1, .botao2{
  display: inline-block;
  width: 260px;
  border: 1px solid #33BB9C;
  height: 62px;
  position: absolute;
  @media(min-width: $screen-sm-min){
    width: 305px;
  }
  p{
    padding-left: 9px;
    margin-top: 8px;
    line-height: 15px;
    font-size: 12px;
    @media(min-width: $screen-sm-min){
      padding-left: 10px;
      font-size: 13px;
    }
  }
}

.botao1{
  padding-left: 7px;
  padding-top: 7px;
  position: absolute;
  @media(min-width: $screen-sm-min){
      margin-top: 15px;
  }
}

.botao2{
  padding-left: 7px;
  position: absolute;
  margin-top: 28%;
  margin-left: 0px;
  @media(min-width: $screen-sm-min){
    margin-top: 15px;
    margin-left: -5px;
  }
}

.rowF{
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: -25px;
}

.textoR2{
  display: inline-block;
  float: left;
  width: 50%;
}

.fotoroberto{
  width: 50%;
  display: inline-block;
  float: right;
  margin-top: 11px;
  transform: skewX(-12deg);
  overflow: hidden;  
  .foto{
    float: right;
    background-image: url('../img/roberto.png');
    width: 100%;
    background-position: center;
    background-size: cover;
    transform: skewX(14deg);
    margin-right: 24%;
  }
}
