@import "bootstrap";
@import "compass/css3";

// icons font awesome
@import "iconsawesome/font-awesome";

// btns social share
@import "socialshare";

// Módulos
@import "modules/banner";
@import "modules/bannerconteudo";
@import "modules/contato";
@import "modules/banner-home";
@import "modules/posts";
@import "modules/page_quemsomos";
@import "modules/page_proama";
@import "modules/page_servicos";
@import "modules/page_maturidadegestao";
@import "modules/page_nucleo";
// scroll animation grano
@import "scrollanimationgrano";

body{
  font-weight: 400px;
}
.alignright{
  float: right;
}
.alignleft{
  float: left;
}

// Heading =====================================================================
h1,h2,h3,h4,h5{
  text-transform: uppercase;
  a{
    color: $text-color;
  }
}
// / Heading ===================================================================

// UI ==========================================================================
textarea:focus, input:focus, select:focus, button:focus {
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
}
.btn{
  border-radius: 0;
  transform: skewX(-20deg);
  background: transparent;
  border-left: 4px solid;
  border-right: 4px solid;
  font-weight: 200;
  color: $text-color;
  text-transform: uppercase;
  border-color: lighten($brand-success, 10%);
  @include box-shadow(none);
  @include transition-property(border-color);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in-out);
  &:before, &:after, .before, .after{
    content: '';
    width: 100%;
    top: 0;
    height: 100%;
    display: block;
    background-color: $brand-success;
    position: absolute;
    z-index: -2;
    @include opacity(0);
    @include transition-duration(0.5s);
    @include transition-property(opacity, width);
  }
  &:before, .before{
    left: 0;
  }
  &:after, .after{
    right: 0;
  }
  &:hover{
    border-color: $brand-success;
    background-color: transparent;
    @include box-shadow(none);
    &:before, &:after, .before, .after{
      @include opacity(1);
      width: 0;
    }
  }

  &:focus, &:active{
    @include box-shadow(none);
    background-color: transparent;
  }
}

// form-control
.form-control{
  font-weight: 300;
}
// / UI ========================================================================

// preloader ===================================================================
body {
    overflow: hidden;
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
// / preloader =================================================================

// whitelabel

.container{
  margin-bottom: $container-margim-bottom;
}
a{
  @include transition-property(color);
  @include transition-duration(0.4s);
  &:hover{
    text-decoration: none;
  }
}

// nav bar =====================================================================

.navbar{
  z-index: 99999;
  border-bottom: 1px solid $brand-success;
  background: $body-bg;
  .navbar-toggle{
    border: none;
    top: 17px;
    right: -9px;
    &:hover{
      background-color: $body-bg;
    }
    span.icon-bar:last-child{
      &:before{
        content: 'Menu';
        position: absolute;
        top: 11px;
        left: 10px;
        color: black;
      }
    }
    span.icon-bar:nth-child(2){
      display: none;
    }
    span.icon-bar:nth-child(3){
      margin-bottom: 18px;
      width: 37px;
    }
    span.icon-bar:nth-child(4){
      margin-bottom: 18px;
      width: 37px;
    }

  }

  .container{
    margin-bottom: 0;
    a{
      text-transform: uppercase;
      font-size: 12px;
      line-height: 16px;
    }
    .navbar-collapse{
        background-color: $brand-success;
        @media (min-width: $screen-md-min) {
        background-color: $body-bg;
        }
      .menu{
        float: left;
        padding-top: 35px;
        @media (min-width: $screen-md-min) {
          padding-top: 0px;
        }
      }
      .buscar{
        float: left;
        font-size: 24px;
        padding: 21px;
        padding-right: 0;
        padding-top: 12px;
        color: white;
        position: absolute;
        left: 0;
        @media (min-width: $screen-md-min) {
            color: $brand-success;
            position:inherit;
        }
      }
    }
    ul.navbar-nav{
      padding-top: 1em;
      li{
        width: 100%;
        text-align: left;
        padding-top: 3px;
        @media (min-width: $screen-sm-min) {
          width: 58px;
          text-align: center;
          padding-top: 8px;
        }
        @media (min-width: $screen-md-min) {
            width: 80px;
        }
        a{
          color: white;
          @media (min-width: $screen-sm-min) {
          color: #374E5A;
          }
        }
      }
      #menu-item-11{
        width: 112px;
      }
      #menu-item-12{
        width: 155px;
        padding-top: 0;
      }
      #menu-item-14{
        width: 100%;
        padding-top: 0;
        @media (min-width: $screen-sm-min) {
            width: 103px;
        }
      }

    }
  }
  #bs-example-navbar-collapse-1{
    // padding-top: 2em;
    // padding-left: 2em;
    clear: right;
    padding-top: 6px;
    height: 340px;
  }
  a.navbar-brand{
    height: 90px;
    padding: 0;

    img{
      margin-top: -20px;
      width: 200px;
      margin-left: 15px;
      @media (min-width: $screen-sm-min) {
        margin-top: -29px;
        width: 225px;
        margin-left: 15px;
      }
      @media (min-width: $screen-md-min) {
        width: 260px;
      }
    }
  }
  .dropdown-menu{
    border: none;
    background-color: rgba(255,255,255,.7);
    @include box-shadow(0);
    @include border-radius(0);
  }
  ul.navbar-social{
    padding-top: .5em;
        margin-bottom: 0;
        display: none;
     @media (min-width: $screen-md-min) {
      display: block;
     }
    li{
      display: inline-block;
      list-style: none;
      margin-left: 5px;
      a{
        color: lighten($text-color, 30%);
        height: 20px;
        display: block;
        background-repeat: no-repeat;
        font-size: 10px;

        &:before{
          @include fa-icon();
          width: 22px;
          height: 30px;
          font-size: 16px;
          @include border-radius(15px);
          color: lighten($text-color, 30%);
          padding-top: 7px;
          text-align: center;
          // background-color: lighten($gray-base, 60%);
          @include transition-property(background-color);
          @include transition-duration(0.6s);
        }
        &:hover{
          text-decoration: underline;
        }
      }
      &.facebook a{
        &:before{
          content: '\f09a';
        }
        &:hover:before{
          // background-color: #3B5998;
        }
      }
      &.twitter a{
        &:before{
          content: '\f099';
        }
        &:hover:before{
          // background-color: #55ACEE;
        }
      }
      &.youtube a{
        &:before{
          content: '\f16a';
        }
        &:hover:before{
          // background-color: #E62817;
        }
      }
      &.instagram a{
        &:before{
          content: '\f16d';
        }
        &:hover:before{
          // background-color: #E62817;
        }
      }
      &.flickr a{
        &:before{
          content: '\f16e';
        }
        &:hover:before{
          // background-color: #FF0084;
        }
      }
      &.linkedin a{
        &:before{
          content: '\f0e1';
        }
        &:hover:before{
          // background-color: #007AB9;
        }
      }
      &.googleplus a{
        &:before{
          content: '\f0d5';
        }
        &:hover:before{
          // background-color: #DC4E41;
        }
      }
      &.contato a{
        &:before{
          content: '\f003';
        }
        &:hover:before{
          // background-color: #DC4E41;
        }
      }
    }
  }
  &.navhome{
    display: block;
    top: -131px;
    @include transition-property(top);
    @include transition-duration(.5s);
    top: 0;

    div, ul, a{
      @include opacity(1);
      @include transition-property(opacity);
      @include transition-duration(1s);
    }
    @media (min-width: $screen-sm-min) {
      display: block;
      top: -186px;
      div, ul, a{
        @include opacity(1);
      }
      @media (min-width: $screen-md-min) {
          top: -131px;
      }
    }
    &.active{
      top: 0;
      div, ul, a{
        @include opacity(1);
      }
    }
  }
}

// box-buscar
  .box-buscar{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparentize($text-color, .5);
    top: 0;
    left: 0;
    display: block;
    z-index: 99999;
    border: 0 solid $text-color;
    visibility: hidden;
    opacity: 0;
    @include transition-property(visibility, border, opacity, background-color);
    @include transition-duration(1s);
    .form{
      width: 50%;
      height: 100%;
      text-align: center;
      float: right;
      margin: 0 auto;
      display: block;
      margin-right: 25%;
      margin-top: 44%;
      @include transition-property(margin-right, width);
      @include transition-duration(1s);
      @media (min-width: $screen-sm-min) {
        margin-top: 15%;
      }
      .form-control{
        background: transparent;
        @include border-radius(0);
        @include box-shadow(none);
        border: 0;
        border-bottom: 3px solid $body-bg;
        text-align: center;
        font-size: 30px;
        height: 60px;
        color: $body-bg;

        @media (min-width: $screen-sm-min){
            font-size: 40px;
        }
      }
      .help{
        color: darken($body-bg, 30%);
      }
    }
    // quando o box-buscar for ativo
    &.active{
      visibility: visible;
      opacity: 1;
      background-color: transparentize($text-color, .05);
      border: 30px solid $text-color;
      @media (min-width: $screen-sm-min) {
        border: 70px solid $text-color;
      }
      .form{
        width: 80%;
        margin-right: 10%;
        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
           width: 70%;
           margin-right: 15%;
         }
      }
    }
    .btn{
      border-color: $body-bg;
      font-size: 17px;
      color: $body-bg;
      &:hover{
        border-color: $brand-success;
      }
      &:focus, &:active{
        color: $body-bg;
      }
    }
    .btnFechar{
      width: 50px;
      height: 50px;
      display: block;
      position: fixed;
      top: 46px;
      right: 46px;
      cursor: pointer;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         width: 70px;
         height: 70px;
         top: 80px;
         right: 80px;
       }
      &:after{
        content: '';
        width: 100%;
        height: 4px;
        background-color: $body-bg;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        transform: rotate(45deg);
      }
      &:before{
        content: '';
        width: 100%;
        height: 4px;
        background-color: $body-bg;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        transform: rotate(-45deg);
      }
    }
  }
// / box-buscar

// / nav bar ===================================================================

// Back to top =================================================================
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background: $body-bg;
}

.back-to-topfaq {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background: $body-bg;
}

// / Back to top ===============================================================

// widget
li.widget{
  @extend .well;
  list-style: none !important;
  h2{
    font-size: $font-size-h4;
    margin-bottom: 10px;
  }
  ul,li{
    list-style: none;
  }
}
.widget_search{
  label{
    span{
      display: none;

    }
  }
  form{
    @extend .input-group;
  }
  .search-submit{
    @extend .btn;
    @extend .btn-default;
    float: left;
    @include border-top-right-radius(0);
    @include border-bottom-right-radius(0);
    span{
      @extend .fa;
      @extend .fa-search;
      // @extend .glyphicon;
      // @extend .glyphicon-search;
      font-size: 0;
      &:before{
        font-size: $font-size-base+2;
      }
    }
  }
  input{
    @extend .form-control;
  }
}

// Portfolio ===================================================================
.container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> slide
#owl-single-porfolio{
  .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
  }
}
// / Portfolio =================================================================



// Blog ========================================================================
body.blog{
  padding-top: 126px;
}
.container.blog-home, .container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> post thumb
.single-post-thumb{
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thumb-post{
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($text-color, 0.7);
  }
}
.blog-single.thumb-active{
  margin-top: -135px;
  h1{
    color: $body-bg;
    margin-bottom: 90px;
    font-size: 30px;
    @media (min-width: $screen-sm-min){
      font-size: 36px;
    }

  }
  .data{
    margin-bottom: 30px;
  }
}
// / Blog ======================================================================

// FOOTER

footer {
  background-color: $text-color;
  position: relative;
  @media (min-width: $screen-sm-min) {
    background: $body-bg;
  }
  .container-fluid{
    overflow: hidden;
  }
  .menu-footer{
    background-color: $text-color;
    width: 78%;
    padding-top: 94px;
    padding-bottom: 79px;
    padding-left: 19%;
    margin-left: -15%;
    display: inline-block;
    @media (min-width: $screen-md-min) {
        width: 70%;
        padding-top: 50px;
        padding-bottom: 24px;
        padding-left: 11%;
        margin-left: -9%;
    }
    @include transform(skewX(-25deg));
    .footer-inner{
      @include transform(skewX(25deg));
    }
    .col1,.col2{
      width: 100%;
      display: inline-block;
      float: left;
      background-color: $text-color;
      @media (min-width: $screen-sm-min) {
          width: 50%;
          background: transparent;
         }
    }
    @media (min-width: $screen-sm-min) {
      a{
        color: $body-bg;
        font-family: $font-family-serif;
       }
     }
    h5{
        color: white;
        margin-left: 40px;
        @media (min-width: $screen-sm-min) {
          color: $brand-success;
          margin-left: 0;
        }
      }
    @media (min-width: $screen-sm-min) {
    .col2{
      a, h5{
        color: $brand-success;
      }
    }
    }
    @media (min-width: $screen-sm-min) {
    ul{
      padding-left: 0;
    }
    }
    .endereco{
      width: 100%;
      color: $body-bg;
      font-size: 12px;
      opacity: 0;
      display: inline-block;
      h5{
        color: $body-bg;
      }
      p{
        color: $body-bg;
        width: 85%;
        @media (min-width: $screen-md-min) {
            width: auto;
        }
      }
      @media (min-width: $screen-sm-min) {
        opacity: 0.7;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .logo{
      float: right;
      background-image: url('../img/footer-logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 37%;
      height: 228px;
      margin-top: 258px;
      background-position: center bottom;
      display: inline-block;
      @media (min-width: $screen-md-min) {
          margin-top: 210px;
      }
    }

   }
}

// / FOOTER
// resultado de buscar
.notfound{
  margin-top: 176px;
margin-bottom: 152px;
}
// / resultado de budca


.fb-comments{
  margin-left: -9px;
  margin-top: -10px;
}
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
   width: 100% !important;
}

.social{
  margin-top: 30px;
  margin-bottom: 50px;
  a{
    margin-left: 0px;
    margin-right: 3px;
  }
}

// Internas

.tituloI{
  width: 100%;
  height: 210px;
  background-color: #33BB9C;
  margin-top: 80px;
  margin-bottom: 80px;
  h1{
    font-size: 35px;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding-top: 75px;
    margin-bottom: 0.5px;
    @media (min-width: $screen-sm-min) {
      font-size: 45px;
      padding-top: 55px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 45px;
      padding-top: 80px;
    }
  }
  .texto{
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    color: white;
    @media (min-width: $screen-sm-min){
      font-size: 19px;
    }
  }
}
.row1,.row2{
  position: relative;
  .detalhes{
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 20px;
    @include transform(skewX(-25deg));
    height: 80%;
    background-color: $brand-danger;
  }
  .box{
    width: 90%;
    margin-left: 10%;
    margin-top: 8%;
    cursor: pointer;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       width: 61%;
       margin-left: 37%;
     }
    img{
      position: absolute;
      width: 65px;
    }
    h3{
      margin-left: 85px;
    }
    p{
      font-size: 15px;
      padding-top: 15px;
      color: black;
      // overflow: hidden;
      height: auto;
      opacity: 1;
      @include transition-duration(0.5s);
      @include transition-property(height, opacity);
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         overflow: hidden;
         height: 0;
         opacity: 0;
       }
    }
    &:hover{
      p{
        height: 118px;
        opacity:1;
      }
    }
  }
}

.row1{
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: -7px;
  position: relative;

}

.row2{
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: #7D95A1;
  margin-top: -7px;
  overflow: hidden;
  .box{
    position: relative;

    img{
      position: absolute;
      top: 0;
      right: 0;
      width: 65px;
    }
    h3{
      color: white;
      margin-right: 96px;
      text-align: right;
      margin-left: 0;
    }
    p{
      color: $body-bg;
      text-align: right;
    }
  }
}

.coluna-esquerda{
  display: inline-block;
  float: left;
  width: 60%;
  height: 700px;
  transform: skewX(-25deg);
  margin-left: -20%;
  overflow: hidden;
  .fundo{
    height: 100%;
    transform: skewX(25deg);
    margin-left: 24%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}

.coluna2{
  display: inline-block;
  float: left;
  width: 100%;
  height: 100%;
  /* Small devices (tablets, 768px and up) */
   @media (min-width: $screen-sm-min) {
     width: 60%;
   }
  .consultoria{
    width: 50%;
    margin-left: 37%;
    margin-top: 17%;
    img{
      position: absolute;
    }
    h2{
      margin-left: 105px;
    }
    p{
      // font-size: 15px;
      padding-top: 15px;
      color: black;
    }
  }
  .governanca{
    width: 60%;
    margin-left: 22%;
    margin-top: 15%;

    img{
      position: absolute;
    }
    h2{
      margin-left: 100px;
    }
    p{
      // font-size: 16px;
      padding-top: 15px;
      color: black;
    }
  }
}

.coluna3{
  width: 100%;
  display: inline-block;
  float: left;
  position: relative;
  /* Small devices (tablets, 768px and up) */
   @media (min-width: $screen-sm-min) {
    width: 50%;
   }
}

.coluna-direita{
  width: 50%;
  display: inline-block;
  float: right;
  transform: skewX(-25deg);
  margin-right: -12%;
  overflow: hidden;
  height: 100%;
  .fundo{
    background-image: url(../img/proama-foto2.jpg);
    height: 100%;
    transform: skewX(25deg);
    width: 100%;
    margin-left: -16%;
  }
}

.interna-final{
  width: 100%;
  height: 500px;
  position: relative;
  background-color: #33BB9C;
  margin-top: -7px;
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.2);
    background-size: 100%;
    background-image: linear-gradient(to right,rgba(0,0,0,0),
    rgba(0,0,0,0),
    rgba(0,0,0,.2));
  }
  .texto{
    width: 100%;
    text-align: center;
    margin-left: 0;
    position: absolute;
    margin-top: 9%;
    z-index: 9999;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       margin-left: 30%;
       width: 40%;
     }
    h2{
      color: white;
    }
    p{
      // font-size: 17px;
      padding-top: 10px;
      color: white;
    }
  }
}
